/.idea/
/.settings/
/.vscode/
/.classpath/
/.project/
RESTest.iml
TODO.txt
jMetal.log
/target
/allure-results/
/src/test/resources/csvData/csvSample.csv
/src/test/resources/csvData/coverage-results.csv
/src/test/resources/csvData/test-cases.csv
/src/test/resources/csvData/test-cases-coverage.csv
/src/test/resources/csvData/test-results.csv
/src/test/resources/csvData/test-results-coverage.csv
/src/test/resources/csvData/test-coverage.json
/src/test/resources/csvData/test-coverage.csv
/log/*

/src/test/resources/auth/*
!/src/test/resources/auth/Sample
/src/test/resources/auth/Sample/*
!/src/test/resources/auth/Sample/apikeys.json
!/src/test/resources/auth/Sample/headers.json
!/src/test/resources/auth/Sample/oauth.json
!/src/test/resources/auth/Sample/oauth_wrong.json
!/src/test/resources/auth/Sample/oauth_short_expiration.json

/idl_aux_files
src/test/resources/file-manager/*
.classpath

.factorypath

.project

src/main/resources/TestConfigurationMetamodel/configuration-model-output.yaml
src/test/resources/restest-test-resources/compare2.postman_collection.json
src/test/resources/restest-test-resources/test_collection.postman_collection.json
src/test/resources/restest-test-resources/test_collection_urlencoded.postman_collection.json
/bin/

stateful_data.json