openapi: 3.0.2
servers:
  - description: Vimeo.com
    url: https://api.vimeo.com
info:
  contact:
    url: https://developer.vimeo.com/help
    x-twitter: vimeo
  title: Vimeo
  version: "3.4"
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: https://twitter.com/vimeo/profile_image?size=original
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.7.31
      format: openapi
      url: https://raw.githubusercontent.com/vimeo/openapi/master/api.yaml
      version: "3.0"
  x-providerName: vimeo.com
security:
  - oauth2:
      - create
      - delete
      - edit
      - email
      - interact
      - private
      - promo_codes
      - public
      - purchase
      - purchased
      - stats
      - upload
      - video_files
tags:
  - name: API Information
  - name: Albums\Album videos
  - name: Albums\Custom album logos
  - name: Albums\Custom album thumbnails
  - name: Albums\Essentials
  - name: Authentication Extras\Essentials
  - name: Categories\Channels
  - name: Categories\Essentials
  - name: Categories\Groups
  - name: Categories\Subscriptions
  - name: Categories\Videos
  - name: Channels\Categories
  - name: Channels\Essentials
  - name: Channels\Moderators
  - name: Channels\Private channel members
  - name: Channels\Subscriptions and subscribers
  - name: Channels\Tags
  - name: Channels\Videos
  - name: Embed Presets\Custom Logos
  - name: Embed Presets\Essentials
  - name: Embed Presets\Videos
  - name: Groups\Essentials
  - name: Groups\Subscription
  - name: Groups\Users
  - name: Groups\Videos
  - name: Likes\Essentials
  - name: On Demand\Backgrounds
  - name: On Demand\Essentials
  - name: On Demand\Genres
  - name: On Demand\Posters
  - name: On Demand\Promotions
  - name: On Demand\Purchases and Rentals
  - name: On Demand\Regions
  - name: On Demand\Seasons
  - name: On Demand\Videos
  - name: Portfolios\Essentials
  - name: Portfolios\Videos
  - name: Projects\Essentials
  - name: Projects\Videos
  - name: Tags\Essentials
  - name: Users\Essentials
  - name: Users\Feed
  - name: Users\Follows
  - name: Users\Internal
  - name: Users\Pictures
  - name: Users\Watch History
  - name: Videos\Comments
  - name: Videos\Content Ratings
  - name: Videos\Creative Commons
  - name: Videos\Credits
  - name: Videos\Embed Privacy
  - name: Videos\Essentials
  - name: Videos\Languages
  - name: Videos\Recommendations
  - name: Videos\Tags
  - name: Videos\Text Tracks
  - name: Videos\Thumbnails
  - name: Videos\Upload
  - name: Videos\Versions
  - name: Videos\Viewing Privacy
  - name: Watch Later Queue\Essentials
paths:
  /videos:
    get:
      operationId: search_videos
      parameters:
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The attribute by which to filter the results. `CC` and related filters target videos with the corresponding Creative Commons licenses. For more information, see our [Creative Commons](https://vimeo.com/creativecommons) page.
          in: query
          name: filter
          required: false
          schema:
            enum:
              - CC
              - CC-BY
              - CC-BY-NC
              - CC-BY-NC-ND
              - CC-BY-NC-SA
              - CC-BY-ND
              - CC-BY-SA
              - CC0
              - categories
              - duration
              - in-progress
              - minimum_likes
              - trending
              - upload_date
            type: string
        - description: A comma-separated list of video URLs to find.
          in: query
          name: links
          required: false
          schema:
            example: https://vimeo.com/122375452,https://vimeo.com/273576296
#            type: string
            type: array
            items:
              type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: Search query.
          in: query
          name: query
#          required: true
          schema:
            example: staff picks
            type: string
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - alphabetical
              - comments
              - date
              - duration
              - likes
              - plays
              - relevant
            type: string
        - description: The comma-separated list of videos to find.
          in: query
          name: uris
          required: false
          schema:
            example: /videos/122375452,/videos/273576296
#            type: string
            type: array
            items:
              type: string
      x-dependencies:
        - OnlyOne(query, links);
        - OnlyOne(query, uris);
        - ZeroOrOne(links, filter);
        - ZeroOrOne(links, sort);
        - ZeroOrOne(uris, filter);
        - ZeroOrOne(uris, sort);
      responses:
#        default: # Added
#          description: "Default" # Added
        "200":
          content:
            application/vnd.vimeo.video+json:
              schema:
                type: object # Added
                properties:
                  total: # Added
                    type: integer
                    nullable: true
                  page: # Added
                    type: integer
                    nullable: true
                  per_page: # Added
                    type: integer # Added
                    nullable: true
                  paging: # Added
                    type: object
                    properties: # Added
                      next: # Added
                        type: string
                        nullable: true
                      previous: # Added
                        type: string
                        nullable: true
                      first: # Added
                        type: string
                        nullable: true
                      last: # Added
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/video"
#                  type: array
          description: The search results were returned.
#        "400":
#          content:
#            application/vnd.vimeo.video+json:
#              schema:
#                $ref: "#/components/schemas/error"
#          description: |-
#            * Error code 2101: Either the `uris` or `links` parameter has filtering or sorting arguments.
#            * Error code 2204: There is a problem with the batch request.
#        "503":
#          content:
#            application/vnd.vimeo.video+json:
#              schema:
#                $ref: "#/components/schemas/legacy-error"
#          description: |-
#            * Search is disabled.
#            * Error code 7300: There was an internal search error.
      summary: Search for videos
      tags:
        - Videos\Essentials
components:
  schemas:
    activity-3-1:
      properties:
        category:
          allOf:
            - $ref: "#/components/schemas/category"
          description: The category that this event occurred for. This will be preset for only "category" activity types.
        channel:
          allOf:
            - $ref: "#/components/schemas/channel"
          description: The channel that this event occurred for. This will be present for only "channel" activity types.
        clip:
          allOf:
            - $ref: "#/components/schemas/video"
          description: Video associated with ths activity.
        group:
          allOf:
            - $ref: "#/components/schemas/group"
          description: The group that this event occurred for. This will be present for only "group" activity types.
        metadata:
          description: The activity's metadata.
          properties:
            connections:
              description: A list of resource URIs related to the activity.
              properties:
                related:
                  description: Related content for this activity.
                  nullable: true
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /users/152184/activities?offset=20
                      type: string
                  required:
                    - options
                    - uri
                  type: object
              required:
                - related
              type: object
          required:
            - connections
          type: object
        tag:
          allOf:
            - $ref: "#/components/schemas/tag"
          description: The tag that this event occurred for. This will be present for only "tag" activity types.
        time:
          description: Time that the event occurred.
          example: 2017-05-17T17:46:09+00:00
          type: string
        type:
          description: Activity type
          enum:
            - appearance
            - category
            - channel
            - facebook_feed
            - group
            - like
            - ondemand
            - share
            - tag
            - twitter_timeline
            - upload
          example: appearance
          type: string
        user:
          allOf:
            - $ref: "#/components/schemas/user"
          description: The user that this event occurred for. This will be present for "like", "appearance", and "share" activity types.
      required:
        - clip
        - metadata
        - time
        - type
      title: Activity 3.1
      type: object
    album:
      properties:
        allow_continuous_play:
          description: Whether an album should allow continuous play.
          example: "true"
          type: boolean
        allow_downloads:
          description: Whether an album should allow downloads.
          example: "true"
          type: boolean
        allow_share:
          description: Whether an album should allow sharing.
          example: "true"
          type: boolean
        brand_color:
          description: Hexadecimal color code for the decorative color. For example, album videos use this color for player buttons.
          example: ff66ee
          nullable: true
          type: string
        created_time:
          description: The time in ISO 8601 format that the album was created.
          example: 2015-12-17T21:32:44+00:00
          type: string
        custom_logo:
          allOf:
            - $ref: "#/components/schemas/picture"
          description: The custom logo for this album.
          nullable: true
        description:
          description: A brief description of the album's content.
          example: Vimeo holiday videos!
          nullable: true
          type: string
        domain:
          description: The custom domain a user has selected for their album.
          example: mycustomdomain.com
          nullable: true
          type: string
        duration:
          description: The total duration in seconds of all the videos in the album.
          example: 1163
          type: number
        embed:
          description: Embed data for the album.
          properties:
            html:
              description: The responsive HTML code to embed the playlist on a website. This is present only when `privacy.view` isn't password and when the album has embeddable videos.
              nullable: true
              type: string
          required:
            - html
          type: object
        embed_brand_color:
          description: Whether to show the album's custom brand color in the player of the album's embedded playlist.
          example: "true"
          nullable: true
          type: boolean
        embed_custom_logo:
          description: Whether to show the album's custom logo in the player of the album's embedded playlist.
          example: "true"
          nullable: true
          type: boolean
        hide_nav:
          description: Whether to hide the Vimeo navigation when viewing the album.
          example: "true"
          type: boolean
        hide_vimeo_logo:
          description: Whether to hide the Vimeo logo in the player of the album's embedded playlist.
          example: "true"
          nullable: true
          type: boolean
        layout:
          description: The album's layout preference
          enum:
            - grid
            - player
          example: grid
          type: string
        link:
          description: The URL to access the album.
          example: https://vimeo.com/album/Vimeo Holiday Videos!
          type: string
        metadata:
          description: Metadata about the album.
          properties:
            connections:
              description: A collection of information that is connected to this resource.
              properties:
                videos:
                  description: Information about the videos that belong to this album.
                  properties:
                    options:
                      description: An array of the HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of videos on this connection.
                      example: 6
                      type: number
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /albums/3706071/videos
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
              required:
                - videos
              type: object
            interactions:
              description: A list of resource URIs related to the album.
              nullable: true
              properties:
                add_custom_thumbnails:
                  description: An action indicating that the authenticated user is an admin of the album and may therefore add custom thumbnails. This data requires a bearer token with the `private` scope.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI. This data requires a bearer token with the `private` scope.
                      items:
                        type: string
                      type: array
                    uri:
                      description: The API URI that resolves to the connection data. This data requires a bearer token with the `private` scope.
                      example: /users/123456/albums/654321/custom_thumbnails
                      type: string
                  required:
                    - options
                    - uri
                  type: object
                add_logos:
                  description: An action indicating that the authenticated user is an admin of the album and may therefore add custom logos. This data requires a bearer token with the `private` scope.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI. This data requires a bearer token with the `private` scope.
                      items:
                        type: string
                      type: array
                    uri:
                      description: The API URI that resolves to the connection data. This data requires a bearer token with the `private` scope.
                      example: /users/123456/albums/654321/logos
                      type: string
                  required:
                    - options
                    - uri
                  type: object
                add_videos:
                  description: An action indicating that the authenticated user is an admin of the album and may therefore add videos. This data requires a bearer token with the `private` scope.
                  properties:
                    options:
                      description: An array of HTTP methods allowed on this URI. This data requires a bearer token with the `private` scope.
                      items:
                        type: string
                      type: array
                    uri:
                      description: The API URI that resolves to the connection data. This data requires a bearer token with the `private` scope.
                      example: /users/123456/albums/654321/videos
                      type: string
                  required:
                    - options
                    - uri
                  type: object
              required:
                - add_custom_thumbnails
                - add_logos
                - add_videos
              type: object
          required:
            - connections
            - interactions
          type: object
        modified_time:
          description: The time in ISO 8601 format when the album was last modified.
          example: 2018-02-06T21:24:17+00:00
          type: string
        name:
          description: The album's display name.
          example: Vimeo Holiday Videos!
          type: string
        pictures:
          allOf:
            - $ref: "#/components/schemas/picture"
          description: The active image for the album; defaults to the thumbnail of the last video added to the album.
        privacy:
          description: The privacy settings of the album.
          properties:
            password:
              description: The privacy-enabled password to see this album. Present only when `privacy.view` is `password`.
              example: hunter1
              type: string
            view:
              description: |
                Who can view the album:

                Option descriptions:
                 * `anybody` - Anyone can view the album.
                 * `embed_only` - Only owner can see album, can be embedded off-site
                 * `password` - Only those with the password can view the album.
              enum:
                - anybody
                - embed_only
                - password
              example: anybody
              type: string
          required:
            - view
          type: object
        resource_key:
          description: The album resource key.
          example: e5595241643259c658ed6c85ca82985a6341edc7
          type: string
        review_mode:
          description: Whether album videos should use the review mode URL.
          example: "true"
          type: boolean
        sort:
          description: Sort type of the album.
          enum:
            - added_first
            - added_last
            - alphabetical
            - arranged
            - comments
            - likes
            - newest
            - oldest
            - plays
          example: added_first
          type: string
        theme:
          description: The album's color theme preference
          enum:
            - dark
            - standard
          example: dark
          type: string
        uri:
          description: The album's URI.
          example: /albums/3706071
          type: string
        url:
          description: The custom Vimeo URL a user has selected for their album.
          example: my-custom-url
          nullable: true
          type: string
        use_custom_domain:
          description: Whether the user has opted in to use a custom domain for their album.
          example: "false"
          type: boolean
        user:
          allOf:
            - $ref: "#/components/schemas/user"
          description: The owner of the album.
        web_brand_color:
          description: Whether an album should show the brand color in the web layout.
          example: "true"
          type: boolean
        web_custom_logo:
          description: Whether an album's custom logo should be shown in the web layout.
          example: "true"
          type: boolean
      required:
        - allow_continuous_play
        - allow_downloads
        - allow_share
        - brand_color
        - created_time
        - custom_logo
        - description
        - domain
        - duration
        - embed
        - embed_brand_color
        - embed_custom_logo
        - hide_nav
        - hide_vimeo_logo
        - layout
        - link
        - metadata
        - modified_time
        - name
        - pictures
        - privacy
        - resource_key
        - review_mode
        - sort
        - theme
        - uri
        - url
        - use_custom_domain
        - user
        - web_brand_color
        - web_custom_logo
      title: Album
      type: object
    api-app:
      properties:
        name:
          description: The name of the API app.
          example: Vimeo Android
          type: string
        uri:
          description: The canonical URI of the API app.
          example: /apps/12345
          type: string
      required:
        - name
        - uri
      title: API App
      type: object
    auth:
      properties:
        access_token:
          description: The access token string.
          example: 01019a4a62aec63db077317ab7bb429db75652401e
          type: string
        app:
          allOf:
            - $ref: "#/components/schemas/api-app"
          description: The API application associated with the token.
        expires_on:
          description: The date and time that the token expires.
          example: "1495048954"
          type: string
        refresh_token:
          description: The refresh token string.
          example: 3d3bc8a9cb7debfd01b270e419b2d265983362f9
          type: string
        scope:
          description: The scope or scopes that the token supports.
          example: private create edit upload public
          type: string
        token_type:
          description: |
            The token type:

            Option descriptions:
             * `bearer` - The token is of the `bearer` type.
          enum:
            - bearer
          example: bearer
          type: string
        user:
          allOf:
            - $ref: "#/components/schemas/user"
          description: The user associated with the token.
      required:
        - access_token
        - app
        - scope
        - token_type
      title: Auth
      type: object
    auth-error:
      properties:
        error:
          description: The name of the error.
          example: server_error
          type: string
        error_description:
          description: The description of the error.
          example: An error has occurred on Vimeo's servers. Please try again.
          type: string
      required:
        - error
        - error_description
      title: Auth Error
      type: object
    category:
      properties:
        is_deprecated: # added
          type: boolean
          nullable: true
        icon:
          $ref: "#/components/schemas/picture"
#          allOf:
#            - $ref: "#/components/schemas/picture"
          description: The active icon for the category.
        last_video_featured_time:
          description: The last time, in ISO 8601 format, that a video was featured.
          example: 2017-05-17T17:46:09+00:00
          type: string
          nullable: true
        link:
          description: The URL to access the category in a browser.
          example: https://vimeo.com/categories/animation
          type: string
        metadata:
          description: Metadata about the category.
          properties:
            connections:
              description: A collection of information that is connected to this resource.
              properties:
                channels:
                  description: Information about the channels related to this category.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of channels on this connection.
                      example: 90
                      type: number
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /categories/animation/channels
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
                groups:
                  description: Information about the groups related to this category.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of groups on this connection.
                      example: 15
                      type: number
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /categories/animation/groups
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
                users:
                  description: Information about the users related to this category.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of users on this connection.
                      example: 140
                      type: number
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /categories/animation/videos
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
                videos:
                  description: Information about the videos related to this category.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of videos on this connection.
                      example: 960
                      type: number
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /categories/animation/videos
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
              required:
                - channels
                - groups
                - users
                - videos
              type: object
#            interactions:  # private_token
#              description: The permissible actions related to the category.
#              properties:
#                follow:
#                  description: An action indicating if the authenticated user has followed this category.
#                  properties:
#                    added:
#                      description: Whether the authenticated user has followed this category.
#                      example: "true"
#                      type: boolean
#                    added_time:
#                      description: The time in ISO 8601 format that the user followed this category, or the null value if the user hasn't followed this category.
#                      example: 2017-05-17T17:46:09+00:00
#                      nullable: true
#                      type: string
#                    uri:
#                      description: "The URI for following or unfollowing this category: PUT to this URI to follow the category, or DELETE to this URI to unfollow the category."
#                      example: /users/152184/categories/animation
#                      type: string
#                  required:
#                    - added
#                    - added_time
#                    - uri
#                  type: object
#              required:
#                - follow
#              type: object
          required:
            - connections
#            - interactions
          type: object
        name:
          description: The display name that identifies the category.
          example: Animation
          type: string
        parent:
          description: The container of this category's parent category, if the current category is a subcategory.
          nullable: true
          properties:
            link:
              description: The URL to access the parent category in a browser.
              example: https://vimeo.com/categories/animation
              type: string
            name:
              description: The display name that identifies the parent category.
              example: Animation
              type: string
            uri:
              description: The unique identifier to access the parent of this category resource.
              example: /categories/animation
              type: string
          required:
            - link
            - name
            - uri
          type: object
        pictures:
          $ref: "#/components/schemas/picture"
#          allOf:
#            - $ref: "#/components/schemas/picture"
          description: The active picture for this category; defaults to vertical color bars.
        resource_key:
          description: The resource key of the category.
          example: e5595241643259c658ed6c85ca82985a6341edc7
          type: string
        subcategories:
          description: All the subcategories that belong to this category, if the current category is a top-level parent.
          items:
            properties:
              link:
                description: The URL to access the subcategory in a browser.
                example: https://vimeo.com/categories/animation/2d/videos
                type: string
              name:
                description: The display name that identifies the subcategory.
                example: 2D
                type: string
              uri:
                description: The unique identifier to access the subcategory resource.
                example: /categories/animation/subcategories/2d
                type: string
            required:
              - link
              - name
              - uri
            type: object
          type: array
        top_level:
          description: Whether the category isn't a subcategory of another category.
          example: "true"
          type: boolean
        uri:
          description: The unique identifier to access the category resource.
          example: /categories/animation
          type: string
      required:
#        - last_video_featured_time
        - link
        - metadata
        - name
        - parent
        - pictures
        - resource_key
        - top_level
        - uri
      title: Category
      type: object
    channel:
      properties:
        categories:
          description: The categories to which this channel belongs as specified by the channel moderators.
          items:
            $ref: "#/components/schemas/category"
          type: array
        created_time:
          description: The time in ISO 8601 format when the channel was created.
          example: 2007-10-23T17:00:43+00:00
          type: string
        description:
          description: A brief explanation of the channel's content.
          example: We really love videos, and these are the videos we really, really love.
          nullable: true
          type: string
        header:
          allOf:
            - $ref: "#/components/schemas/picture"
          description: The banner that appears by default at the top of the channel page.
        link:
          description: The URL to access the channel in a browser.
          example: https://vimeo.com/channels/staffpicks
          type: string
        metadata:
          description: Metadata about the channel.
          properties:
            connections:
              description: A collection of information that is connected to this resource.
              properties:
                privacy_users:
                  description: Information provided to channel moderators about which users they have specifically permitted to access a private channel. This data requires a bearer token with the `private` scope.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI. This data requires a bearer token with the `private` scope.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of users on this connection. This data requires a bearer token with the `private` scope.
                      example: 36
                      type: number
                    uri:
                      description: The API URI that resolves to the connection data. This data requires a bearer token with the `private` scope.
                      example: /channels/927/privacy/users
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
                users:
                  description: Information about the users following or moderating this channel.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of users on this connection.
                      example: 794634
                      type: number
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /channels/927/users
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
                videos:
                  description: Information about the videos that belong to this channel.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of videos on this connection.
                      example: 12448
                      type: number
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /channels/927/videos
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
              required:
                - privacy_users
                - users
                - videos
              type: object
            interactions:
              description: A list of resource URIs related to the channel.
              nullable: true
              properties:
                add_moderators:
                  description: An action indicating that the authenticated user is the owner of the channel and may therefore add other users as channel moderators. This data requires a bearer token with the `private` scope.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI. This data requires a bearer token with the `private` scope.
                      items:
                        type: string
                      type: array
                    uri:
                      description: The API URI that resolves to the connection data. This data requires a bearer token with the `private` scope.
                      example: /channels/1234/moderators
                      type: string
                  required:
                    - options
                    - uri
                  type: object
                add_to:
                  description: When a channel appears in the context of adding or removing a video from it (`/videos/{video_id}/available_channels`), include information about adding or removing the video. This data requires a bearer token with the `private` scope.
                  nullable: true
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI. This data requires a bearer token with the `private` scope.
                      items:
                        type: string
                      type: array
                    uri:
                      description: The API URI that resolves to the connection data. This data requires a bearer token with the `private` scope.
                      example: /channels/1234/videos/5678
                      type: string
                  required:
                    - options
                    - uri
                  type: object
                follow:
                  description: An action indicating if the authenticated user has followed this channel. This data requires a bearer token with the `private` scope.
                  properties:
                    added:
                      description: Whether the authenticated user has followed this channel. This data requires a bearer token with the `private` scope.
                      example: "true"
                      type: boolean
                    added_time:
                      description: The time in ISO 8601 format that the user followed this channel, or the null value if the user hasn't followed the channel. This data requires a bearer token with the `private` scope.
                      example: 2017-05-22T17:50:11+00:00
                      nullable: true
                      type: string
                    type:
                      description: |
                        Whether the authenticated user is a moderator or subscriber. This data requires a bearer token with the `private` scope.

                        Option descriptions:
                         * `moderator` - The authenticated user is a moderator.
                         * `subscriber` - The authenticated user is a subscriber.
                      enum:
                        - moderator
                        - subscriber
                      example: moderator
                      nullable: true
                      type: string
                    uri:
                      description: The URI for following or unfollowing this channel. PUT to this URI to follow the channel, or DELETE to this URI to unfollow the channel. This data requires a bearer token with the `private` scope.
                      example: /users/1234/channels/927
                      type: string
                  required:
                    - added
                    - added_time
                    - type
                    - uri
                  type: object
                moderate_videos:
                  description: An action indicating that the authenticated user is a moderator of the channel and may therefore add or remove videos from the channel. This data requires a bearer token with the `private` scope.
                  properties:
                    options:
                      description: An array of HTTP methods allowed on this URI. This data requires a bearer token with the `private` scope.
                      items:
                        type: string
                      type: array
                    uri:
                      description: The API URI that resolves to the connection data. This data requires a bearer token with the `private` scope.
                      example: /channels/1234/videos
                      type: string
                  required:
                    - options
                    - uri
                  type: object
              required:
                - add_moderators
                - add_to
                - follow
                - moderate_videos
              type: object
          required:
            - connections
            - interactions
          type: object
        modified_time:
          description: The time in ISO 8601 format when the album was last modified.
          example: 2018-03-21T22:52:29+00:00
          type: string
        name:
          description: The display name that identifies the channel.
          example: Vimeo Staff Picks
          type: string
        pictures:
          allOf:
            - $ref: "#/components/schemas/picture"
          description: The active image for the channel; defaults to the thumbnail of the last video added to the channel.
        privacy:
          description: The privacy settings of the channel.
          properties:
            view:
              description: |
                Who can view the channel:

                Option descriptions:
                 * `anybody` - Anyone can view the channel.
                 * `moderators` - Only moderators can view the channel.
                 * `users` - Only registered users can view the channel.
              enum:
                - anybody
                - moderators
                - users
              example: anybody
              type: string
          required:
            - view
          type: object
        resource_key:
          description: The channel resource key.
          example: e5595241643259c658ed6c85ca82985a6341edc7
          type: string
        tags:
          description: An array of all tags assigned to this channel.
          items:
            $ref: "#/components/schemas/tag"
          type: array
        uri:
          description: The unique identifier to access the channel resource.
          example: /channels/927
          type: string
        user:
          allOf:
            - $ref: "#/components/schemas/user"
          description: The Vimeo user who owns the channel.
      required:
        - categories
        - created_time
        - description
        - header
        - link
        - metadata
        - modified_time
        - name
        - pictures
        - privacy
        - resource_key
        - tags
        - uri
        - user
      title: Channel
      type: object
    comment:
      properties:
        created_on:
          description: The time in ISO 8601 format when the comment was posted.
          example: 2018-03-05T21:04:47+00:00
          type: string
        metadata:
          properties:
            connections:
              properties:
                replies:
                  description: Information about this comment's replies.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of replies on this connection.
                      example: 42
                      type: number
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /videos/258684937/comments/12345/replies
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
              required:
                - replies
              type: object
          required:
            - connections
          type: object
        resource_key:
          description: The resource key string for the comment.
          example: bac1033deba2310ebba2caec33c23e4beea67aba
          type: string
        text:
          description: The content of the comment.
          example: I love this!
          type: string
        type:
          description: |
            The Vimeo content to which the comment relates:

            Option descriptions:
             * `video` - The comment is about a video.
          enum:
            - video
          example: video
          type: string
        uri:
          description: The unique identifier to access the comment resource.
          example: /videos/258684937/comments/12345
          type: string
        user:
          allOf:
            - $ref: "#/components/schemas/user"
          description: The user who posted the comment.
          nullable: true
      required:
        - created_on
        - metadata
        - resource_key
        - text
        - type
        - uri
        - user
      title: Comment
      type: object
    content-rating:
      properties:
        code:
          description: |
            The code that uniquely identifies this content rating:

            Option descriptions:
             * `drugs` - Drug or alcohol use.
             * `language` - Profanity or sexually suggestive content.
             * `nudity` - Nudity.
             * `safe` - Suitable for all audiences.
             * `unrated` - No rating.
             * `violence` - Violent or graphic content.
          enum:
            - drugs
            - language
            - nudity
            - safe
            - unrated
            - violence
          example: violence
          type: string
        name:
          description: The description of this content rating.
          example: Violence
          type: string
        uri:
          description: The canonical relative URI of the content rating.
          example: /contentrating/violence
          nullable: true
          type: string
      required:
        - code
        - name
        - uri
      title: Content Rating
      type: object
    creative-commons:
      properties:
        code:
          description: |
            The code that uniquely identifies this Creative Commons license:

            Option descriptions:
             * `by` - Attribution
             * `by-nc` - Attribution Non-Commercial
             * `by-nc-nd` - Attribution Non-Commercial No Derivatives
             * `by-nc-sa` - Attribution Non-Commercial Share Alike
             * `by-nd` - Attribution No Derivatives
             * `by-sa` - Attribution Share Alike
             * `cc0` - Public Domain Dedication
          enum:
            - by
            - by-nc
            - by-nc-nd
            - by-nc-sa
            - by-nd
            - by-sa
            - cc0
          example: by-sa
          type: string
        name:
          description: The description of this Creative Commons license.
          example: Attribution Share Alike
          type: string
        uri:
          description: The canonical relative URI of the Creative Commons license.
          example: /creativecommons/by-sa
          nullable: true
          type: string
      required:
        - code
        - name
        - uri
      title: Creative Commons
      type: object
    credit:
      properties:
        name:
          description: The name of the person credited.
          example: Sam Doe
          type: string
        role:
          description: The character that this person portrayed, or the job that this person performed.
          example: Themselves
          type: string
        uri:
          description: The unique identifier to access the credits resource.
          example: /videos/258684937/credits/1234
          type: string
        user:
          allOf:
            - $ref: "#/components/schemas/user"
          description: The Vimeo user associated with this credit.
        video:
          allOf:
            - $ref: "#/components/schemas/video"
          description: The video associated with this credit.
      required:
        - name
        - role
        - uri
      title: Credit
      type: object
    domain:
      properties:
        allow_hd:
          description: Whether to permit HD embeds on this domain.
          example: "true"
          type: boolean
        domain:
          description: The domain name.
          example: example.com
          type: string
        uri:
          description: The URI of the domain.
          example: /videos/258684937/privacy/domains/example.com
          type: string
      required:
        - allow_hd
        - domain
        - uri
      title: Domain
      type: object
    embed-settings:
      properties:
        html: # added
          type: string
          nullable: true
        interactive: # added
          type: boolean
          nullable: true
        badges: # added
          type: object
          properties:
            hdr:
              type: boolean
              nullable: true
            live:
              type: object
              properties:
                streaming:
                  type: boolean
                  nullable: true
                archived:
                  type: boolean
                  nullable: true
            staff_pick:
              type: object
              properties:
                normal:
                  type: boolean
                  nullable: true
                best_of_the_month:
                  type: boolean
                  nullable: true
                best_of_the_year:
                  type: boolean
                  nullable: true
                premiere:
                  type: boolean
                  nullable: true
            vod:
              type: boolean
              nullable: true
            weekend_challenge:
              type: boolean
              nullable: true
        buttons:
          description: A collection of information about the buttons that appear on the interface of the embeddable player.
          properties:
            embed:
              description: Whether the Embed button appears in the embeddable player for this video.
              example: "true"
              type: boolean
            fullscreen:
              description: Whether the Fullscreen button appears in the embeddable player for this video.
              example: "true"
              type: boolean
            hd:
              description: Whether the HD button appears in the embeddable player for this video.
              example: "true"
              type: boolean
            like:
              description: Whether the Like button appears in the embeddable player for this video.
              example: "true"
              type: boolean
            scaling:
              description: Whether the Scaling button appears in the embeddable player for this video.
              example: "true"
              type: boolean
            share:
              description: Whether the Share button appears in the embeddable player for this video.
              example: "true"
              type: boolean
            watchlater:
              description: Whether the Watch Later button appears in the embeddable player for this video.
              example: "true"
              type: boolean
#          required:
#            - embed
#            - fullscreen
#            - hd
#            - like
#            - scaling
#            - share
#            - watchlater
          type: object
        color:
          description: The primary player color, which controls the color of the progress bar, buttons, and more.
          example: "#0a0808"
          type: string
        logos:
          description: A collection of information about the logo in the corner of the embeddable player.
          properties:
            custom:
              description: A collection of information relating to custom logos in the embeddable player.
              properties:
                active:
                  description: Whether the custom logo appears in the embeddable player.
                  example: "true"
                  type: boolean
                link:
                  description: The URL that loads upon clicking the custom logo.
                  example: http://example.com
                  type: string
                sticky:
                  description: Whether the custom logo appears even when the player interface is hidden.
                  example: "true"
                  type: boolean
              required:
                - active
                - link
                - sticky
              type: object
            vimeo:
              description: Whether the Vimeo logo appears in the embeddable player for this video.
              example: "true"
              type: boolean
          required:
            - custom
            - vimeo
          type: object
        playbar:
          description: Whether the playbar appears in the embeddable player for this video.
          example: "true"
          type: boolean
        speed:
          description: Whether the speed controls appear in the embeddable player for this video.
          example: "true"
          type: boolean
        title:
          description: A collection of information relating to the embeddable player's title bar.
          properties:
            name:
              description: |
                How the embeddable player handles the video title:

                Option descriptions:
                 * `hide` - The title is hidden.
                 * `show` - The title is shown.
              enum:
                - hide
                - show
                - user
              example: hide
              type: string
            owner:
              description: |
                How the embeddable player handles the video owner's information:

                Option descriptions:
                 * `hide` - The owner's information is hidden.
                 * `show` - The owner's information is shown.
              enum:
                - hide
                - show
                - user
              example: hide
              type: string
            portrait:
              description: |
                How the embeddable player handles the video owner's portrait:

                Option descriptions:
                 * `hide` - The owner's portrait is hidden
                 * `show` - The owner's portrait is shown.
              enum:
                - hide
                - show
                - user
              example: hide
              type: string
          required:
            - name
            - owner
            - portrait
          type: object
        uri:
          description: The URI of the embed preset.
          example: /videos/258684937/presets/12345
          type: string
        volume:
          description: Whether the volume controls appear in the embeddable player for this video.
          example: "true"
          type: boolean
#      required:
#        - buttons
#        - color
#        - logos
#        - playbar
#        - speed
#        - title
#        - volume
      title: Embed Settings
      type: object
    endpoint:
      properties:
        methods:
          description: All HTTP methods permitted on this endpoint.
          items:
            type: string
          type: array
        path:
          description: The path section of the URL, which, when appended to the API host `https:///api.vimeo.com`, builds a full API endpoint.
          example: /me
          type: string
      required:
        - methods
        - path
      title: Endpoint
      type: object
    error:
      properties:
        developer_message:
          description: The error message that developers receive.
          example: The specified resource does not exist.
          type: string
        error:
          description: The error message that non-developer users receive.
          example: Something strange occurred. Please try again.
          type: string
        error_code:
          description: The error code.
          example: 5000
          type: number
        link:
          description: A link to more information about the error.
          type: string
      required:
        - developer_message
        - error
        - error_code
        - link
      title: Error
      type: object
    group:
      properties:
        created_time:
          description: The time in ISO 8601 format when the group was created.
          example: 2008-07-05T14:52:43+00:00
          type: string
        description:
          description: The group's description.
          example: Want to participate in our weekly Challenges? Join the Group to receive messages and new Challenges!
          nullable: true
          type: string
        link:
          description: The link to the group.
          example: https://vimeo.com/groups/weekendchallenge
          type: string
        metadata:
          description: Metadata about the group.
          properties:
            connections:
              description: A collection of information that is connected to this resource.
              properties:
                users:
                  description: Information about the members or moderators of this group.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of users on this connection.
                      example: 25798
                      type: number
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /groups/1108/users
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
                videos:
                  description: Information about the videos contained within this group.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of videos on this connection.
                      example: 7252
                      type: number
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /groups/1108/videos
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
              required:
                - users
                - videos
              type: object
            interactions:
              description: User actions that have involved the group. This data requires a bearer token with the `private` scope.
              properties:
                join:
                  description: An action indicating that someone has joined the group. This data requires a bearer token with the `private` scope.
                  properties:
                    added:
                      description: Whether the authenticated user has followed this group. This data requires a bearer token with the `private` scope.
                      example: "true"
                      type: boolean
                    added_time:
                      description: The time in ISO 8601 format when the user joined this group. This data requires a bearer token with the `private` scope.
                      nullable: true
                      type: string
                    title:
                      description: The user's title, or the null value if not applicable. This data requires a bearer token with the `private` scope.
                      example: Vimeo Staff
                      nullable: true
                      type: string
                    type:
                      description: |
                        Whether the authenticated user is a moderator or subscriber. This data requires a bearer token with the `private` scope.

                        Option descriptions:
                         * `member` - The authenticated user is a member.
                         * `moderator` - The authenticated user is a moderator.
                      enum:
                        - member
                        - moderator
                      example: member
                      nullable: true
                      type: string
                    uri:
                      description: The URI for following. PUT to this URI to follow, or DELETE to this URI to unfollow. This data requires a bearer token with the `private` scope.
                      example: /users/152184/groups/1108
                      type: string
                  required:
                    - added
                    - added_time
                    - title
                    - type
                    - uri
                  type: object
              required:
                - join
              type: object
          required:
            - connections
            - interactions
          type: object
        modified_time:
          description: The time in ISO 8601 format when the group was last modified.
          example: 2018-09-16T15:41:45+00:00
          type: string
        name:
          description: The group's display name.
          example: Vimeo Weekend Challenge
          type: string
        pictures:
          allOf:
            - $ref: "#/components/schemas/picture"
          description: The active picture for this group.
        privacy:
          description: The group's privacy settings.
          properties:
            comment:
              description: |
                Who can comment on the group:

                Option descriptions:
                 * `all` - Anyone can comment on the group.
                 * `members` - Only members can comment on the group.
              enum:
                - all
                - members
              example: all
              type: string
            invite:
              description: |
                Who can invite new members to the group:

                Option descriptions:
                 * `all` - Anyone can invite new members to join.
                 * `members` - Only group members can invite new members to join.
              enum:
                - all
                - members
              example: all
              type: string
            join:
              description: |
                Who can join the group:

                Option descriptions:
                 * `anybody` - Anyone can join the group.
                 * `members` - Only people with a Vimeo account can join the group.
              enum:
                - anybody
                - members
              example: anybody
              type: string
            videos:
              description: |
                Who can add videos to the group:

                Option descriptions:
                 * `all` - Anyone can add videos to the group.
                 * `members` - Only group members can add videos to the group.
              enum:
                - all
                - members
              example: all
              type: string
            view:
              description: |
                Who can view the group:

                Option descriptions:
                 * `anybody` - Anyone can view the group.
                 * `members` - Only group members can view the group.
              enum:
                - anybody
                - members
              example: anybody
              type: string
          required:
            - comment
            - invite
            - join
            - videos
            - view
          type: object
        resource_key:
          description: The resource key of the group.
          example: dc724af18fbdd4e59189f5fe768a5f8311527050
          type: string
        uri:
          description: The canonical relative URI of this group.
          example: /groups/1108
          type: string
        user:
          allOf:
            - $ref: "#/components/schemas/user"
          description: The owner of the group.
          nullable: true
      required:
        - created_time
        - description
        - link
        - metadata
        - modified_time
        - name
        - pictures
        - privacy
        - resource_key
        - uri
      title: Group
      type: object
    language:
      properties:
        code:
          description: The code that represents this language.
          example: en-US
          type: string
        name:
          description: The name of the language.
          example: English (United States)
          type: string
      required:
        - code
        - name
      title: Language
      type: object
    legacy-error:
      properties:
        error:
          description: User-friendly error message
          example: Something strange occurred. Please try again.
          type: string
      required:
        - error
      title: Legacy Error
      type: object
    on-demand-genre:
      properties:
        canonical:
          description: The canonical name or URL slug of the genre.
          example: horror
          type: string
        interactions:
          properties:
            page:
              description: Interactions for On Demand pages that are in this genre.
              properties:
                added:
                  description: Whether this On Demand genre was added.
                  example: "true"
                  type: boolean
                options:
                  description: An array of HTTP methods permitted on this URI.
                  items:
                    type: string
                  type: array
                uri:
                  description: The URI to access the On Demand page.
                  example: /ondemand/genres/horror/pages/12345
                  type: string
              required:
                - added
                - options
                - uri
              type: object
          required:
            - page
          type: object
        link:
          description: The Vimeo URL for this genre.
          example: http://vimeo.com/ondemand/browse/horror
          type: string
        metadata:
          properties:
            connections:
              description: A collection of information connected to this resource.
              properties:
                pages:
                  description: Information about the On Demand pages related to this group.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /ondemand/genres/horror/pages
                      type: string
                  required:
                    - options
                    - uri
                  type: object
              required:
                - pages
              type: object
          required:
            - connections
          type: object
        name:
          description: The descriptive name of the genre.
          example: Horror
          type: string
        uri:
          description: The relative URI of the On Demand genre.
          example: /ondemand/genres/horror
          type: string
      required:
        - canonical
        - interactions
        - link
        - metadata
        - name
        - uri
      title: On Demand Genre
      type: object
    on-demand-page:
      properties:
        background:
          allOf:
            - $ref: "#/components/schemas/picture"
          description: The background image for the On Demand page on Vimeo.
          nullable: true
        colors:
          description: The primary and secondary colors used for rendering this On Demand page.
          properties:
            primary:
              description: The hexadecimal color code for the page's primary color.
              example: "#0a0808"
              type: string
            secondary:
              description: The hexadecimal color code for the page's secondary color.
              example: "#ba4a17"
              type: string
          required:
            - primary
            - secondary
          type: object
        content_rating:
          description: An array of the page's content ratings.
          items:
            type: string
          type: array
        created_time:
          description: The time in ISO 8601 format when the page was created.
          example: 2017-05-15T13:42:25+00:00
          type: string
        description:
          description: The description of this On Demand page.
          example: DARBY FOREVER follows the fantasies of Darby, a shopgirl at "Bobbins & Notions"
          nullable: true
          type: string
        domain_link:
          description: The link to this page on its own domain.
          example: https://example.com
          nullable: true
          type: string
        episodes:
          description: Information about this On Demand page's episodes, if the page is for a series.
          properties:
            buy:
              properties:
                active:
                  description: Whether all the videos on this On Demand page can be purchased as a whole.
                  example: "true"
                  type: boolean
                price:
                  description: The default price to buy an episode.
                  example: 9.99
                  nullable: true
                  type: number
              required:
                - active
                - price
              type: object
            rent:
              properties:
                active:
                  description: Whether all the videos on this On Demand page can be rented as a whole.
                  example: "true"
                  type: boolean
                period:
                  description: |
                    The rental period for the video:

                    Option descriptions:
                     * `1 day` - The rental period is one day.
                     * `1 month` - The rental period is one month.
                     * `1 week` - The rental period is one week.
                     * `1 year` - The rental period is one year.
                     * `2 day` - The rental period is two days.
                     * `24 hour` - The rental period is 24 hours.
                     * `3 day` - The rental period is three days.
                     * `3 month` - The rental period is three months.
                     * `30 day` - The rental period is 30 days.
                     * `48 hour` - The rental period is 48 hours.
                     * `6 month` - The rental period is six months.
                     * `60 day` - The rental period is 60 days.
                     * `7 day` - The rental period is 7 days.
                     * `72 hour` - The rental period is 72 hours.
                  enum:
                    - 1 day
                    - 1 month
                    - 1 week
                    - 1 year
                    - 2 day
                    - 24 hour
                    - 3 day
                    - 3 month
                    - 30 day
                    - 48 hour
                    - 6 month
                    - 60 day
                    - 7 day
                    - 72 hour
                  example: 1 day
                  nullable: true
                  type: string
                price:
                  description: The default price to rent an episode.
                  example: 2.99
                  nullable: true
                  type: number
              required:
                - active
                - period
                - price
              type: object
          required:
            - buy
            - rent
          type: object
        film:
          allOf:
            - $ref: "#/components/schemas/video"
          description: This On Demand page's film, if it is a film.
        genres:
          description: All the genres assigned to this page.
          items:
            $ref: "#/components/schemas/on-demand-genre"
          type: array
        link:
          description: The link to the page on Vimeo.
          example: https://vimeo.com/ondemand/darbyforever
          type: string
        metadata:
          description: Metadata about the On Demand page.
          properties:
            connections:
              description: A collection of information that is connected to this resource, including videos, genres, and pictures connections.
              properties:
                metadata:
                  properties:
                    connections:
                      properties:
                        comments:
                          description: Information about the comments associated with this page.
                          properties:
                            options:
                              description: An array of HTTP methods permitted on this URI.
                              items:
                                type: string
                              type: array
                            total:
                              description: The total number of comments on this connection.
                              example: 4
                              type: number
                            uri:
                              description: The API URI that resolves to the connection data.
                              example: /ondemand/pages/61326/comments
                              type: string
                          required:
                            - options
                            - total
                            - uri
                          type: object
                        genres:
                          description: Information about the genres associated with this page.
                          properties:
                            options:
                              description: An array of HTTP methods permitted on this URI.
                              items:
                                type: string
                              type: array
                            total:
                              description: The total number of genres on this connection.
                              example: 9
                              type: number
                            uri:
                              description: The API URI that resolves to the connection data.
                              example: /ondemand/pages/61326/genres
                              type: string
                          required:
                            - options
                            - total
                            - uri
                          type: object
                        likes:
                          description: Information about the likes associated with this page.
                          properties:
                            options:
                              description: An array of HTTP methods permitted on this URI.
                              items:
                                type: string
                              type: array
                            total:
                              description: The total number of likes on this connection.
                              example: 15
                              type: number
                            uri:
                              description: The API URI that resolves to the connection data.
                              example: /ondemand/pages/61326/likes
                              type: string
                          required:
                            - options
                            - total
                            - uri
                          type: object
                        pictures:
                          description: Information about the pictures associated with this page.
                          properties:
                            options:
                              description: An array of HTTP methods permitted on this URI.
                              items:
                                type: string
                              type: array
                            total:
                              description: The total number of pictures on this connection.
                              example: 3
                              type: number
                            uri:
                              description: The API URI that resolves to the connection data.
                              example: /ondemand/pages/61326/pictures
                              type: string
                          required:
                            - options
                            - total
                            - uri
                          type: object
                        seasons:
                          description: Information about the seasons associated with this page.
                          properties:
                            options:
                              description: An array of HTTP methods permitted on this URI.
                              items:
                                type: string
                              type: array
                            total:
                              description: The total number of seasons on this connection.
                              example: 3
                              type: number
                            uri:
                              description: The API URI that resolves to the connection data.
                              example: /ondemand/pages/61326/seasons
                              type: string
                          required:
                            - options
                            - total
                            - uri
                          type: object
                        videos:
                          description: Information about the videos associated with this page.
                          properties:
                            extra_total:
                              description: The total number of extra videos.
                              example: 14
                              type: number
                            main_total:
                              description: The total number of main videos.
                              example: 36
                              type: number
                            options:
                              description: An array of HTTP methods permitted on this URI.
                              items:
                                type: string
                              type: array
                            total:
                              description: The total number of videos on this connection.
                              example: 50
                              type: number
                            uri:
                              description: The API URI that resolves to the connection data.
                              example: /ondemand/pages/61326/videos
                              type: string
                            viewable_total:
                              description: The total number of viewable videos.
                              example: 50
                              type: number
                          required:
                            - extra_total
                            - main_total
                            - options
                            - total
                            - uri
                            - viewable_total
                          type: object
                      required:
                        - comments
                        - genres
                        - likes
                        - pictures
                        - seasons
                        - videos
                      type: object
                  required:
                    - connections
                  type: object
              required:
                - metadata
              type: object
            interactions:
              allOf:
                - $ref: "#/components/schemas/purchase-interaction"
              description: The user's available purchase interactions.
          required:
            - connections
            - interactions
          type: object
        modified_time:
          description: he time in ISO 8601 format when the page was last modified.
          example: 2017-05-15T13:42:25+00:00
          type: string
        name:
          description: A descriptive title of this On Demand page.
          example: Darby Forever
          type: string
        pictures:
          allOf:
            - $ref: "#/components/schemas/picture"
          description: The active poster for this On Demand page.
          nullable: true
        preorder:
          properties:
            active:
              description: Whether this page is available for preorder.
              example: "true"
              type: boolean
            cancel_time:
              description: The time in ISO 8601 format when the preorder was cancelled.
              example: 2017-05-16T13:13:46+00:00
              type: string
            publish_time:
              description: The time in ISO 8601 format when the preorder was released to the public.
              example: 2017-05-15T13:12:52+00:00
              type: string
            time:
              description: The time in ISO 8601 format when the preorder started.
              example: 2017-05-15T13:13:31+00:00
              type: string
          required:
            - active
            - cancel_time
            - publish_time
            - time
          type: object
        published:
          properties:
            enabled:
              description: Whether this On Demand page has been published.
              example: "true"
              type: boolean
            time:
              description: The time in IS 8601 format when this page was published.
              example: 2017-05-15T13:12:52+00:00
              type: string
          required:
            - enabled
            - time
          type: object
        rating:
          description: The rating of this page.
          example: 7
          nullable: true
          type: number
        resource_key:
          description: The VOD resource key.
          example: bac1033deba2310ebba2caec33c23e4beea67aba
          type: string
        sku:
          description: The creator-designated SKU for this On Demand page.
          example: VIME0001
          nullable: true
          type: string
        subscription:
          description: Information about subscribing to this On Demand page, if enabled.
          nullable: true
          properties:
            active:
              description: Whether this product is active.
              example: "true"
              type: boolean
            link:
              description: The link to this product on Vimeo.
              example: https://vimeo.com/ondemand/darbyforever
              nullable: true
              type: string
            period:
              description: The product's rental period.
              type: string
            price:
              description: The accepted currencies and respective pricing for this product.
              type: object
          required:
            - active
            - link
            - price
          type: object
        theme:
          description: The graphical theme for this On Demand page.
          example: vader
          type: string
        thumbnail:
          allOf:
            - $ref: "#/components/schemas/picture"
          description: The thumbnail image for the On Demand page on Vimeo.
          nullable: true
        trailer:
          allOf:
            - $ref: "#/components/schemas/video"
          description: The trailer for this On Demand page.
          nullable: true
        type:
          description: |
            Whether this On Demand page is for a film or a series.

            Option descriptions:
             * `film` - The On Demand page is for a film.
             * `series` - The On Demand page is for a series.
          enum:
            - film
            - series
          example: film
          type: string
        uri:
          description: The relative URI of the On Demand page.
          example: /ondemand/pages/61326
          type: string
        user:
          allOf:
            - $ref: "#/components/schemas/user"
          description: The user who created this On Demand page.
          nullable: true
      required:
        - background
        - colors
        - content_rating
        - description
        - domain_link
        - episodes
        - genres
        - link
        - metadata
        - name
        - pictures
        - preorder
        - published
        - rating
        - resource_key
        - subscription
        - theme
        - thumbnail
        - trailer
        - type
        - uri
        - user
      title: On Demand Page
      type: object
    on-demand-promotion:
      properties:
        access_type:
          description: |
            The type of access that this promotion grants:

            Option descriptions:
             * `default` - Grants discounts on existing product offerings.
             * `vip` - Grants free access either to VOD content before it is released or to access types that aren't part of the existing product offerings.
          enum:
            - default
            - vip
          example: default
          type: string
        discount_type:
          description: |
            The type of discount for which this promotion can be used.

            Option descriptions:
             * `dollars` - The discount is a certain fixed amount.
             * `free` - The discount is the full purchase price. VIP access promotions always use this discount type.
             * `percent` - The discount is a certain percentage of the full price.
          enum:
            - dollars
            - free
            - percent
          example: free
          type: string
        download:
          description: Whether this promotion grants download access to On Demand content.
          example: "true"
          type: boolean
        label:
          description: The prefix string for batch codes, or the null value for single codes.
          example: 8jgaieumbzstujhn8k304iwwezawkvwm
          nullable: true
          type: string
        metadata:
          description: The video's metadata.
          properties:
            connections:
              description: A list of resource URIs related to the On Demand promotion.
              properties:
                codes:
                  description: Information about the codes associated with this promotion.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of uses on this connection.
                      example: 1
                      type: number
                    uri:
                      description: The API URI that resolves to the connection data.
                      example: /ondemand/pages/61326/promotion/12345/codes
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
              required:
                - codes
              type: object
          required:
            - connections
          type: object
        percent_off:
          description: The percentage amount that is deducted from the product price.
          example: 100
          type: number
        product_type:
          description: |
            The type of product to which this promotion can be applied. Only `buy` and `rent` are available for the VIP access type:

            Option descriptions:
             * `any` - The promotion can be applied to any product.
             * `buy` - The promotion can be applied to a buyable single video.
             * `buy_episode` - The promotion can be applied to a buyable single episode.
             * `rent` - The promotion can be applied to a rentable single video.
             * `rent_episode` - The promotion can be applied to a rentable single episode.
             * `subscribe` - The promotion can be applied to a subscription.
          enum:
            - any
            - buy
            - buy_episode
            - rent
            - rent_episode
            - subscribe
          example: any
          type: string
        stream_period:
          description: |
            The amount of time that the user has access to the VOD content after redeeming a promo code.

            Option descriptions:
             * `1_week` - Access lasts for one week.
             * `1_year` - Access lasts for one year.
             * `24_hour` - Access lasts for 24 hours.
             * `30_days` - Access lasts for 30 days.
             * `3_month` - Access lasts for 3 months.
             * `48_hour` - Access lasts for 48 hours.
             * `6_month` - Access lasts for 6 months.
             * `72_hour` - Access lasts for 72 hours.
          enum:
            - 1_week
            - 1_year
            - 24_hour
            - 30_days
            - 3_month
            - 48_hour
            - 6_month
            - 72_hour
          example: 1_week
          nullable: true
          type: string
        total:
          description: The total amount of times that this promotion can be used.
          example: 1
          type: number
        type:
          description: |
            The way in which this promotion can generate promo codes:

            Option descriptions:
             * `batch` - Provides many unique promo codes that can only be used once each.
             * `batch_prefix` - Similar to `batch`, except that all codes have a similar prefix string. This mode is deprecated, yet it may still appear for some users.
             * `single` - Provides a single promo code with many uses.
          enum:
            - batch
            - batch_prefix
            - single
          example: batch
          type: string
        uri:
          description: The promotion's canonical relative URI.
          example: /ondemand/pages/61326/promotions/12345
          type: string
      required:
        - access_type
        - discount_type
        - download
        - label
        - metadata
        - percent_off
        - product_type
        - stream_period
        - total
        - type
        - uri
      title: On Demand Promotion
      type: object
    on-demand-promotion-code:
      properties:
        code:
          description: A promotion code that can be redeemed on Vimeo.
          example: 8jgaieumbzstujhn8k304iwwezawkvwm
          type: string
        link:
          description: A link to redeem the promotion code instantly.
          example: https://vimeo.com/r/0trBLg/OGpnYWlldW
          type: string
        max_uses:
          description: The total amount of times this code can be used.
          example: 1
          type: number
        uses:
          description: The number of times that this code has been used.
          example: 0
          type: number
      required:
        - code
        - link
        - max_uses
        - uses
      title: On Demand Promotion Code
      type: object
    on-demand-region:
      properties:
        country_code:
          description: The ISO 3166-1 alpha-2 code for this country.
          example: US
          type: string
        country_name:
          description: The descriptive name of this country.
          example: United States
          type: string
        uri:
          description: The region container's relative URI.
          example: /ondemand/pages/61326/regions/US
          type: string
      required:
        - country_code
        - country_name
        - uri
      title: On Demand Region
      type: object
    on-demand-season:
      properties:
        description:
          description: The description for this season.
          example: Season 1
          type: string
        metadata:
          properties:
            connections:
              properties:
                videos:
                  description: The Videos connection.
                  properties:
                    options:
                      description: An array of HTTP methods permitted on this URI.
                      items:
                        type: string
                      type: array
                    total:
                      description: The total number of videos on this connection.
                      example: 13
                      type: number
                    uri:
                      description: The API URI that resolves to the connection ∂data.
                      example: /ondemand/pages/61326/season/12345/videos
                      type: string
                  required:
                    - options
                    - total
                    - uri
                  type: object
              required:
                - videos
              type: object
          required:
            - connections
          type: object
        name:
          description: The descriptive name of the season.
          example: Season 1
          type: string
        position:
          description: The position of the season relative to other seasons in the series.
          example: 1
          type: number
        resource_key:
          description: The unique identifier for this On Demand season.
          example: bac1033deba2310ebba2caec33c23e4beea67aba
          type: string
        type:
          description: The type of season.
          example: main
          type: string
        uri:
          description: The season container's relative URI.
          example: /ondemand/pages/61326/seasons/12345
          type: string
        user:
          allOf:
            - $ref: "#/components/schemas/user"
          description: The creator of this On Demand page.
          nullable: true
      required:
        - description
        - metadata
        - name
        - position
        - resource_key
        - type
        - uri
        - user
      title: On Demand Season
      type: object
    on-demand-video:
      properties:
        buy:
          description: Information about purchasing this video.
          nullable: true
          properties:
            active:
              description: Whether this On Demand video can be purchased.
              example: "true"
              type: boolean
            price:
              description: A map of currency type to price.
              type: object
            purchased:
              description: Whether this On Demand video has been purchased.
              example: "true"
              type: boolean
          required:
            - active
            - price
          type: object
        description:
          description: Description of the On Demand video.
          example: DARBY FOREVER follows the fantasies of Darby, a shopgirl at "Bobbins & Notions".
          type: string
        duration:
          description: The duration of the On Demand video.
          example: "1197"
          type: string
        episode:
          description: The episode number of the On Demand video.
          example: 1
          type: number
        interactions:
          description: An object containing information about how the authenticated user can interact with this On Demand page.
          properties:
            page:
              description: Information about how the authenticated user can interact with the connection to the video's On Demand page.
              properties:
                added:
                  description: Whether this On Demand page was added.
                  example: "true"
                  type: boolean
                options:
                  description: An array of HTTP methods permitted on this URI.
                  items:
                    type: string
                  type: array
                uri:
                  description: The URI to access the On Demand page.
                  example: /ondemand/pages/61326
                  type: string
              required:
                - added
                - options
                - uri
              type: object
          required:
            - page
          type: object
        link:
          description: The link to this video on Vimeo.
          example: https://vimeo.com/ondemand/darbyforever/12345
          type: string
        metadata:
          description: Metadata information about this video.
          properties:
            connections:
              properties:
                season:
                  description: Information about this season.
                  properties:
                    name:
                      description: The name of the season on this connection.
                      example: Season 1
[...]
