openapi: 3.0.3
servers:
  - url: https://api.github.com
info:
  contact:
    name: Support
    url: https://support.github.com/contact
  description: GitHub's v3 REST API.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://docs.github.com/articles/github-terms-of-service
  title: GitHub v3 REST API
  version: 1.1.4
  x-apisguru-categories:
    - collaboration
    - developer_tools
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_github_profile_image.jpeg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/github/rest-api-description/main/descriptions/api.github.com/api.github.com.json
      version: "3.0"
  x-providerName: github.com
externalDocs:
  description: GitHub v3 REST API
  url: https://docs.github.com/rest/
tags:
  - description: Endpoints to manage GitHub Actions using the REST API.
    name: actions
  - description: Activity APIs provide access to notifications, subscriptions, and timelines.
    name: activity
  - description: Information for integrations and installations.
    name: apps
  - description: Monitor charges and usage from Actions and Packages.
    name: billing
  - description: Rich interactions with checks run by your integrations.
    name: checks
  - description: Retrieve code scanning alerts from a repository.
    name: code-scanning
  - description: Insight into codes of conduct for your communities.
    name: codes-of-conduct
  - description: List emojis available to use on GitHub.
    name: emojis
  - description: View, modify your gists.
    name: gists
  - description: Raw Git functionality.
    name: git
  - description: View gitignore templates
    name: gitignore
  - description: Owner or admin management of users interactons.
    name: interactions
  - description: Interact with GitHub Issues.
    name: issues
  - description: View various OSS licenses.
    name: licenses
  - description: Render Github flavored markdown
    name: markdown
  - description: Endpoints that give information about the API.
    name: meta
  - description: Move projects to or from GitHub.
    name: migrations
  - description: Manage access of OAuth applications
    name: oauth-authorizations
  - description: Interact with GitHub Orgs.
    name: orgs
  - description: Interact with GitHub Projects.
    name: projects
  - description: Interact with GitHub Pull Requests.
    name: pulls
  - description: Check your current rate limit status
    name: rate-limit
  - description: Interact with reactions to various GitHub entities.
    name: reactions
  - description: Interact with GitHub Repos.
    name: repos
  - description: Provisioning of GitHub organization membership for SCIM-enabled providers.
    name: scim
  - description: Look for stuff on GitHub.
    name: search
  - description: Retrieve secret scanning alerts from a repository.
    name: secret-scanning
  - description: Interact with GitHub Teams.
    name: teams
  - description: Interact with and view information about users and also current user.
    name: users
paths:
  /user/repos:
    get:
      description: |-
        Lists repositories that the authenticated user has explicit permission (`:read`, `:write`, or `:admin`) to access.

        The authenticated user has explicit permission to access repositories they own, repositories where they are a collaborator, and repositories that they can access through an organization membership.
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/reference/repos/#list-repositories-for-the-authenticated-user
      operationId: repos/list-for-authenticated-user
      parameters:
        - description: "Can be one of `all`, `public`, or `private`. Note: For GitHub AE, can be one of `all`, `internal`, or `private`."
          in: query
          name: visibility
          required: false
          schema:
            default: all
            enum:
              - all
              - public
              - private
            type: string
        - description: |-
            Comma-separated list of values. Can include:  
            \* `owner`: Repositories that are owned by the authenticated user.  
            \* `collaborator`: Repositories that the user has been added to as a collaborator.  
            \* `organization_member`: Repositories that the user has access to through being a member of an organization. This includes every repository on every team that the user is on.
          in: query
          name: affiliation
          required: false
          schema:
            default: owner,collaborator,organization_member
            type: string
        - description: |-
            Can be one of `all`, `owner`, `public`, `private`, `member`. Note: For GitHub AE, can be one of `all`, `owner`, `internal`, `private`, `member`. Default: `all`  
              
            Will cause a `422` error if used in the same request as **visibility** or **affiliation**. Will cause a `422` error if used in the same request as **visibility** or **affiliation**.
          in: query
          name: type
          required: false
          schema:
            default: all
            enum:
              - all
              - owner
              - public
              - private
              - member
            type: string
        - description: Can be one of `created`, `updated`, `pushed`, `full_name`.
          in: query
          name: sort
          required: false
          schema:
            default: full_name
            enum:
              - created
              - updated
              - pushed
              - full_name
            type: string
        - description: "Can be one of `asc` or `desc`. Default: `asc` when using `full_name`, otherwise `desc`"
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            type: string
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/since"
        - $ref: "#/components/parameters/before"
      x-dependencies:
        - ZeroOrOne(type, visibility);
        - ZeroOrOne(type, affiliation);
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/repository-items-default-response"
              schema:
                items:
                  $ref: "#/components/schemas/repository"
                type: array
          description: response
        "304":
          $ref: "#/components/responses/not_modified"
        "401":
          $ref: "#/components/responses/requires_authentication"
        "403":
          $ref: "#/components/responses/forbidden"
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: List repositories for the authenticated user
      tags:
        - repos
      x-github:
        category: repos
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: null
components:
  examples:
    actions-billing-usage:
      value:
        included_minutes: 3000
        minutes_used_breakdown:
          MACOS: 10
          UBUNTU: 205
          WINDOWS: 90
        total_minutes_used: 305
        total_paid_minutes_used: 0
    actions-enterprise-permissions:
      value:
        allowed_actions: selected
        enabled_organizations: all
        selected_actions_url: https://api.github.com/enterprises/2/actions/permissions/selected-actions
    actions-organization-permissions:
      value:
        allowed_actions: selected
        enabled_repositories: all
        selected_actions_url: https://api.github.com/organizations/42/actions/permissions/selected-actions
    actions-public-key:
      value:
        key: 2Sg8iYjAxxmI2LvUXpJjkYrMxURPc8r+dB7TJyvv1234
        key_id: "012345678912345678"
    actions-repository-permissions:
      value:
        allowed_actions: selected
        enabled: true
        selected_actions_url: https://api.github.com/repositories/42/actions/permissions/selected-actions
    actions-secret:
      value:
        created_at: 2019-08-10T14:59:22Z
        name: GH_TOKEN
        updated_at: 2020-01-10T14:59:22Z
    actions-secret-paginated:
      value:
        secrets:
          - created_at: 2019-08-10T14:59:22Z
            name: GH_TOKEN
            updated_at: 2020-01-10T14:59:22Z
          - created_at: 2020-01-10T10:59:22Z
            name: GIST_ID
            updated_at: 2020-01-11T11:59:22Z
        total_count: 2
    api-overview:
      value:
        actions:
          - 13.64.0.0/16
          - 13.65.0.0/16
        api:
          - 192.30.252.0/22
          - 185.199.108.0/22
        git:
          - 192.30.252.0/22
        hooks:
          - 192.30.252.0/22
        importer:
          - 54.158.161.132
          - 54.226.70.38
        pages:
          - 192.30.252.153/32
          - 192.30.252.154/32
        ssh_key_fingerprints:
          SHA256_DSA: br9IjFspm1vxR3iA35FWE+4VTyz1hYVLIE2t1/CeyWQ
          SHA256_RSA: nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8
        verifiable_password_authentication: true
        web:
          - 192.30.252.0/22
          - 185.199.108.0/22
    application-grant:
      value:
        app:
          client_id: abcde12345fghij67890
          name: my github app
          url: http://my-github-app.com
        created_at: 2011-09-06T17:26:27Z
        id: 1
        scopes:
          - public_repo
        updated_at: 2011-09-06T20:39:23Z
        url: https://api.github.com/applications/grants/1
    application-grant-items:
      value:
        - app:
            client_id: abcde12345fghij67890
            name: my github app
            url: http://my-github-app.com
          created_at: 2011-09-06T17:26:27Z
          id: 1
          scopes:
            - public_repo
          updated_at: 2011-09-06T20:39:23Z
          url: https://api.github.com/applications/grants/1
    artifact:
      value:
        archive_download_url: https://api.github.com/repos/octo-org/octo-docs/actions/artifacts/11/zip
        created_at: 2020-01-10T14:59:22Z
        expired: false
        expires_at: 2020-01-21T14:59:22Z
        id: 11
        name: Rails
        node_id: MDg6QXJ0aWZhY3QxMQ==
        size_in_bytes: 556
        updated_at: 2020-01-21T14:59:22Z
        url: https://api.github.com/repos/octo-org/octo-docs/actions/artifacts/11
    artifact-paginated:
      value:
        artifacts:
          - archive_download_url: https://api.github.com/repos/octo-org/octo-docs/actions/artifacts/11/zip
            created_at: 2020-01-10T14:59:22Z
            expired: false
            expires_at: 2020-03-21T14:59:22Z
            id: 11
            name: Rails
            node_id: MDg6QXJ0aWZhY3QxMQ==
            size_in_bytes: 556
            updated_at: 2020-02-21T14:59:22Z
            url: https://api.github.com/repos/octo-org/octo-docs/actions/artifacts/11
          - archive_download_url: https://api.github.com/repos/octo-org/octo-docs/actions/artifacts/13/zip
            created_at: 2020-01-10T14:59:22Z
            expired: false
            expires_at: 2020-03-21T14:59:22Z
            id: 13
            name: ""
            node_id: MDg6QXJ0aWZhY3QxMw==
            size_in_bytes: 453
            updated_at: 2020-02-21T14:59:22Z
            url: https://api.github.com/repos/octo-org/octo-docs/actions/artifacts/13
        total_count: 2
    audit-log:
      value:
        - "@timestamp": 1606929874512
          action: team.add_member
          actor: octocat
          created_at: 1606929874512
          org: octo-corp
          team: octo-corp/example-team
          user: monalisa
        - "@timestamp": 1606507117008
          action: org.create
          actor: octocat
          created_at: 1606507117008
          org: octocat-test-org
        - "@timestamp": 1605719148837
          action: repo.destroy
          actor: monalisa
          created_at: 1605719148837
          org: mona-org
          repo: mona-org/mona-test-repo
          visibility: private
    authentication-token:
      value:
        expires_at: 2020-01-22T12:13:35.123-08:00
        token: LLBF3JGZDX3P5PMEXLND6TS6FCWO6
    authentication-token-2:
      value:
        expires_at: 2020-01-29T12:13:35.123-08:00
        token: AABF3JGZDX3P5PMEXLND6TS6FCWO6
    authorization:
      value:
        app:
          client_id: abcde12345fghij67890
          name: my github app
          url: http://my-github-app.com
        created_at: 2011-09-06T17:26:27Z
        fingerprint: ""
        hashed_token: 25f94a2a5c7fbaf499c665bc73d67c1c87e496da8985131633ee0a95819db2e8
        id: 1
        note: optional note
        note_url: http://optional/note/url
        scopes:
          - public_repo
        token: abcdefgh12345678
        token_last_eight: "12345678"
        updated_at: 2011-09-06T20:39:23Z
        url: https://api.github.com/authorizations/1
    authorization-2:
      value:
        app:
          client_id: abcde12345fghij67890
          name: my github app
          url: http://my-github-app.com
        created_at: 2011-09-06T17:26:27Z
        fingerprint: jklmnop12345678
        hashed_token: 25f94a2a5c7fbaf499c665bc73d67c1c87e496da8985131633ee0a95819db2e8
        id: 1
        note: optional note
        note_url: http://optional/note/url
        scopes:
          - public_repo
        token: ""
        token_last_eight: "12345678"
        updated_at: 2011-09-06T20:39:23Z
        url: https://api.github.com/authorizations/1
    authorization-3:
      value:
        app:
          client_id: abcde12345fghij67890
          name: my github app
          url: http://my-github-app.com
        created_at: 2011-09-06T17:26:27Z
        fingerprint: jklmnop12345678
        hashed_token: 25f94a2a5c7fbaf499c665bc73d67c1c87e496da8985131633ee0a95819db2e8
        id: 1
        note: optional note
        note_url: http://optional/note/url
        scopes:
          - public_repo
        token: abcdefgh12345678
        token_last_eight: "12345678"
        updated_at: 2011-09-06T20:39:23Z
        url: https://api.github.com/authorizations/1
    authorization-items:
      value:
        - app:
            client_id: abcde12345fghij67890
            name: my github app
            url: http://my-github-app.com
          created_at: 2011-09-06T17:26:27Z
          fingerprint: jklmnop12345678
          hashed_token: 25f94a2a5c7fbaf499c665bc73d67c1c87e496da8985131633ee0a95819db2e8
          id: 1
          note: optional note
          note_url: http://optional/note/url
          scopes:
            - public_repo
          token: ""
          token_last_eight: "12345678"
          updated_at: 2011-09-06T20:39:23Z
          url: https://api.github.com/authorizations/1
    authorization-response-if-returning-an-existing-token:
      value:
        app:
          client_id: abcde12345fghij67890
          name: my github app
          url: http://my-github-app.com
        created_at: 2011-09-06T17:26:27Z
        fingerprint: jklmnop12345678
        hashed_token: 25f94a2a5c7fbaf499c665bc73d67c1c87e496da8985131633ee0a95819db2e8
        id: 1
        note: optional note
        note_url: http://optional/note/url
        scopes:
          - public_repo
        token: ""
        token_last_eight: "12345678"
        updated_at: 2011-09-06T20:39:23Z
        url: https://api.github.com/authorizations/1
    authorization-response-if-returning-an-existing-token-2:
      value:
        app:
          client_id: abcde12345fghij67890
          name: my github app
          url: http://my-github-app.com
        created_at: 2011-09-06T17:26:27Z
        fingerprint: ""
        hashed_token: 25f94a2a5c7fbaf499c665bc73d67c1c87e496da8985131633ee0a95819db2e8
        id: 1
        note: optional note
        note_url: http://optional/note/url
        scopes:
          - public_repo
        token: ""
        token_last_eight: "12345678"
        updated_at: 2011-09-06T20:39:23Z
        url: https://api.github.com/authorizations/1
    authorization-with-user:
      value:
        app:
          client_id: abcde12345fghij67890
          name: my github app
          url: http://my-github-app.com
        created_at: 2011-09-06T17:26:27Z
        fingerprint: jklmnop12345678
        hashed_token: 25f94a2a5c7fbaf499c665bc73d67c1c87e496da8985131633ee0a95819db2e8
        id: 1
        note: optional note
        note_url: http://optional/note/url
        scopes:
          - public_repo
          - user
        token: abcdefgh12345678
        token_last_eight: "12345678"
        updated_at: 2011-09-06T20:39:23Z
        url: https://api.github.com/authorizations/1
        user:
          avatar_url: https://github.com/images/error/octocat_happy.gif
          events_url: https://api.github.com/users/octocat/events{/privacy}
          followers_url: https://api.github.com/users/octocat/followers
          following_url: https://api.github.com/users/octocat/following{/other_user}
          gists_url: https://api.github.com/users/octocat/gists{/gist_id}
          gravatar_id: ""
          html_url: https://github.com/octocat
          id: 1
          login: octocat
          node_id: MDQ6VXNlcjE=
          organizations_url: https://api.github.com/users/octocat/orgs
          received_events_url: https://api.github.com/users/octocat/received_events
          repos_url: https://api.github.com/users/octocat/repos
          site_admin: false
          starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
          subscriptions_url: https://api.github.com/users/octocat/subscriptions
          type: User
          url: https://api.github.com/users/octocat
    base-gist:
      value:
        comments: 0
        comments_url: https://api.github.com/gists/aa5a315d61ae9438b18d/comments/
        commits_url: https://api.github.com/gists/aa5a315d61ae9438b18d/commits
        created_at: 2010-04-14T02:15:15Z
        description: Hello World Examples
        files:
          hello_world.rb:
            filename: hello_world.rb
            language: Ruby
            raw_url: https://gist.githubusercontent.com/octocat/6cad326836d38bd3a7ae/raw/db9c55113504e46fa076e7df3a04ce592e2e86d8/hello_world.rb
            size: 167
            type: application/x-ruby
        forks_url: https://api.github.com/gists/aa5a315d61ae9438b18d/forks
        git_pull_url: https://gist.github.com/aa5a315d61ae9438b18d.git
        git_push_url: https://gist.github.com/aa5a315d61ae9438b18d.git
        html_url: https://gist.github.com/aa5a315d61ae9438b18d
        id: aa5a315d61ae9438b18d
        node_id: MDQ6R2lzdGFhNWEzMTVkNjFhZTk0MzhiMThk
        owner:
          avatar_url: https://github.com/images/error/octocat_happy.gif
          events_url: https://api.github.com/users/octocat/events{/privacy}
          followers_url: https://api.github.com/users/octocat/followers
          following_url: https://api.github.com/users/octocat/following{/other_user}
          gists_url: https://api.github.com/users/octocat/gists{/gist_id}
          gravatar_id: ""
          html_url: https://github.com/octocat
          id: 1
          login: octocat
          node_id: MDQ6VXNlcjE=
          organizations_url: https://api.github.com/users/octocat/orgs
          received_events_url: https://api.github.com/users/octocat/received_events
          repos_url: https://api.github.com/users/octocat/repos
          site_admin: false
          starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
          subscriptions_url: https://api.github.com/users/octocat/subscriptions
          type: User
          url: https://api.github.com/users/octocat
        public: true
        truncated: false
        updated_at: 2011-06-20T11:34:15Z
        url: https://api.github.com/gists/aa5a315d61ae9438b18d
        user: null
    base-gist-items:
      value:
        - comments: 0
          comments_url: https://api.github.com/gists/aa5a315d61ae9438b18d/comments/
          commits_url: https://api.github.com/gists/aa5a315d61ae9438b18d/commits
          created_at: 2010-04-14T02:15:15Z
          description: Hello World Examples
          files:
            hello_world.rb:
              filename: hello_world.rb
              language: Ruby
              raw_url: https://gist.githubusercontent.com/octocat/6cad326836d38bd3a7ae/raw/db9c55113504e46fa076e7df3a04ce592e2e86d8/hello_world.rb
              size: 167
              type: application/x-ruby
          forks_url: https://api.github.com/gists/aa5a315d61ae9438b18d/forks
          git_pull_url: https://gist.github.com/aa5a315d61ae9438b18d.git
          git_push_url: https://gist.github.com/aa5a315d61ae9438b18d.git
          html_url: https://gist.github.com/aa5a315d61ae9438b18d
          id: aa5a315d61ae9438b18d
          node_id: MDQ6R2lzdGFhNWEzMTVkNjFhZTk0MzhiMThk
          owner:
            avatar_url: https://github.com/images/error/octocat_happy.gif
            events_url: https://api.github.com/users/octocat/events{/privacy}
            followers_url: https://api.github.com/users/octocat/followers
            following_url: https://api.github.com/users/octocat/following{/other_user}
            gists_url: https://api.github.com/users/octocat/gists{/gist_id}
            gravatar_id: ""
            html_url: https://github.com/octocat
            id: 1
            login: octocat
            node_id: MDQ6VXNlcjE=
            organizations_url: https://api.github.com/users/octocat/orgs
            received_events_url: https://api.github.com/users/octocat/received_events
            repos_url: https://api.github.com/users/octocat/repos
            site_admin: false
            starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octocat/subscriptions
            type: User
            url: https://api.github.com/users/octocat
          public: true
          truncated: false
          updated_at: 2011-06-20T11:34:15Z
          url: https://api.github.com/gists/aa5a315d61ae9438b18d
          user: null
    base-installation:
      value:
        access_tokens_url: https://api.github.com/installations/1/access_tokens
        account:
          avatar_url: https://github.com/images/error/octocat_happy.gif
          events_url: https://api.github.com/users/octocat/events{/privacy}
          followers_url: https://api.github.com/users/octocat/followers
          following_url: https://api.github.com/users/octocat/following{/other_user}
          gists_url: https://api.github.com/users/octocat/gists{/gist_id}
          gravatar_id: ""
          html_url: https://github.com/octocat
          id: 1
          login: octocat
          node_id: MDQ6VXNlcjE=
          organizations_url: https://api.github.com/users/octocat/orgs
          received_events_url: https://api.github.com/users/octocat/received_events
          repos_url: https://api.github.com/users/octocat/repos
          site_admin: false
          starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
          subscriptions_url: https://api.github.com/users/octocat/subscriptions
          type: User
          url: https://api.github.com/users/octocat
        app_id: 1
        app_slug: github-actions
        created_at: 2017-07-08T16:18:44-04:00
        events:
          - push
          - pull_request
        has_multiple_single_files: true
        html_url: https://github.com/organizations/github/settings/installations/1
        id: 1
        permissions:
          checks: write
          contents: read
          metadata: read
        repositories_url: https://api.github.com/installation/repositories
        repository_selection: selected
        single_file_name: config.yaml
        single_file_paths:
          - config.yml
          - .github/issue_TEMPLATE.md
        target_id: 1
        target_type: Organization
        updated_at: 2017-07-08T16:18:44-04:00
    base-installation-for-auth-user-paginated:
      value:
        installations:
          - access_tokens_url: https://api.github.com/installations/1/access_tokens
            account:
              avatar_url: https://github.com/images/error/octocat_happy.gif
              events_url: https://api.github.com/users/octocat/events{/privacy}
              followers_url: https://api.github.com/users/octocat/followers
              following_url: https://api.github.com/users/octocat/following{/other_user}
              gists_url: https://api.github.com/users/octocat/gists{/gist_id}
              gravatar_id: ""
              html_url: https://github.com/octocat
              id: 1
              login: octocat
              node_id: MDQ6VXNlcjE=
              organizations_url: https://api.github.com/users/octocat/orgs
              received_events_url: https://api.github.com/users/octocat/received_events
              repos_url: https://api.github.com/users/octocat/repos
              site_admin: false
              starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
              subscriptions_url: https://api.github.com/users/octocat/subscriptions
              type: User
              url: https://api.github.com/users/octocat
            app_id: 1
            app_slug: github-actions
            created_at: 2017-07-08T16:18:44-04:00
            events:
              - push
              - pull_request
            has_multiple_single_files: true
            html_url: https://github.com/organizations/github/settings/installations/1
            id: 1
            permissions:
              checks: write
              contents: read
              metadata: read
            repositories_url: https://api.github.com/installation/repositories
            repository_selection: all
            single_file_name: config.yaml
            single_file_paths:
              - config.yml
              - .github/issue_TEMPLATE.md
            target_id: 1
            target_type: Organization
            updated_at: 2017-07-08T16:18:44-04:00
          - access_tokens_url: https://api.github.com/installations/1/access_tokens
            account:
              avatar_url: https://github.com/images/error/octocat_happy.gif
              events_url: https://api.github.com/users/octocat/events{/privacy}
              followers_url: https://api.github.com/users/octocat/followers
              following_url: https://api.github.com/users/octocat/following{/other_user}
              gists_url: https://api.github.com/users/octocat/gists{/gist_id}
              gravatar_id: ""
              html_url: https://github.com/octocat
              id: 2
              login: octocat
              node_id: MDQ6VXNlcjE=
              organizations_url: https://api.github.com/users/octocat/orgs
              received_events_url: https://api.github.com/users/octocat/received_events
              repos_url: https://api.github.com/users/octocat/repos
              site_admin: false
              starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
              subscriptions_url: https://api.github.com/users/octocat/subscriptions
              type: User
              url: https://api.github.com/users/octocat
            app_id: 1
            app_slug: github-actions
            created_at: 2017-07-08T16:18:44-04:00
            events:
              - push
              - pull_request
            has_multiple_single_files: true
            html_url: https://github.com/organizations/github/settings/installations/1
            id: 3
            permissions:
              checks: write
              contents: read
              metadata: read
            repositories_url: https://api.github.com/installation/repositories
            repository_selection: all
            single_file_name: config.yaml
            single_file_paths:
              - config.yml
              - .github/issue_TEMPLATE.md
            target_id: 1
            target_type: Organization
            updated_at: 2017-07-08T16:18:44-04:00
        total_count: 2
    base-installation-items:
      value:
        - access_tokens_url: https://api.github.com/installations/1/access_tokens
          account:
            avatar_url: https://github.com/images/error/octocat_happy.gif
            events_url: https://api.github.com/users/octocat/events{/privacy}
            followers_url: https://api.github.com/users/octocat/followers
            following_url: https://api.github.com/users/octocat/following{/other_user}
            gists_url: https://api.github.com/users/octocat/gists{/gist_id}
            gravatar_id: ""
            html_url: https://github.com/octocat
            id: 1
            login: octocat
            node_id: MDQ6VXNlcjE=
            organizations_url: https://api.github.com/users/octocat/orgs
            received_events_url: https://api.github.com/users/octocat/received_events
            repos_url: https://api.github.com/users/octocat/repos
            site_admin: false
            starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octocat/subscriptions
            type: User
            url: https://api.github.com/users/octocat
          app_id: 1
          app_slug: github-actions
          created_at: 2017-07-08T16:18:44-04:00
          events:
            - push
            - pull_request
          has_multiple_single_files: true
          html_url: https://github.com/organizations/github/settings/installations/1
          id: 1
          permissions:
            checks: write
            contents: read
            metadata: read
          repositories_url: https://api.github.com/installation/repositories
          repository_selection: selected
          single_file_name: config.yaml
          single_file_paths:
            - config.yml
            - .github/issue_TEMPLATE.md
          target_id: 1
          target_type: Organization
          updated_at: 2017-07-08T16:18:44-04:00
    blob:
      value:
        content: Q29udGVudCBvZiB0aGUgYmxvYg==
        encoding: base64
        node_id: Q29udGVudCBvZiB0aGUgYmxvYg==
        sha: 3a0f86fb8db8eea7ccbb9a95f325ddbedfb25e15
        size: 19
        url: https://api.github.com/repos/octocat/example/git/blobs/3a0f86fb8db8eea7ccbb9a95f325ddbedfb25e15
    branch-protection:
      value:
        allow_deletions:
          enabled: true
        allow_force_pushes:
          enabled: true
        enabled: true
        enforce_admins:
          enabled: true
          url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/enforce_admins
        required_linear_history:
          enabled: true
        required_pull_request_reviews:
          dismiss_stale_reviews: true
          dismissal_restrictions:
            teams:
              - description: A great team.
                html_url: https://github.com/orgs/github/teams/justice-league
                id: 1
                members_url: https://api.github.com/teams/1/members{/member}
                name: Justice League
                node_id: MDQ6VGVhbTE=
                parent: null
                permission: admin
                privacy: closed
                repositories_url: https://api.github.com/teams/1/repos
                slug: justice-league
                url: https://api.github.com/teams/1
            teams_url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/dismissal_restrictions/teams
            url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/dismissal_restrictions
            users:
              - avatar_url: https://github.com/images/error/octocat_happy.gif
                events_url: https://api.github.com/users/octocat/events{/privacy}
                followers_url: https://api.github.com/users/octocat/followers
                following_url: https://api.github.com/users/octocat/following{/other_user}
                gists_url: https://api.github.com/users/octocat/gists{/gist_id}
                gravatar_id: ""
                html_url: https://github.com/octocat
                id: 1
                login: octocat
                node_id: MDQ6VXNlcjE=
                organizations_url: https://api.github.com/users/octocat/orgs
                received_events_url: https://api.github.com/users/octocat/received_events
                repos_url: https://api.github.com/users/octocat/repos
                site_admin: false
                starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
                subscriptions_url: https://api.github.com/users/octocat/subscriptions
                type: User
                url: https://api.github.com/users/octocat
            users_url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/dismissal_restrictions/users
          require_code_owner_reviews: true
          required_approving_review_count: 2
          url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/required_pull_request_reviews
        required_status_checks:
          contexts:
            - continuous-integration/travis-ci
          contexts_url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/required_status_checks/contexts
          enforcement_level: non_admins
          url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/required_status_checks
        restrictions:
          apps:
            - created_at: 2017-07-08T16:18:44-04:00
              description: ""
              events:
                - push
                - pull_request
              external_url: https://example.com
              html_url: https://github.com/apps/octoapp
              id: 1
              name: Octocat App
              node_id: MDExOkludGVncmF0aW9uMQ==
              owner:
                avatar_url: https://github.com/images/error/octocat_happy.gif
                description: A great organization
                events_url: https://api.github.com/orgs/github/events
                hooks_url: https://api.github.com/orgs/github/hooks
                id: 1
                issues_url: https://api.github.com/orgs/github/issues
                login: github
                members_url: https://api.github.com/orgs/github/members{/member}
                node_id: MDEyOk9yZ2FuaXphdGlvbjE=
                public_members_url: https://api.github.com/orgs/github/public_members{/member}
                repos_url: https://api.github.com/orgs/github/repos
                url: https://api.github.com/orgs/github
              permissions:
                contents: read
                issues: write
                metadata: read
                single_file: write
              slug: octoapp
              updated_at: 2017-07-08T16:18:44-04:00
          apps_url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/restrictions/teams
          teams:
            - description: A great team.
              html_url: https://github.com/orgs/github/teams/justice-league
              id: 1
              members_url: https://api.github.com/teams/1/members{/member}
              name: Justice League
              node_id: MDQ6VGVhbTE=
              parent: null
              permission: admin
              privacy: closed
              repositories_url: https://api.github.com/teams/1/repos
              slug: justice-league
              url: https://api.github.com/teams/1
          teams_url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/restrictions/teams
          url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/restrictions
          users:
            - avatar_url: https://github.com/images/error/octocat_happy.gif
              events_url: https://api.github.com/users/octocat/events{/privacy}
              followers_url: https://api.github.com/users/octocat/followers
              following_url: https://api.github.com/users/octocat/following{/other_user}
              gists_url: https://api.github.com/users/octocat/gists{/gist_id}
              gravatar_id: ""
              html_url: https://github.com/octocat
              id: 1
              login: octocat
              node_id: MDQ6VXNlcjE=
              organizations_url: https://api.github.com/users/octocat/orgs
              received_events_url: https://api.github.com/users/octocat/received_events
              repos_url: https://api.github.com/users/octocat/repos
              site_admin: false
              starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
              subscriptions_url: https://api.github.com/users/octocat/subscriptions
              type: User
              url: https://api.github.com/users/octocat
          users_url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/restrictions/users
        url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection
    branch-restriction-policy:
      value:
        apps:
          - created_at: 2017-07-08T16:18:44-04:00
            description: ""
            events:
              - push
              - pull_request
            external_url: https://example.com
            html_url: https://github.com/apps/octoapp
            id: 1
            name: Octocat App
            node_id: MDExOkludGVncmF0aW9uMQ==
            owner:
              avatar_url: https://github.com/images/error/octocat_happy.gif
              description: A great organization
              events_url: https://api.github.com/orgs/github/events
              hooks_url: https://api.github.com/orgs/github/hooks
              id: 1
              issues_url: https://api.github.com/orgs/github/issues
              login: github
              members_url: https://api.github.com/orgs/github/members{/member}
              node_id: MDEyOk9yZ2FuaXphdGlvbjE=
              public_members_url: https://api.github.com/orgs/github/public_members{/member}
              repos_url: https://api.github.com/orgs/github/repos
              url: https://api.github.com/orgs/github
            permissions:
              contents: read
              issues: write
              metadata: read
              single_file: write
            slug: octoapp
            updated_at: 2017-07-08T16:18:44-04:00
        apps_url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/restrictions/teams
        teams:
          - description: A great team.
            html_url: https://github.com/orgs/github/teams/justice-league
            id: 1
            members_url: https://api.github.com/teams/1/members{/member}
            name: Justice League
            node_id: MDQ6VGVhbTE=
            parent: null
            permission: admin
            privacy: closed
            repositories_url: https://api.github.com/teams/1/repos
            slug: justice-league
            url: https://api.github.com/teams/1
        teams_url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/restrictions/teams
        url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/restrictions
        users:
          - avatar_url: https://github.com/images/error/octocat_happy.gif
            events_url: https://api.github.com/users/octocat/events{/privacy}
            followers_url: https://api.github.com/users/octocat/followers
            following_url: https://api.github.com/users/octocat/following{/other_user}
            gists_url: https://api.github.com/users/octocat/gists{/gist_id}
            gravatar_id: ""
            html_url: https://github.com/octocat
            id: 1
            login: octocat
            node_id: MDQ6VXNlcjE=
            organizations_url: https://api.github.com/users/octocat/orgs
            received_events_url: https://api.github.com/users/octocat/received_events
            repos_url: https://api.github.com/users/octocat/repos
            site_admin: false
            starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octocat/subscriptions
            type: User
            url: https://api.github.com/users/octocat
        users_url: https://api.github.com/repos/octocat/Hello-World/branches/master/protection/restrictions/users
    branch-short-items:
      value:
        - commit:
            sha: c5b97d5ae6c19d5c5df71a34c7fbeeda2479ccbc
            url: https://api.github.com/repos/octocat/Hello-World/commits/c5b97d5ae6c19d5c5df71a34c7fbeeda2479ccbc
          name: branch_5
          protected: false
    branch-with-protection:
      value:
        _links:
          html: https://github.com/octocat/Hello-World/tree/master
          self: https://api.github.com/repos/octocat/Hello-World/branches/master
        commit:
          author:
            avatar_url: https://secure.gravatar.com/avatar/7ad39074b0584bc555d0417ae3e7d974?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png
            events_url: https://api.github.com/users/octocat/events{/privacy}
            followers_url: https://api.github.com/users/octocat/followers
            following_url: https://api.github.com/users/octocat/following{/other_user}
            gists_url: https://api.github.com/users/octocat/gists{/gist_id}
            gravatar_id: ""
            html_url: https://github.com/octocat
            id: 583231
            login: octocat
            node_id: MDQ6VXNlcjE=
            organizations_url: https://api.github.com/users/octocat/orgs
            received_events_url: https://api.github.com/users/octocat/received_events
            repos_url: https://api.github.com/users/octocat/repos
            site_admin: true
            starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octocat/subscriptions
            type: User
            url: https://api.github.com/users/octocat
          comments_url: https://api.github.com/repos/octocat/Hello-World/commits/6dcb09b5b57875f334f61aebed695e2e4193db5e/comments
          commit:
            author:
              date: 2012-03-06T15:06:50-08:00
              email: octocat@nowhere.com
              name: The Octocat
            comment_count: 0
            committer:
              date: 2012-03-06T15:06:50-08:00
              email: octocat@nowhere.com
              name: The Octocat
            message: |-
              Merge pull request #6 from Spaceghost/patch-1

              New line at end of file.
            tree:
              sha: b4eecafa9be2f2006ce1b709d6857b07069b4608
              url: https://api.github.com/repos/octocat/Hello-World/git/trees/b4eecafa9be2f2006ce1b709d6857b07069b4608
            url: https://api.github.com/repos/octocat/Hello-World/git/commits/7fd1a60b01f91b314f59955a4e4d4e80d8edf11d
            verification:
              payload: null
              reason: unsigned
              signature: null
              verified: false
          committer:
            avatar_url: https://secure.gravatar.com/avatar/7ad39074b0584bc555d0417ae3e7d974?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png
            events_url: https://api.github.com/users/octocat/events{/privacy}
            followers_url: https://api.github.com/users/octocat/followers
            following_url: https://api.github.com/users/octocat/following{/other_user}
            gists_url: https://api.github.com/users/octocat/gists{/gist_id}
            gravatar_id: ""
            html_url: https://github.com/octocat
            id: 583231
            login: octocat
            node_id: MDQ6VXNlcjE=
            organizations_url: https://api.github.com/users/octocat/orgs
            received_events_url: https://api.github.com/users/octocat/received_events
            repos_url: https://api.github.com/users/octocat/repos
            site_admin: true
            starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octocat/subscriptions
            type: User
            url: https://api.github.com/users/octocat
          html_url: https://github.com/octocat/Hello-World/commit/6dcb09b5b57875f334f61aebed695e2e4193db5e
          node_id: MDY6Q29tbWl0N2ZkMWE2MGIwMWY5MWIzMTRmNTk5NTVhNGU0ZDRlODBkOGVkZjExZA==
          parents:
            - sha: 553c2077f0edc3d5dc5d17262f6aa498e69d6f8e
              url: https://api.github.com/repos/octocat/Hello-World/commits/553c2077f0edc3d5dc5d17262f6aa498e69d6f8e
            - sha: 762941318ee16e59dabbacb1b4049eec22f0d303
              url: https://api.github.com/repos/octocat/Hello-World/commits/762941318ee16e59dabbacb1b4049eec22f0d303
          sha: 7fd1a60b01f91b314f59955a4e4d4e80d8edf11d
          url: https://api.github.com/repos/octocat/Hello-World/commits/7fd1a60b01f91b314f59955a4e4d4e80d8edf11d
        name: master
        protected: true
        protection:
          enabled: true
          required_status_checks:
            contexts:
              - ci-test
              - linter
            enforcement_level: non_admins
        protection_url: https://api.github.com/repos/octocat/hello-world/branches/master/protection
    check-annotation-items:
      value:
        - annotation_level: warning
          blob_href: https://api.github.com/repos/github/rest-api-description/git/blobs/abc
          end_column: 10
          end_line: 2
          message: Check your spelling for 'banaas'.
          path: README.md
          raw_details: Do you mean 'bananas' or 'banana'?
          start_column: 5
          start_line: 2
          title: Spell Checker
    check-run:
      value:
        app:
          created_at: 2017-07-08T16:18:44-04:00
          description: ""
          events:
            - push
            - pull_request
          external_url: https://example.com
          html_url: https://github.com/apps/octoapp
          id: 1
          name: Octocat App
          node_id: MDExOkludGVncmF0aW9uMQ==
          owner:
            avatar_url: https://github.com/images/error/octocat_happy.gif
            events_url: https://api.github.com/orgs/github/events
            followers_url: https://api.github.com/users/octocat/followers
            following_url: https://api.github.com/users/octocat/following{/other_user}
            gists_url: https://api.github.com/users/octocat/gists{/gist_id}
            gravatar_id: ""
            html_url: https://github.com/octocat
            id: 1
            login: github
            node_id: MDEyOk9yZ2FuaXphdGlvbjE=
            organizations_url: https://api.github.com/users/octocat/orgs
            received_events_url: https://api.github.com/users/octocat/received_events
            repos_url: https://api.github.com/orgs/github/repos
            site_admin: true
            starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octocat/subscriptions
            type: User
            url: https://api.github.com/orgs/github
          permissions:
            contents: read
            issues: write
            metadata: read
            single_file: write
          slug: octoapp
          updated_at: 2017-07-08T16:18:44-04:00
        check_suite:
          id: 5
        completed_at: 2018-05-04T01:14:52Z
        conclusion: neutral
        details_url: https://example.com
        external_id: ""
        head_sha: ce587453ced02b1526dfb4cb910479d431683101
        html_url: https://github.com/github/hello-world/runs/4
        id: 4
        name: mighty_readme
        node_id: MDg6Q2hlY2tSdW40
        output:
          annotations_count: 2
          annotations_url: https://api.github.com/repos/github/hello-world/check-runs/4/annotations
          summary: There are 0 failures, 2 warnings, and 1 notice.
          text: You may have some misspelled words on lines 2 and 4. You also may want to add a section in your README about how to install your app.
          title: Mighty Readme report
        pull_requests:
          - base:
              ref: master
              repo:
                id: 526
                name: hello-world
                url: https://api.github.com/repos/github/hello-world
              sha: e7fdf7640066d71ad16a86fbcbb9c6a10a18af4f
            head:
              ref: say-hello
              repo:
                id: 526
                name: hello-world
                url: https://api.github.com/repos/github/hello-world
              sha: 3dca65fa3e8d4b3da3f3d056c59aee1c50f41390
            id: 1934
            number: 3956
            url: https://api.github.com/repos/github/hello-world/pulls/1
        started_at: 2018-05-04T01:14:52Z
        status: completed
        url: https://api.github.com/repos/github/hello-world/check-runs/4
    check-run-example-of-completed-conclusion:
      summary: Example of completed conclusion
      value:
        app:
          created_at: 2017-07-08T16:18:44-04:00
          description: ""
          events:
            - push
            - pull_request
          external_url: https://example.com
          html_url: https://github.com/apps/octoapp
          id: 1
          name: Octocat App
          node_id: MDExOkludGVncmF0aW9uMQ==
          owner:
            avatar_url: https://github.com/images/error/octocat_happy.gif
            events_url: https://api.github.com/orgs/github/events
            followers_url: https://api.github.com/users/octocat/followers
            following_url: https://api.github.com/users/octocat/following{/other_user}
            gists_url: https://api.github.com/users/octocat/gists{/gist_id}
            gravatar_id: ""
            html_url: https://github.com/octocat
            id: 1
            login: github
            node_id: MDEyOk9yZ2FuaXphdGlvbjE=
            organizations_url: https://api.github.com/users/octocat/orgs
            received_events_url: https://api.github.com/users/octocat/received_events
            repos_url: https://api.github.com/orgs/github/repos
            site_admin: true
            starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octocat/subscriptions
            type: User
            url: https://api.github.com/orgs/github
          permissions:
            contents: read
            issues: write
            metadata: read
            single_file: write
          slug: octoapp
          updated_at: 2017-07-08T16:18:44-04:00
        check_suite:
          id: 5
        completed_at: 2018-05-04T01:14:52Z
        conclusion: neutral
        details_url: https://example.com
        external_id: ""
        head_sha: ce587453ced02b1526dfb4cb910479d431683101
        html_url: https://github.com/github/hello-world/runs/4
        id: 4
        name: mighty_readme
        node_id: MDg6Q2hlY2tSdW40
        output:
          annotations_count: 2
          annotations_url: https://api.github.com/repos/github/hello-world/check-runs/4/annotations
          summary: There are 0 failures, 2 warnings, and 1 notice.
          text: You may have some misspelled words on lines 2 and 4. You also may want to add a section in your README about how to install your app.
          title: Mighty Readme report
        pull_requests:
          - base:
              ref: master
              repo:
                id: 526
                name: hello-world
                url: https://api.github.com/repos/github/hello-world
              sha: e7fdf7640066d71ad16a86fbcbb9c6a10a18af4f
            head:
              ref: say-hello
              repo:
                id: 526
                name: hello-world
                url: https://api.github.com/repos/github/hello-world
              sha: 3dca65fa3e8d4b3da3f3d056c59aee1c50f41390
            id: 1934
            number: 3956
            url: https://api.github.com/repos/github/hello-world/pulls/1
        started_at: 2018-05-04T01:14:52Z
        status: completed
        url: https://api.github.com/repos/github/hello-world/check-runs/4
    check-run-example-of-in-progress-conclusion:
      summary: Example of in_progress conclusion
      value:
        app:
          created_at: 2017-07-08T16:18:44-04:00
          description: ""
          events:
            - push
            - pull_request
          external_url: https://example.com
          html_url: https://github.com/apps/octoapp
          id: 1
          name: Octocat App
          node_id: MDExOkludGVncmF0aW9uMQ==
          owner:
            avatar_url: https://github.com/images/error/octocat_happy.gif
            events_url: https://api.github.com/orgs/github/events
            followers_url: https://api.github.com/users/octocat/followers
            following_url: https://api.github.com/users/octocat/following{/other_user}
            gists_url: https://api.github.com/users/octocat/gists{/gist_id}
            gravatar_id: ""
            html_url: https://github.com/octocat
            id: 1
            login: github
            node_id: MDEyOk9yZ2FuaXphdGlvbjE=
            organizations_url: https://api.github.com/users/octocat/orgs
            received_events_url: https://api.github.com/users/octocat/received_events
            repos_url: https://api.github.com/orgs/github/repos
            site_admin: true
            starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octocat/subscriptions
            type: User
            url: https://api.github.com/orgs/github
          permissions:
            contents: read
            issues: write
            metadata: read
            single_file: write
          slug: octoapp
          updated_at: 2017-07-08T16:18:44-04:00
        check_suite:
          id: 5
        completed_at: null
        conclusion: neutral
        details_url: https://example.com
        external_id: "42"
        head_sha: ce587453ced02b1526dfb4cb910479d431683101
        html_url: https://github.com/github/hello-world/runs/4
        id: 4
        name: mighty_readme
        node_id: MDg6Q2hlY2tSdW40
        output:
          annotations_count: 1
          annotations_url: https://api.github.com/repos/github/hello-world/check-runs/4/annotations
          summary: ""
          text: ""
          title: Mighty Readme Report
        pull_requests:
          - base:
              ref: master
              repo:
                id: 526
                name: hello-world
                url: https://api.github.com/repos/github/hello-world
              sha: e7fdf7640066d71ad16a86fbcbb9c6a10a18af4f
            head:
              ref: say-hello
              repo:
                id: 526
                name: hello-world
                url: https://api.github.com/repos/github/hello-world
              sha: 3dca65fa3e8d4b3da3f3d056c59aee1c50f41390
            id: 1934
            number: 3956
            url: https://api.github.com/repos/github/hello-world/pulls/1
        started_at: 2018-05-04T01:14:52Z
        status: in_progress
        url: https://api.github.com/repos/github/hello-world/check-runs/4
    check-run-paginated:
      value:
        check_runs:
          - app:
              created_at: 2017-07-08T16:18:44-04:00
              description: ""
              events:
                - push
                - pull_request
              external_url: https://example.com
              html_url: https://github.com/apps/octoapp
              id: 1
              name: Octocat App
              node_id: MDExOkludGVncmF0aW9uMQ==
              owner:
                avatar_url: https://github.com/images/error/octocat_happy.gif
                events_url: https://api.github.com/orgs/github/events
                followers_url: https://api.github.com/users/octocat/followers
                following_url: https://api.github.com/users/octocat/following{/other_user}
                gists_url: https://api.github.com/users/octocat/gists{/gist_id}
                gravatar_id: ""
                html_url: https://github.com/octocat
                id: 1
                login: github
                node_id: MDEyOk9yZ2FuaXphdGlvbjE=
                organizations_url: https://api.github.com/users/octocat/orgs
                received_events_url: https://api.github.com/users/octocat/received_events
                repos_url: https://api.github.com/orgs/github/repos
                site_admin: true
                starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
                subscriptions_url: https://api.github.com/users/octocat/subscriptions
                type: User
                url: https://api.github.com/orgs/github
              permissions:
                contents: read
                issues: write
                metadata: read
                single_file: write
              slug: octoapp
              updated_at: 2017-07-08T16:18:44-04:00
            check_suite:
              id: 5
            completed_at: 2018-05-04T01:14:52Z
            conclusion: neutral
            details_url: https://example.com
            external_id: ""
            head_sha: ce587453ced02b1526dfb4cb910479d431683101
            html_url: https://github.com/github/hello-world/runs/4
            id: 4
            name: mighty_readme
            node_id: MDg6Q2hlY2tSdW40
            output:
              annotations_count: 2
              annotations_url: https://api.github.com/repos/github/hello-world/check-runs/4/annotations
              summary: There are 0 failures, 2 warnings, and 1 notice.
              text: You may have some misspelled words on lines 2 and 4. You also may want to add a section in your README about how to install your app.
              title: Mighty Readme report
            pull_requests:
              - base:
                  ref: master
                  repo:
                    id: 526
                    name: hello-world
                    url: https://api.github.com/repos/github/hello-world
                  sha: e7fdf7640066d71ad16a86fbcbb9c6a10a18af4f
                head:
                  ref: say-hello
                  repo:
                    id: 526
                    name: hello-world
                    url: https://api.github.com/repos/github/hello-world
                  sha: 3dca65fa3e8d4b3da3f3d056c59aee1c50f41390
                id: 1934
                number: 3956
                url: https://api.github.com/repos/github/hello-world/pulls/1
            started_at: 2018-05-04T01:14:52Z
            status: completed
            url: https://api.github.com/repos/github/hello-world/check-runs/4
        total_count: 1
    check-suite:
      value:
        after: d6fde92930d4715a2b49857d24b940956b26d2d3
        app:
          created_at: 2017-07-08T16:18:44-04:00
          description: ""
          events:
            - push
            - pull_request
          external_url: https://example.com
          html_url: https://github.com/apps/octoapp
          id: 1
          name: Octocat App
          node_id: MDExOkludGVncmF0aW9uMQ==
          owner:
            avatar_url: https://github.com/images/error/octocat_happy.gif
            events_url: https://api.github.com/orgs/github/events
            followers_url: https://api.github.com/users/octocat/followers
            following_url: https://api.github.com/users/octocat/following{/other_user}
            gists_url: https://api.github.com/users/octocat/gists{/gist_id}
            gravatar_id: ""
            html_url: https://github.com/octocat
            id: 1
            login: github
            node_id: MDEyOk9yZ2FuaXphdGlvbjE=
            organizations_url: https://api.github.com/users/octocat/orgs
            received_events_url: https://api.github.com/users/octocat/received_events
            repos_url: https://api.github.com/orgs/github/repos
            site_admin: true
            starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octocat/subscriptions
            type: User
            url: https://api.github.com/orgs/github
          permissions:
            contents: read
            issues: write
            metadata: read
            single_file: write
          slug: octoapp
          updated_at: 2017-07-08T16:18:44-04:00
        before: 146e867f55c26428e5f9fade55a9bbf5e95a7912
        check_runs_url: https://api.github.com/repos/octocat/Hello-World/check-suites/5/check-runs
        conclusion: neutral
        created_at: 2017-07-08T16:18:44-04:00
        head_branch: master
        head_commit:
          author:
            email: octocat@nowhere.com
            name: The Octocat
          committer:
            email: octocat@nowhere.com
            name: The Octocat
          id: 7fd1a60b01f91b314f59955a4e4d4e80d8edf11d
          message: |-
            Merge pull request #6 from Spaceghost/patch-1

            New line at end of file.
          timestamp: 2016-10-10T00:00:00Z
          tree_id: 7fd1a60b01f91b314f59955a4e4d4e80d8edf11d
        head_sha: d6fde92930d4715a2b49857d24b940956b26d2d3
        id: 5
        latest_check_runs_count: 1
        node_id: MDEwOkNoZWNrU3VpdGU1
        pull_requests: []
        repository:
          archive_url: https://api.github.com/repos/octocat/Hello-World/{archive_format}{/ref}
          archived: false
          assignees_url: https://api.github.com/repos/octocat/Hello-World/assignees{/user}
          blobs_url: https://api.github.com/repos/octocat/Hello-World/git/blobs{/sha}
          branches_url: https://api.github.com/repos/octocat/Hello-World/branches{/branch}
          clone_url: https://github.com/octocat/Hello-World.git
          collaborators_url: https://api.github.com/repos/octocat/Hello-World/collaborators{/collaborator}
          comments_url: https://api.github.com/repos/octocat/Hello-World/comments{/number}
          commits_url: https://api.github.com/repos/octocat/Hello-World/commits{/sha}
          compare_url: https://api.github.com/repos/octocat/Hello-World/compare/{base}...{head}
          contents_url: https://api.github.com/repos/octocat/Hello-World/contents/{+path}
          contributors_url: https://api.github.com/repos/octocat/Hello-World/contributors
          created_at: 2011-01-26T19:01:12Z
          default_branch: master
          delete_branch_on_merge: true
          deployments_url: https://api.github.com/repos/octocat/Hello-World/deployments
          description: This your first repo!
          disabled: false
          downloads_url: https://api.github.com/repos/octocat/Hello-World/downloads
          events_url: https://api.github.com/repos/octocat/Hello-World/events
          fork: false
          forks_count: 9
          forks_url: https://api.github.com/repos/octocat/Hello-World/forks
          full_name: octocat/Hello-World
          git_commits_url: https://api.github.com/repos/octocat/Hello-World/git/commits{/sha}
          git_refs_url: https://api.github.com/repos/octocat/Hello-World/git/refs{/sha}
          git_tags_url: https://api.github.com/repos/octocat/Hello-World/git/tags{/sha}
          git_url: git:github.com/octocat/Hello-World.git
          has_downloads: true
          has_issues: true
          has_pages: false
          has_projects: true
          has_wiki: true
          homepage: https://github.com
          hooks_url: https://api.github.com/repos/octocat/Hello-World/hooks
          html_url: https://github.com/octocat/Hello-World
          id: 1296269
          is_template: false
          issue_comment_url: https://api.github.com/repos/octocat/Hello-World/issues/comments{/number}
          issue_events_url: https://api.github.com/repos/octocat/Hello-World/issues/events{/number}
          issues_url: https://api.github.com/repos/octocat/Hello-World/issues{/number}
          keys_url: https://api.github.com/repos/octocat/Hello-World/keys{/key_id}
          labels_url: https://api.github.com/repos/octocat/Hello-World/labels{/name}
          language: null
          languages_url: https://api.github.com/repos/octocat/Hello-World/languages
          merges_url: https://api.github.com/repos/octocat/Hello-World/merges
          milestones_url: https://api.github.com/repos/octocat/Hello-World/milestones{/number}
          mirror_url: git:git.example.com/octocat/Hello-World
          name: Hello-World
          network_count: 0
          node_id: MDEwOlJlcG9zaXRvcnkxMjk2MjY5
          notifications_url: https://api.github.com/repos/octocat/Hello-World/notifications{?since,all,participating}
          open_issues_count: 0
          owner:
            avatar_url: https://github.com/images/error/octocat_happy.gif
            events_url: https://api.github.com/users/octocat/events{/privacy}
            followers_url: https://api.github.com/users/octocat/followers
            following_url: https://api.github.com/users/octocat/following{/other_user}
            gists_url: https://api.github.com/users/octocat/gists{/gist_id}
            gravatar_id: ""
            html_url: https://github.com/octocat
            id: 1
            login: octocat
            node_id: MDQ6VXNlcjE=
            organizations_url: https://api.github.com/users/octocat/orgs
            received_events_url: https://api.github.com/users/octocat/received_events
            repos_url: https://api.github.com/users/octocat/repos
            site_admin: false
            starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octocat/subscriptions
            type: User
            url: https://api.github.com/users/octocat
          permissions:
            admin: false
            pull: true
            push: false
          private: false
          pulls_url: https://api.github.com/repos/octocat/Hello-World/pulls{/number}
          pushed_at: 2011-01-26T19:06:43Z
          releases_url: https://api.github.com/repos/octocat/Hello-World/releases{/id}
          size: 108
          ssh_url: git@github.com:octocat/Hello-World.git
          stargazers_count: 80
          stargazers_url: https://api.github.com/repos/octocat/Hello-World/stargazers
          statuses_url: https://api.github.com/repos/octocat/Hello-World/statuses/{sha}
          subscribers_count: 42
          subscribers_url: https://api.github.com/repos/octocat/Hello-World/subscribers
          subscription_url: https://api.github.com/repos/octocat/Hello-World/subscription
          svn_url: https://svn.github.com/octocat/Hello-World
          tags_url: https://api.github.com/repos/octocat/Hello-World/tags
          teams_url: https://api.github.com/repos/octocat/Hello-World/teams
          temp_clone_token: ABTLWHOULUVAXGTRYU7OC2876QJ2O
          template_repository:
            allow_merge_commit: true
            allow_rebase_merge: true
            allow_squash_merge: true
            archive_url: https://api.github.com/repos/octocat/Hello-World-Template/{archive_format}{/ref}
            archived: false
            assignees_url: https://api.github.com/repos/octocat/Hello-World-Template/assignees{/user}
            blobs_url: https://api.github.com/repos/octocat/Hello-World-Template/git/blobs{/sha}
            branches_url: https://api.github.com/repos/octocat/Hello-World-Template/branches{/branch}
            clone_url: https://github.com/octocat/Hello-World-Template.git
            collaborators_url: https://api.github.com/repos/octocat/Hello-World-Template/collaborators{/collaborator}
            comments_url: https://api.github.com/repos/octocat/Hello-World-Template/comments{/number}
            commits_url: https://api.github.com/repos/octocat/Hello-World-Template/commits{/sha}
            compare_url: https://api.github.com/repos/octocat/Hello-World-Template/compare/{base}...{head}
            contents_url: https://api.github.com/repos/octocat/Hello-World-Template/contents/{+path}
            contributors_url: https://api.github.com/repos/octocat/Hello-World-Template/contributors
            created_at: 2011-01-26T19:01:12Z
            default_branch: master
            delete_branch_on_merge: true
            deployments_url: https://api.github.com/repos/octocat/Hello-World-Template/deployments
            description: This your first repo!
            disabled: false
            downloads_url: https://api.github.com/repos/octocat/Hello-World-Template/downloads
            events_url: https://api.github.com/repos/octocat/Hello-World-Template/events
            fork: false
            forks: 9
            forks_count: 9
            forks_url: https://api.github.com/repos/octocat/Hello-World-Template/forks
            full_name: octocat/Hello-World-Template
            git_commits_url: https://api.github.com/repos/octocat/Hello-World-Template/git/commits{/sha}
            git_refs_url: https://api.github.com/repos/octocat/Hello-World-Template/git/refs{/sha}
            git_tags_url: https://api.github.com/repos/octocat/Hello-World-Template/git/tags{/sha}
            git_url: git:github.com/octocat/Hello-World-Template.git
            has_downloads: true
            has_issues: true
            has_pages: false
            has_projects: true
            has_wiki: true
            homepage: https://github.com
            hooks_url: https://api.github.com/repos/octocat/Hello-World-Template/hooks
            html_url: https://github.com/octocat/Hello-World-Template
            id: 1296269
            is_template: true
            issue_comment_url: https://api.github.com/repos/octocat/Hello-World-Template/issues/comments{/number}
            issue_events_url: https://api.github.com/repos/octocat/Hello-World-Template/issues/events{/number}
            issues_url: https://api.github.com/repos/octocat/Hello-World-Template/issues{/number}
            keys_url: https://api.github.com/repos/octocat/Hello-World-Template/keys{/key_id}
            labels_url: https://api.github.com/repos/octocat/Hello-World-Template/labels{/name}
            language: null
            languages_url: https://api.github.com/repos/octocat/Hello-World-Template/languages
            license:
              html_url: https://api.github.com/licenses/mit
              key: mit
              name: MIT License
              node_id: MDc6TGljZW5zZW1pdA==
              spdx_id: MIT
              url: https://api.github.com/licenses/mit
            merges_url: https://api.github.com/repos/octocat/Hello-World-Template/merges
            milestones_url: https://api.github.com/repos/octocat/Hello-World-Template/milestones{/number}
            mirror_url: git:git.example.com/octocat/Hello-World-Template
            name: Hello-World-Template
            network_count: 0
            node_id: MDEwOlJlcG9zaXRvcnkxMjk2MjY5
            notifications_url: https://api.github.com/repos/octocat/Hello-World-Template/notifications{?since,all,participating}
            open_issues: 0
            open_issues_count: 0
            owner:
              avatar_url: https://github.com/images/error/octocat_happy.gif
              events_url: https://api.github.com/users/octocat/events{/privacy}
              followers_url: https://api.github.com/users/octocat/followers
              following_url: https://api.github.com/users/octocat/following{/other_user}
              gists_url: https://api.github.com/users/octocat/gists{/gist_id}
              gravatar_id: ""
              html_url: https://github.com/octocat
              id: 1
              login: octocat
              node_id: MDQ6VXNlcjE=
              organizations_url: https://api.github.com/users/octocat/orgs
              received_events_url: https://api.github.com/users/octocat/received_events
              repos_url: https://api.github.com/users/octocat/repos
              site_admin: false
              starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
              subscriptions_url: https://api.github.com/users/octocat/subscriptions
              type: User
              url: https://api.github.com/users/octocat
            permissions:
              admin: false
              pull: true
              push: false
            private: false
            pulls_url: https://api.github.com/repos/octocat/Hello-World-Template/pulls{/number}
            pushed_at: 2011-01-26T19:06:43Z
            releases_url: https://api.github.com/repos/octocat/Hello-World-Template/releases{/id}
            size: 108
            ssh_url: git@github.com:octocat/Hello-World-Template.git
            stargazers_count: 80
            stargazers_url: https://api.github.com/repos/octocat/Hello-World-Template/stargazers
            statuses_url: https://api.github.com/repos/octocat/Hello-World-Template/statuses/{sha}
            subscribers_count: 42
            subscribers_url: https://api.github.com/repos/octocat/Hello-World-Template/subscribers
            subscription_url: https://api.github.com/repos/octocat/Hello-World-Template/subscription
            svn_url: https://svn.github.com/octocat/Hello-World-Template
            tags_url: https://api.github.com/repos/octocat/Hello-World-Template/tags
            teams_url: https://api.github.com/repos/octocat/Hello-World-Template/teams
            temp_clone_token: ABTLWHOULUVAXGTRYU7OC2876QJ2O
            topics:
              - octocat
              - atom
              - electron
              - api
            trees_url: https://api.github.com/repos/octocat/Hello-World-Template/git/trees{/sha}
            updated_at: 2011-01-26T19:14:43Z
            url: https://api.github.com/repos/octocat/Hello-World-Template
            visibility: public
            watchers: 80
            watchers_count: 80
          topics:
            - octocat
            - atom
            - electron
            - api
          trees_url: https://api.github.com/repos/octocat/Hello-World/git/trees{/sha}
          updated_at: 2011-01-26T19:14:43Z
          url: https://api.github.com/repos/octocat/Hello-World
          visibility: public
          watchers_count: 80
        status: completed
        updated_at: 2017-07-08T16:18:44-04:00
        url: https://api.github.com/repos/github/hello-world/check-suites/5
    check-suite-paginated:
      value:
        check_suites:
          - after: d6fde92930d4715a2b49857d24b940956b26d2d3
            app:
              created_at: 2017-07-08T16:18:44-04:00
              description: ""
              events:
                - push
                - pull_request
              external_url: https://example.com
              html_url: https://github.com/apps/octoapp
              id: 1
              name: Octocat App
              node_id: MDExOkludGVncmF0aW9uMQ==
              owner:
                avatar_url: https://github.com/images/error/octocat_happy.gif
                events_url: https://api.github.com/orgs/github/events
                followers_url: https://api.github.com/users/octocat/followers
                following_url: https://api.github.com/users/octocat/following{/other_user}
                gists_url: https://api.github.com/users/octocat/gists{/gist_id}
                gravatar_id: ""
                html_url: https://github.com/octocat
                id: 1
                login: github
                node_id: MDEyOk9yZ2FuaXphdGlvbjE=
                organizations_url: https://api.github.com/users/octocat/orgs
                received_events_url: https://api.github.com/users/octocat/received_events
                repos_url: https://api.github.com/orgs/github/repos
                site_admin: true
                starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
                subscriptions_url: https://api.github.com/users/octocat/subscriptions
                type: User
                url: https://api.github.com/orgs/github
              permissions:
                contents: read
                issues: write
                metadata: read
                single_file: write
              slug: octoapp
              updated_at: 2017-07-08T16:18:44-04:00
            before: 146e867f55c26428e5f9fade55a9bbf5e95a7912
            check_runs_url: https://api.github.com/repos/octocat/Hello-World/check-suites/5/check-runs
            conclusion: neutral
            created_at: 2011-01-26T19:01:12Z
            head_branch: master
            head_commit:
              author:
                email: octocat@nowhere.com
                name: The Octocat
              committer:
                email: octocat@nowhere.com
                name: The Octocat
              id: 7fd1a60b01f91b314f59955a4e4d4e80d8edf11d
              message: |-
                Merge pull request #6 from Spaceghost/patch-1

                New line at end of file.
              timestamp: 2016-10-10T00:00:00Z
              tree_id: 7fd1a60b01f91b314f59955a4e4d4e80d8edf11d
            head_sha: d6fde92930d4715a2b49857d24b940956b26d2d3
            id: 5
            latest_check_runs_count: 1
            node_id: MDEwOkNoZWNrU3VpdGU1
            pull_requests: []
            repository:
              archive_url: https://api.github.com/repos/octocat/Hello-World/{archive_format}{/ref}
              archived: false
              assignees_url: https://api.github.com/repos/octocat/Hello-World/assignees{/user}
              blobs_url: https://api.github.com/repos/octocat/Hello-World/git/blobs{/sha}
              branches_url: https://api.github.com/repos/octocat/Hello-World/branches{/branch}
              clone_url: https://github.com/octocat/Hello-World.git
              collaborators_url: https://api.github.com/repos/octocat/Hello-World/collaborators{/collaborator}
              comments_url: https://api.github.com/repos/octocat/Hello-World/comments{/number}
              commits_url: https://api.github.com/repos/octocat/Hello-World/commits{/sha}
              compare_url: https://api.github.com/repos/octocat/Hello-World/compare/{base}...{head}
              contents_url: https://api.github.com/repos/octocat/Hello-World/contents/{+path}
              contributors_url: https://api.github.com/repos/octocat/Hello-World/contributors
              created_at: 2011-01-26T19:01:12Z
              default_branch: master
              delete_branch_on_merge: true
              deployments_url: https://api.github.com/repos/octocat/Hello-World/deployments
              description: This your first repo!
              disabled: false
              downloads_url: https://api.github.com/repos/octocat/Hello-World/downloads
              events_url: https://api.github.com/repos/octocat/Hello-World/events
              fork: false
              forks_count: 9
              forks_url: https://api.github.com/repos/octocat/Hello-World/forks
              full_name: octocat/Hello-World
              git_commits_url: https://api.github.com/repos/octocat/Hello-World/git/commits{/sha}
              git_refs_url: https://api.github.com/repos/octocat/Hello-World/git/refs{/sha}
              git_tags_url: https://api.github.com/repos/octocat/Hello-World/git/tags{/sha}
              git_url: git:github.com/octocat/Hello-World.git
              has_downloads: true
              has_issues: true
              has_pages: false
              has_projects: true
              has_wiki: true
              homepage: https://github.com
              hooks_url: https://api.github.com/repos/octocat/Hello-World/hooks
              html_url: https://github.com/octocat/Hello-World
              id: 1296269
              is_template: true
              issue_comment_url: https://api.github.com/repos/octocat/Hello-World/issues/comments{/number}
              issue_events_url: https://api.github.com/repos/octocat/Hello-World/issues/events{/number}
              issues_url: https://api.github.com/repos/octocat/Hello-World/issues{/number}
              keys_url: https://api.github.com/repos/octocat/Hello-World/keys{/key_id}
              labels_url: https://api.github.com/repos/octocat/Hello-World/labels{/name}
              language: null
              languages_url: https://api.github.com/repos/octocat/Hello-World/languages
              merges_url: https://api.github.com/repos/octocat/Hello-World/merges
              milestones_url: https://api.github.com/repos/octocat/Hello-World/milestones{/number}
              mirror_url: git:git.example.com/octocat/Hello-World
              name: Hello-World
              network_count: 0
              node_id: MDEwOlJlcG9zaXRvcnkxMjk2MjY5
              notifications_url: https://api.github.com/repos/octocat/Hello-World/notifications{?since,all,participating}
              open_issues_count: 0
              owner:
                avatar_url: https://github.com/images/error/octocat_happy.gif
                events_url: https://api.github.com/users/octocat/events{/privacy}
                followers_url: https://api.github.com/users/octocat/followers
                following_url: https://api.github.com/users/octocat/following{/other_user}
                gists_url: https://api.github.com/users/octocat/gists{/gist_id}
                gravatar_id: ""
                html_url: https://github.com/octocat
                id: 1
                login: octocat
                node_id: MDQ6VXNlcjE=
                organizations_url: https://api.github.com/users/octocat/orgs
                received_events_url: https://api.github.com/users/octocat/received_events
                repos_url: https://api.github.com/users/octocat/repos
                site_admin: false
                starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
                subscriptions_url: https://api.github.com/users/octocat/subscriptions
                type: User
                url: https://api.github.com/users/octocat
              permissions:
                admin: false
                pull: true
                push: false
              private: false
              pulls_url: https://api.github.com/repos/octocat/Hello-World/pulls{/number}
              pushed_at: 2011-01-26T19:06:43Z
              releases_url: https://api.github.com/repos/octocat/Hello-World/releases{/id}
              size: 108
              ssh_url: git@github.com:octocat/Hello-World.git
              stargazers_count: 80
              stargazers_url: https://api.github.com/repos/octocat/Hello-World/stargazers
              statuses_url: https://api.github.com/repos/octocat/Hello-World/statuses/{sha}
              subscribers_count: 42
              subscribers_url: https://api.github.com/repos/octocat/Hello-World/subscribers
              subscription_url: https://api.github.com/repos/octocat/Hello-World/subscription
              svn_url: https://svn.github.com/octocat/Hello-World
              tags_url: https://api.github.com/repos/octocat/Hello-World/tags
              teams_url: https://api.github.com/repos/octocat/Hello-World/teams
              temp_clone_token: ABTLWHOULUVAXGTRYU7OC2876QJ2O
              topics:
                - octocat
                - atom
                - electron
                - api
              trees_url: https://api.github.com/repos/octocat/Hello-World/git/trees{/sha}
              updated_at: 2011-01-26T19:14:43Z
              url: https://api.github.com/repos/octocat/Hello-World
              visibility: public
              watchers_count: 80
            status: completed
            updated_at: 2011-01-26T19:14:43Z
            url: https://api.github.com/repos/github/hello-world/check-suites/5
        total_count: 1
    check-suite-preference:
      value:
        preferences:
          auto_trigger_checks:
            - app_id: 2
              setting: true
            - app_id: 4
              setting: false
        repository:
          allow_merge_commit: true
          allow_rebase_merge: true
          allow_squash_merge: true
          archive_url: https://api.github.com/repos/octocat/Hello-World/{archive_format}{/ref}
          archived: false
          assignees_url: https://api.github.com/repos/octocat/Hello-World/assignees{/user}
          blobs_url: https://api.github.com/repos/octocat/Hello-World/git/blobs{/sha}
          branches_url: https://api.github.com/repos/octocat/Hello-World/branches{/branch}
          clone_url: https://github.com/octocat/Hello-World.git
          collaborators_url: https://api.github.com/repos/octocat/Hello-World/collaborators{/collaborator}
          comments_url: https://api.github.com/repos/octocat/Hello-World/comments{/number}
          commits_url: https://api.github.com/repos/octocat/Hello-World/commits{/sha}
          compare_url: https://api.github.com/repos/octocat/Hello-World/compare/{base}...{head}
          contents_url: https://api.github.com/repos/octocat/Hello-World/contents/{+path}
          contributors_url: https://api.github.com/repos/octocat/Hello-World/contributors
          created_at: 2011-01-26T19:01:12Z
          default_branch: master
          delete_branch_on_merge: true
          deployments_url: https://api.github.com/repos/octocat/Hello-World/deployments
          description: This your first repo!
          disabled: false
          downloads_url: https://api.github.com/repos/octocat/Hello-World/downloads
          events_url: https://api.github.com/repos/octocat/Hello-World/events
          fork: false
          forks: 1
          forks_count: 9
          forks_url: https://api.github.com/repos/octocat/Hello-World/forks
          full_name: octocat/Hello-World
          git_commits_url: https://api.github.com/repos/octocat/Hello-World/git/commits{/sha}
          git_refs_url: https://api.github.com/repos/octocat/Hello-World/git/refs{/sha}
          git_tags_url: https://api.github.com/repos/octocat/Hello-World/git/tags{/sha}
          git_url: git:github.com/octocat/Hello-World.git
          has_downloads: true
          has_issues: true
          has_pages: false
          has_projects: true
          has_wiki: true
          homepage: https://github.com
          hooks_url: https://api.github.com/repos/octocat/Hello-World/hooks
          html_url: https://github.com/octocat/Hello-World
          id: 1296269
          is_template: true
          issue_comment_url: https://api.github.com/repos/octocat/Hello-World/issues/comments{/number}
          issue_events_url: https://api.github.com/repos/octocat/Hello-World/issues/events{/number}
          issues_url: https://api.github.com/repos/octocat/Hello-World/issues{/number}
          keys_url: https://api.github.com/repos/octocat/Hello-World/keys{/key_id}
          labels_url: https://api.github.com/repos/octocat/Hello-World/labels{/name}
          language: null
          languages_url: https://api.github.com/repos/octocat/Hello-World/languages
          license:
            html_url: http://choosealicense.com/licenses/mit/
            key: mit
            name: MIT License
            node_id: MDc6TGljZW5zZW1pdA==
            spdx_id: MIT
            url: https://api.github.com/licenses/mit
          merges_url: https://api.github.com/repos/octocat/Hello-World/merges
          milestones_url: https://api.github.com/repos/octocat/Hello-World/milestones{/number}
          mirror_url: git:git.example.com/octocat/Hello-World
          name: Hello-World
          network_count: 0
          node_id: MDEwOlJlcG9zaXRvcnkxMjk2MjY5
          notifications_url: https://api.github.com/repos/octocat/Hello-World/notifications{?since,all,participating}
          open_issues: 1
          open_issues_count: 0
          owner:
            avatar_url: https://github.com/images/error/octocat_happy.gif
            events_url: https://api.github.com/users/octocat/events{/privacy}
            followers_url: https://api.github.com/users/octocat/followers
            following_url: https://api.github.com/users/octocat/following{/other_user}
            gists_url: https://api.github.com/users/octocat/gists{/gist_id}
            gravatar_id: ""
            html_url: https://github.com/octocat
            id: 1
            login: octocat
            node_id: MDQ6VXNlcjE=
            organizations_url: https://api.github.com/users/octocat/orgs
            received_events_url: https://api.github.com/users/octocat/received_events
            repos_url: https://api.github.com/users/octocat/repos
            site_admin: false
            starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octocat/subscriptions
            type: User
            url: https://api.github.com/users/octocat
          permissions:
            admin: false
            pull: true
            push: false
          private: false
          pulls_url: https://api.github.com/repos/octocat/Hello-World/pulls{/number}
          pushed_at: 2011-01-26T19:06:43Z
          releases_url: https://api.github.com/repos/octocat/Hello-World/releases{/id}
          size: 108
          ssh_url: git@github.com:octocat/Hello-World.git
          stargazers_count: 80
          stargazers_url: https://api.github.com/repos/octocat/Hello-World/stargazers
          statuses_url: https://api.github.com/repos/octocat/Hello-World/statuses/{sha}
          subscribers_count: 42
          subscribers_url: https://api.github.com/repos/octocat/Hello-World/subscribers
          subscription_url: https://api.github.com/repos/octocat/Hello-World/subscription
          svn_url: https://svn.github.com/octocat/Hello-World
          tags_url: https://api.github.com/repos/octocat/Hello-World/tags
          teams_url: https://api.github.com/repos/octocat/Hello-World/teams
          temp_clone_token: ABTLWHOULUVAXGTRYU7OC2876QJ2O
          template_repository: null
          topics:
            - octocat
            - atom
            - electron
            - api
          trees_url: https://api.github.com/repos/octocat/Hello-World/git/trees{/sha}
          updated_at: 2011-01-26T19:14:43Z
          url: https://api.github.com/repos/octocat/Hello-World
          visibility: public
          watchers: 1
          watchers_count: 80
    clone-traffic:
      value:
        clones:
          - count: 2
            timestamp: 2016-10-10T00:00:00Z
            uniques: 1
          - count: 17
            timestamp: 2016-10-11T00:00:00Z
            uniques: 16
          - count: 21
            timestamp: 2016-10-12T00:00:00Z
            uniques: 15
          - count: 8
            timestamp: 2016-10-13T00:00:00Z
            uniques: 7
          - count: 5
            timestamp: 2016-10-14T00:00:00Z
            uniques: 5
          - count: 2
            timestamp: 2016-10-15T00:00:00Z
            uniques: 2
          - count: 8
            timestamp: 2016-10-16T00:00:00Z
            uniques: 7
          - count: 26
            timestamp: 2016-10-17T00:00:00Z
            uniques: 15
          - count: 19
            timestamp: 2016-10-18T00:00:00Z
            uniques: 17
          - count: 19
            timestamp: 2016-10-19T00:00:00Z
            uniques: 14
          - count: 19
            timestamp: 2016-10-20T00:00:00Z
            uniques: 15
          - count: 9
            timestamp: 2016-10-21T00:00:00Z
            uniques: 7
          - count: 5
            timestamp: 2016-10-22T00:00:00Z
            uniques: 5
          - count: 6
            timestamp: 2016-10-23T00:00:00Z
            uniques: 5
          - count: 7
            timestamp: 2016-10-24T00:00:00Z
            uniques: 5
        count: 173
        uniques: 128
    code-frequency-stat-items:
      value:
        - - 1302998400
          - 1124
          - -435
    code-frequency-stat-items-2:
      value:
        - - 0
          - 0
          - 5
        - - 0
          - 1
          - 43
        - - 0
          - 2
          - 21
    code-of-conduct:
      value:
        body: |
          # Contributor Covenant Code of Conduct

          ## Our Pledge

          In the interest of fostering an open and welcoming environment, we as contributors and maintainers pledge to making participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, gender identity and expression, level of experience, nationality, personal appearance, race, religion, or sexual identity and orientation.

          ## Our Standards

          Examples of behavior that contributes to creating a positive environment include:

          * Using welcoming and inclusive language
          * Being respectful of differing viewpoints and experiences
          * Gracefully accepting constructive criticism
          * Focusing on what is best for the community
          * Showing empathy towards other community members

          Examples of unacceptable behavior by participants include:

          * The use of sexualized language or imagery and unwelcome sexual attention or advances
          * Trolling, insulting/derogatory comments, and personal or political attacks
          * Public or private harassment
          * Publishing others' private information, such as a physical or electronic address, without explicit permission
          * Other conduct which could reasonably be considered inappropriate in a professional setting

          ## Our Responsibilities

          Project maintainers are responsible for clarifying the standards of acceptable behavior and are expected to take appropriate and fair corrective action in response
                            to any instances of unacceptable behavior.

          Project maintainers have the right and responsibility to remove, edit, or reject comments, commits, code, wiki edits, issues, and other contributions that are not aligned to this Code of Conduct, or to ban temporarily or permanently any contributor for other behaviors that they deem inappropriate, threatening, offensive, or harmful.

          ## Scope

          This Code of Conduct applies both within project spaces and in public spaces when an individual is representing the project or its community. Examples of representing a project or community include using an official project e-mail address,
                            posting via an official social media account, or acting as an appointed representative at an online or offline event. Representation of a project may be further defined and clarified by project maintainers.

          ## Enforcement

          Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the project team at [EMAIL]. The project team will review and investigate all complaints, and will respond in a way that it deems appropriate to the circumstances. The project team is obligated to maintain confidentiality with regard to the reporter of an incident. Further details of specific enforcement policies may be posted separately.

          Project maintainers who do not follow or enforce the Code of Conduct in good faith may face temporary or permanent repercussions as determined by other members of the project's leadership.

          ## Attribution

          This Code of Conduct is adapted from the [Contributor Covenant][homepage], version 1.4, available at [http://contributor-covenant.org/version/1/4][version]

          [homepage]: http://contributor-covenant.org
          [version]: http://contributor-covenant.org/version/1/4/
        html_url: http://contributor-covenant.org/version/1/4/
        key: contributor_covenant
        name: Contributor Covenant
        url: https://api.github.com/codes_of_conduct/contributor_covenant
    code-of-conduct-2:
      value:
        body: |
          # Contributor Covenant Code of Conduct

          ## Our Pledge

          In the interest of fostering an open and welcoming environment, we as contributors and maintainers pledge to making participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, gender identity and expression, level of experience, nationality, personal appearance, race, religion, or sexual identity and orientation.

          ## Our Standards

          Examples of behavior that contributes to creating a positive environment include:

          * Using welcoming and inclusive language
          * Being respectful of differing viewpoints and experiences
          * Gracefully accepting constructive criticism
          * Focusing on what is best for the community
          * Showing empathy towards other community members

          Examples of unacceptable behavior by participants include:

          * The use of sexualized language or imagery and unwelcome sexual attention or advances
          * Trolling, insulting/derogatory comments, and personal or political attacks
          * Public or private harassment
          * Publishing others' private information, such as a physical or electronic address, without explicit permission
          * Other conduct which could reasonably be considered inappropriate in a professional setting

          ## Our Responsibilities

          Project maintainers are responsible for clarifying the standards of acceptable behavior and are expected to take appropriate and fair corrective action in response
          to any instances of unacceptable behavior.

          Project maintainers have the right and responsibility to remove, edit, or reject comments, commits, code, wiki edits, issues, and other contributions that are not aligned to this Code of Conduct, or to ban temporarily or permanently any contributor for other behaviors that they deem inappropriate, threatening, offensive, or harmful.

          ## Scope

          This Code of Conduct applies both within project spaces and in public spaces when an individual is representing the project or its community. Examples of representing a project or community include using an official project e-mail address,
          posting via an official social media account, or acting as an appointed representative at an online or offline event. Representation of a project may be further defined and clarified by project maintainers.

          ## Enforcement

          Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the project team at lindseyb@github.com. The project team will review and investigate all complaints, and will respond in a way that it deems appropriate to the circumstances. The project team is obligated to maintain confidentiality with regard to the reporter of an incident. Further details of specific enforcement policies may be posted separately.

          Project maintainers who do not follow or enforce the Code of Conduct in good faith may face temporary or permanent repercussions as determined by other members of the project's leadership.

          ## Attribution

          This Code of Conduct is adapted from the [Contributor Covenant][homepage], version 1.4, available at [http://contributor-covenant.org/version/1/4][version]

          [homepage]: http://contributor-covenant.org
          [version]: http://contributor-covenant.org/version/1/4/
        html_url: https://github.com/LindseyB/cosee/blob/master/CODE_OF_CONDUCT.md
        key: contributor_covenant
        name: Contributor Covenant
        url: https://github.com/LindseyB/cosee/blob/master/CODE_OF_CONDUCT.md
    code-of-conduct-simple-items:
      value:
        - html_url: http://citizencodeofconduct.org/
          key: citizen_code_of_conduct
          name: Citizen Code of Conduct
[...]
