openapi: 3.0.0
servers:
  - url: 'https://restcountries.eu/rest'
info:
  description: 'REST countries API'
  title: REST countries API
  version: v2.0.5
paths:
  /v1/all:
    get:
      operationId: v1All
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v1/alpha/{alphacode}:
    get:
      operationId: v1Alphacode
      parameters:
        - name: alphacode
          description: Search by ISO 3166-1 2-letter or 3-letter country code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v1/alpha:
    get:
      operationId: v1Alphacodes
      parameters:
        - name: codes
          description: Search by list of ISO 3166-1 2-letter or 3-letter country codes
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v1/currency/{currency}:
    get:
      operationId: v1Currency
      parameters:
        - name: currency
          description: Search by ISO 4217 currency code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v1/name/{name}:
    get:
      operationId: v1Name
      parameters:
        - name: name
          description: Search by country name. It can be the native name or partial name
          in: path
          required: true
          schema:
            type: string
        - name: fullText
          description: Search by country full name
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v1/callingcode/{callingcode}:
    get:
      operationId: v1Callingcode
      parameters:
        - name: callingcode
          description: Search by calling code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v1/capital/{capital}:
    get:
      operationId: v1Capital
      parameters:
        - name: capital
          description: Search by capital city
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v1/region/{region}:
    get:
      operationId: v1Region
      parameters:
        - name: region
          description: "Search by region: Africa, Americas, Asia, Europe, Oceania"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v1/subregion/{subregion}:
    get:
      operationId: v1Subregion
      parameters:
        - name: subregion
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v1/lang/{lang}:
    get:
      operationId: v1Lang
      parameters:
        - name: lang
          description: Search by ISO 639-1 language code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v2/all:
    get:
      operationId: v2All
      parameters:
        - name: fields
          description: You can filter the output of your request to include only the specified fields
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v2/alpha/{alphacode}:
    get:
      operationId: v2Alphacode
      parameters:
        - name: fields
          description: You can filter the output of your request to include only the specified fields
          in: query
          required: false
          schema:
            type: string
        - name: alphacode
          description: Search by ISO 3166-1 2-letter or 3-letter country code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v2/alpha:
    get:
      operationId: v2Alphacodes
      parameters:
        - name: fields
          description: You can filter the output of your request to include only the specified fields
          in: query
          required: false
          schema:
            type: string
        - name: codes
          description: Search by list of ISO 3166-1 2-letter or 3-letter country codes
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v2/currency/{currency}:
    get:
      operationId: v2Currency
      parameters:
        - name: fields
          description: You can filter the output of your request to include only the specified fields
          in: query
          required: false
          schema:
            type: string
        - name: currency
          description: Search by ISO 4217 currency code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v2/name/{name}:
    get:
      operationId: v2Name
      parameters:
        - name: fields
          description: You can filter the output of your request to include only the specified fields
          in: query
          required: false
          schema:
            type: string
        - name: name
          description: Search by country name. It can be the native name or partial name
          in: path
          required: true
          schema:
            type: string
        - name: fullText
          description: Search by country full name
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v2/callingcode/{callingcode}:
    get:
      operationId: v2Callingcode
      parameters:
        - name: fields
          description: You can filter the output of your request to include only the specified fields
          in: query
          required: false
          schema:
            type: string
        - name: callingcode
          description: Search by calling code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v2/capital/{capital}:
    get:
      operationId: v2Capital
      parameters:
        - name: fields
          description: You can filter the output of your request to include only the specified fields
          in: query
          required: false
          schema:
            type: string
        - name: capital
          description: Search by capital city
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v2/region/{region}:
    get:
      operationId: v2Region
      parameters:
        - name: fields
          description: You can filter the output of your request to include only the specified fields
          in: query
          required: false
          schema:
            type: string
        - name: region
          description: "Search by region: Africa, Americas, Asia, Europe, Oceania"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v2/subregion/{subregion}:
    get:
      operationId: v2Subregion
      parameters:
        - name: fields
          description: You can filter the output of your request to include only the specified fields
          in: query
          required: false
          schema:
            type: string
        - name: subregion
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v2/lang/{lang}:
    get:
      operationId: v2Lang
      parameters:
        - name: fields
          description: You can filter the output of your request to include only the specified fields
          in: query
          required: false
          schema:
            type: string
        - name: lang
          description: Search by ISO 639-1 language code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v2/demonym/{demonym}:
    get:
      operationId: v2Demonym
      parameters:
        - name: fields
          description: You can filter the output of your request to include only the specified fields
          in: query
          required: false
          schema:
            type: string
        - name: demonym
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
  /v2/regionalbloc/{regionalbloc}:
    get:
      operationId: v2Regionalbloc
      parameters:
        - name: fields
          description: You can filter the output of your request to include only the specified fields
          in: query
          required: false
          schema:
            type: string
        - name: regionalbloc
          description: >
            Search by regional bloc:
              EU (European Union)
              EFTA (European Free Trade Association)
              CARICOM (Caribbean Community)
              PA (Pacific Alliance)
              AU (African Union)
              USAN (Union of South American Nations)
              EEU (Eurasian Economic Union)
              AL (Arab League)
              ASEAN (Association of Southeast Asian Nations)
              CAIS (Central American Integration System)
              CEFTA (Central European Free Trade Agreement)
              NAFTA (North American Free Trade Agreement)
              SAARC (South Asian Association for Regional Cooperation)
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        default:
          description: Other responses
components:
  schemas: { }