---
host: gateway.marvel.com
basePath: "/"
schemes:
- https
swagger: '2.0'
info:
  title: gateway.marvel.com
  version: Cable
tags:
- name: public
paths:
  "/v1/public/characters":
    get:
      tags:
      - public
      operationId: getCreatorCollection
      summary: Fetches lists of characters.
      description: Fetches lists of comic characters with optional filters. See notes
        on individual parameters below.
      parameters:
      - in: query
        description: Return only characters matching the specified full character
          name (e.g. Spider-Man).
        name: name
        required: false
        type: string
      - in: query
        description: Return characters with names that begin with the specified string
          (e.g. Sp).
        name: nameStartsWith
        required: false
        type: string
      - in: query
        description: Return only characters which have been modified since the specified
          date.
        name: modifiedSince
        required: false
        type: string
        format: date
      - in: query
        description: Return only characters which appear in the specified comics (accepts
          a comma-separated list of ids).
        name: comics
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only characters which appear the specified series (accepts
          a comma-separated list of ids).
        name: series
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only characters which appear in the specified events (accepts
          a comma-separated list of ids).
        name: events
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only characters which appear the specified stories (accepts
          a comma-separated list of ids).
        name: stories
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        name: orderBy
        required: false
        type: string
        enum:
        - name
        - modified
        - -name
        - -modified
        - name,modified
        - name,-modified
        - modified,name
        - modified,-name
        - -name,modified
        - -name,-modified
        - -modified,name
        - -modified,-name
      - in: query
        description: Limit the result set to the specified number of resources.
        name: limit
        required: false
        type: integer
        format: int32
        minimum: 1
        maximum: 100
      - in: query
        description: Skip the specified number of resources in the result set.
        name: offset
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: No response was specified
          schema:
            "$ref": "#/definitions/CharacterDataWrapper"
        '409':
          description: Limit greater than 100.
  "/v1/public/characters/{characterId}":
    get:
      tags:
      - public
      operationId: getCharacterIndividual
      summary: Fetches a single character by id.
      description: This method fetches a single character resource.  It is the canonical
        URI for any character resource provided by the API.
      parameters:
      - in: path
        description: A single character id.
        name: characterId
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: No response was specified
          schema:
            "$ref": "#/definitions/CharacterDataWrapper"
        '404':
          description: Character not found.

  "/v1/public/characters/{characterId}/comics":
    get:
      tags:
      - public
      operationId: getComicsCharacterCollection
      summary: Fetches lists of comics filtered by a character id.
      description: Fetches lists of comics containing a specific character, with optional
        filters. See notes on individual parameters below.
      parameters:
      - in: path
        description: The character id.
        name: characterId
        required: true
        type: integer
        format: int32
      - in: query
        description: Filter by the issue format (e.g. comic, digital comic, hardcover).
        name: format
        required: false
        type: string
        enum:
        - comic
        - magazine
        - trade paperback
        - hardcover
        - digest
        - graphic novel
        - digital comic
        - infinite comic
      - in: query
        description: Filter by the issue format type (comic or collection).
        name: formatType
        required: false
        type: string
        enum:
        - comic
        - collection
      - in: query
        description: Exclude variant comics from the result set.
        name: noVariants
        required: false
        type: boolean
      - in: query
        description: Return comics within a predefined date range.
        name: dateDescriptor
        required: false
        type: string
        enum:
        - lastWeek
        - thisWeek
        - nextWeek
        - thisMonth
      - in: query
        description: Return comics within a predefined date range.  Dates must be
          specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably
          formatted as YYYY-MM-DD but may be sent as any common date format.
        name: dateRange
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only issues in series whose title matches the input.
        name: title
        required: false
        type: string
      - in: query
        description: Return only issues in series whose title starts with the input.
        name: titleStartsWith
        required: false
        type: string
      - in: query
        description: Return only issues in series whose start year matches the input.
        name: startYear
        required: false
        type: integer
        format: int32
      - in: query
        description: Return only issues in series whose issue number matches the input.
        name: issueNumber
        required: false
        type: integer
        format: int32
      - in: query
        description: Filter by diamond code.
        name: diamondCode
        required: false
        type: string
      - in: query
        description: Filter by digital comic id.
        name: digitalId
        required: false
        type: integer
        format: int32
      - in: query
        description: Filter by UPC.
        name: upc
        required: false
        type: string
      - in: query
        description: Filter by ISBN.
        name: isbn
        required: false
        type: string
      - in: query
        description: Filter by EAN.
        name: ean
        required: false
        type: string
      - in: query
        description: Filter by ISSN.
        name: issn
        required: false
        type: string
      - in: query
        description: Include only results which are available digitally.
        name: hasDigitalIssue
        required: false
        type: boolean
      - in: query
        description: Return only comics which have been modified since the specified
          date.
        name: modifiedSince
        required: false
        type: string
        format: date
      - in: query
        description: Return only comics which feature work by the specified creators
          (accepts a comma-separated list of ids).
        name: creators
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only comics which are part of the specified series (accepts
          a comma-separated list of ids).
        name: series
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only comics which take place in the specified events (accepts
          a comma-separated list of ids).
        name: events
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only comics which contain the specified stories (accepts
          a comma-separated list of ids).
        name: stories
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only comics in which the specified characters appear together
          (for example in which BOTH Spider-Man and Wolverine appear).
        name: sharedAppearances
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only comics in which the specified creators worked together
          (for example in which BOTH Stan Lee and Jack Kirby did work).
        name: collaborators
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        name: orderBy
        required: false
        type: array
        items:
          type: string
          enum:
          - focDate
          - onsaleDate
          - title
          - issueNumber
          - modified
          - -focDate
          - -onsaleDate
          - -title
          - -issueNumber
          - -modified
      - in: query
        description: Limit the result set to the specified number of resources.
        name: limit
        required: false
        type: integer
        format: int32
        minimum: 1
        maximum: 100
      - in: query
        description: Skip the specified number of resources in the result set.
        name: offset
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: No response was specified
          schema:
            "$ref": "#/definitions/ComicDataWrapper"
        '409':
          description: Limit greater than 100.
  "/v1/public/characters/{characterId}/events":
    get:
      tags:
      - public
      operationId: getCharacterEventsCollection
      summary: Fetches lists of events filtered by a character id.
      description: Fetches lists of events in which a specific character appears,
        with optional filters. See notes on individual parameters below.
      parameters:
      - in: path
        description: The character ID.
        name: characterId
        required: true
        type: integer
        format: int32
      - in: query
        description: Filter the event list by name.
        name: name
        required: false
        type: string
      - in: query
        description: Return events with names that begin with the specified string
          (e.g. Sp).
        name: nameStartsWith
        required: false
        type: string
      - in: query
        description: Return only events which have been modified since the specified
          date.
        name: modifiedSince
        required: false
        type: string
        format: date
      - in: query
        description: Return only events which feature work by the specified creators
          (accepts a comma-separated list of ids).
        name: creators
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only events which are part of the specified series (accepts
          a comma-separated list of ids).
        name: series
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only events which take place in the specified comics (accepts
          a comma-separated list of ids).
        name: comics
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only events which contain the specified stories (accepts
          a comma-separated list of ids).
        name: stories
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        name: orderBy
        required: false
        type: string
        enum:
        - name
        - startDate
        - modified
        - -name
        - -modified
        - -startDate
        - name,modified,startDate
        - name,-modified,-startDate
        - modified,name,startDate
        - modified,-name,-startDate
        - -name,startDate,modified
        - -name,-startDate,-modified
        - startDate,-modified,name
        - -startDate,-modified,-name
      - in: query
        description: Limit the result set to the specified number of resources.
        name: limit
        required: false
        type: integer
        format: int32
        minimum: 1
        maximum: 100
      - in: query
        description: Skip the specified number of resources in the result set.
        name: offset
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: No response was specified
          schema:
            "$ref": "#/definitions/EventDataWrapper"
        '409':
          description: Limit greater than 100.
  "/v1/public/characters/{characterId}/series":
    get:
      tags:
      - public
      operationId: getCharacterSeriesCollection
      summary: Fetches lists of series filtered by a character id.
      description: Fetches lists of comic series in which a specific character appears,
        with optional filters. See notes on individual parameters below.
      parameters:
      - in: path
        description: The character ID
        name: characterId
        required: true
        type: integer
        format: int32
      - in: query
        description: Filter by series title.
        name: title
        required: false
        type: string
      - in: query
        description: Return series with titles that begin with the specified string
          (e.g. Sp).
        name: titleStartsWith
        required: false
        type: string
      - in: query
        description: Return only series matching the specified start year.
        name: startYear
        required: false
        type: integer
        format: int32
      - in: query
        description: Return only series which have been modified since the specified
          date.
        name: modifiedSince
        required: false
        type: string
        format: date
      - in: query
        description: Return only series which contain the specified comics (accepts
          a comma-separated list of ids).
        name: comics
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only series which contain the specified stories (accepts
          a comma-separated list of ids).
        name: stories
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only series which have comics that take place during the
          specified events (accepts a comma-separated list of ids).
        name: events
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only series which feature work by the specified creators
          (accepts a comma-separated list of ids).
        name: creators
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Filter the series by publication frequency type.
        name: seriesType
        required: false
        type: string
        enum:
        - collection
        - one shot
        - limited
        - ongoing
      - in: query
        description: Return only series containing one or more comics with the specified
          format.
        name: contains
        required: false
        type: array
        items:
          type: string
          enum:
          - comic
          - magazine
          - trade paperback
          - hardcover
          - digest
          - graphic novel
          - digital comic
          - infinite comic
      - in: query
        description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        name: orderBy
        required: false
        type: string
        enum:
        - title
        - startYear
        - modified
        - -title
        - -modified
        - -startYear
        - title,modified,startYear
        - title,-modified,-startYear
        - modified,title,startYear
        - modified,-title,-startYear
        - -title,startYear,modified
        - -title,-startYear,-modified
        - startYear,-modified,title
        - -startYear,-modified,-title
      - in: query
        description: Limit the result set to the specified number of resources.
        name: limit
        required: false
        type: integer
        format: int32
        minimum: 1
        maximum: 100
      - in: query
        description: Skip the specified number of resources in the result set.
        name: offset
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: No response was specified
          schema:
            "$ref": "#/definitions/SeriesDataWrapper"
        '409':
          description: Limit greater than 100.
  "/v1/public/characters/{characterId}/stories":
    get:
      tags:
      - public
      operationId: getCharacterStoryCollection
      summary: Fetches lists of stories filtered by a character id.
      description: Fetches lists of comic stories  featuring a specific character
        with optional filters. See notes on individual parameters below.
      parameters:
      - in: path
        description: The character ID.
        name: characterId
        required: true
        type: integer
        format: int32
      - in: query
        description: Return only stories which have been modified since the specified
          date.
        name: modifiedSince
        required: false
        type: string
        format: date
      - in: query
        description: Return only stories contained in the specified (accepts a comma-separated
          list of ids).
        name: comics
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only stories contained the specified series (accepts a
          comma-separated list of ids).
        name: series
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only stories which take place during the specified events
          (accepts a comma-separated list of ids).
        name: events
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Return only stories which feature work by the specified creators
          (accepts a comma-separated list of ids).
        name: creators
        required: false
        type: array
        items:
          type: integer
          format: int32
      - in: query
        description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        name: orderBy
        required: false
        type: array
        items:
          type: string
      - in: query
        description: Limit the result set to the specified number of resources.
        name: limit
        required: false
        type: integer
        format: int32
      - in: query
        description: Skip the specified number of resources in the result set.
        name: offset
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: No response was specified
          schema:
            "$ref": "#/definitions/StoryDataWrapper"
        '409':
          description: Limit greater than 100.
# "/v1/public/comics":
#   get:
#     tags:
#     - public
#     operationId: getComicsCollection
#     summary: Fetches lists of comics.
#     description: Fetches lists of comics with optional filters. See notes on individual
#       parameters below.
#     parameters:
#     - in: query
#       description: Filter by the issue format (e.g. comic, digital comic, hardcover).
#       name: format
#       required: false
#       type: string
#     - in: query
#       description: Filter by the issue format type (comic or collection).
#       name: formatType
#       required: false
#       type: string
#     - in: query
#       description: Exclude variants (alternate covers, secondary printings, director's
#         cuts, etc.) from the result set.
#       name: noVariants
#       required: false
#       type: boolean
#     - in: query
#       description: Return comics within a predefined date range.
#       name: dateDescriptor
#       required: false
#       type: string
#     - in: query
#       description: Return comics within a predefined date range.  Dates must be
#         specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably
#         formatted as YYYY-MM-DD but may be sent as any common date format.
#       name: dateRange
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only issues in series whose title matches the input.
#       name: title
#       required: false
#       type: string
#     - in: query
#       description: Return only issues in series whose title starts with the input.
#       name: titleStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only issues in series whose start year matches the input.
#       name: startYear
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Return only issues in series whose issue number matches the input.
#       name: issueNumber
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by diamond code.
#       name: diamondCode
#       required: false
#       type: string
#     - in: query
#       description: Filter by digital comic id.
#       name: digitalId
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by UPC.
#       name: upc
#       required: false
#       type: string
#     - in: query
#       description: Filter by ISBN.
#       name: isbn
#       required: false
#       type: string
#     - in: query
#       description: Filter by EAN.
#       name: ean
#       required: false
#       type: string
#     - in: query
#       description: Filter by ISSN.
#       name: issn
#       required: false
#       type: string
#     - in: query
#       description: Include only results which are available digitally.
#       name: hasDigitalIssue
#       required: false
#       type: boolean
#     - in: query
#       description: Return only comics which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only comics which feature work by the specified creators
#         (accepts a comma-separated list of ids).
#       name: creators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which are part of the specified series (accepts
#         a comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which take place in the specified events (accepts
#         a comma-separated list of ids).
#       name: events
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which contain the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics in which the specified characters appear together
#         (for example in which BOTH Spider-Man and Wolverine appear). Accepts a comma-separated
#         list of ids.
#       name: sharedAppearances
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics in which the specified creators worked together
#         (for example in which BOTH Stan Lee and Jack Kirby did work). Accepts a
#         comma-separated list of ids.
#       name: collaborators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/ComicDataWrapper"
# "/v1/public/comics/{comicId}":
#   get:
#     tags:
#     - public
#     operationId: getComicIndividual
#     summary: Fetches a single comic by id.
#     description: This method fetches a single comic resource.  It is the canonical
#       URI for any comic resource provided by the API.
#     parameters:
#     - in: path
#       description: A single comic.
#       name: comicId
#       required: true
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/ComicDataWrapper"
# "/v1/public/comics/{comicId}/characters":
#   get:
#     tags:
#     - public
#     operationId: getComicCharacterCollection
#     summary: Fetches lists of characters filtered by a comic id.
#     description: Fetches lists of characters which appear in a specific comic with
#       optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The comic id.
#       name: comicId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Return only characters matching the specified full character
#         name (e.g. Spider-Man).
#       name: name
#       required: false
#       type: string
#     - in: query
#       description: Return characters with names that begin with the specified string
#         (e.g. Sp).
#       name: nameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only characters which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only characters which appear the specified series (accepts
#         a comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only characters which appear comics that took place in
#         the specified events (accepts a comma-separated list of ids).
#       name: events
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only characters which appear the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/CharacterDataWrapper"
# "/v1/public/comics/{comicId}/creators":
#   get:
#     tags:
#     - public
#     operationId: getCreatorCollection
#     summary: Fetches lists of creators filtered by a comic id.
#     description: Fetches lists of comic creators whose work appears in a specific
#       comic, with optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The comic id.
#       name: comicId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by creator first name (e.g. brian).
#       name: firstName
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator middle name (e.g. Michael).
#       name: middleName
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator last name (e.g. Bendis).
#       name: lastName
#       required: false
#       type: string
#     - in: query
#       description: Filter by suffix or honorific (e.g. Jr., Sr.).
#       name: suffix
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator names that match critera (e.g. B, St L).
#       name: nameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator first names that match critera (e.g. B, St
#         L).
#       name: firstNameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator middle names that match critera (e.g. Mi).
#       name: middleNameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator last names that match critera (e.g. Ben).
#       name: lastNameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only creators which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only creators who worked on in the specified comics (accepts
#         a comma-separated list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only creators who worked on the specified series (accepts
#         a comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only creators who worked on the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/CreatorDataWrapper"
# "/v1/public/comics/{comicId}/events":
#   get:
#     tags:
#     - public
#     operationId: getIssueEventsCollection
#     summary: Fetches lists of events filtered by a comic id.
#     description: Fetches lists of events in which a specific comic appears, with
#       optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The comic ID.
#       name: comicId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Filter the event list by name.
#       name: name
#       required: false
#       type: string
#     - in: query
#       description: Return events with names that begin with the specified string
#         (e.g. Sp).
#       name: nameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only events which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only events which feature work by the specified creators
#         (accepts a comma-separated list of ids).
#       name: creators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only events which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only events which are part of the specified series (accepts
#         a comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only events which contain the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/EventDataWrapper"
# "/v1/public/comics/{comicId}/stories":
#   get:
#     tags:
#     - public
#     operationId: getComicStoryCollection
#     summary: Fetches lists of stories filtered by a comic id.
#     description: Fetches lists of comic stories in a specific comic issue, with
#       optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The comic ID.
#       name: comicId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Return only stories which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only stories contained the specified series (accepts a
#         comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only stories which take place during the specified events
#         (accepts a comma-separated list of ids).
#       name: events
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only stories which feature work by the specified creators
#         (accepts a comma-separated list of ids).
#       name: creators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only stories which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/StoryDataWrapper"
# "/v1/public/creators":
#   get:
#     tags:
#     - public
#     operationId: getCreatorCollection
#     summary: Fetches lists of creators.
#     description: Fetches lists of comic creators with optional filters. See notes
#       on individual parameters below.
#     parameters:
#     - in: query
#       description: Filter by creator first name (e.g. Brian).
#       name: firstName
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator middle name (e.g. Michael).
#       name: middleName
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator last name (e.g. Bendis).
#       name: lastName
#       required: false
#       type: string
#     - in: query
#       description: Filter by suffix or honorific (e.g. Jr., Sr.).
#       name: suffix
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator names that match critera (e.g. B, St L).
#       name: nameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator first names that match critera (e.g. B, St
#         L).
#       name: firstNameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator middle names that match critera (e.g. Mi).
#       name: middleNameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator last names that match critera (e.g. Ben).
#       name: lastNameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only creators which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only creators who worked on in the specified comics (accepts
#         a comma-separated list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only creators who worked on the specified series (accepts
#         a comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only creators who worked on comics that took place in
#         the specified events (accepts a comma-separated list of ids).
#       name: events
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only creators who worked on the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/CreatorDataWrapper"
# "/v1/public/creators/{creatorId}":
#   get:
#     tags:
#     - public
#     operationId: getCreatorIndividual
#     summary: Fetches a single creator by id.
#     description: This method fetches a single creator resource.  It is the canonical
#       URI for any creator resource provided by the API.
#     parameters:
#     - in: path
#       description: A single creator id.
#       name: creatorId
#       required: true
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/CreatorDataWrapper"
# "/v1/public/creators/{creatorId}/comics":
#   get:
#     tags:
#     - public
#     operationId: getComicsCollection
#     summary: Fetches lists of comics filtered by a creator id.
#     description: Fetches lists of comics in which the work of a specific creator
#       appears, with optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The creator ID.
#       name: creatorId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by the issue format (e.g. comic, digital comic, hardcover).
#       name: format
#       required: false
#       type: string
#     - in: query
#       description: Filter by the issue format type (comic or collection).
#       name: formatType
#       required: false
#       type: string
#     - in: query
#       description: Exclude variant comics from the result set.
#       name: noVariants
#       required: false
#       type: boolean
#     - in: query
#       description: Return comics within a predefined date range.
#       name: dateDescriptor
#       required: false
#       type: string
#     - in: query
#       description: Return comics within a predefined date range.  Dates must be
#         specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably
#         formatted as YYYY-MM-DD but may be sent as any common date format.
#       name: dateRange
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only issues in series whose title matches the input.
#       name: title
#       required: false
#       type: string
#     - in: query
#       description: Return only issues in series whose title starts with the input.
#       name: titleStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only issues in series whose start year matches the input.
#       name: startYear
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Return only issues in series whose issue number matches the input.
#       name: issueNumber
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by diamond code.
#       name: diamondCode
#       required: false
#       type: string
#     - in: query
#       description: Filter by digital comic id.
#       name: digitalId
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by UPC.
#       name: upc
#       required: false
#       type: string
#     - in: query
#       description: Filter by ISBN.
#       name: isbn
#       required: false
#       type: string
#     - in: query
#       description: Filter by EAN.
#       name: ean
#       required: false
#       type: string
#     - in: query
#       description: Filter by ISSN.
#       name: issn
#       required: false
#       type: string
#     - in: query
#       description: Include only results which are available digitally.
#       name: hasDigitalIssue
#       required: false
#       type: array
#       items:
#         type: boolean
#     - in: query
#       description: Return only comics which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only comics which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which are part of the specified series (accepts
#         a comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which take place in the specified events (accepts
#         a comma-separated list of ids).
#       name: events
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which contain the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics in which the specified characters appear together
#         (for example in which BOTH Spider-Man and Wolverine appear).
#       name: sharedAppearances
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics in which the specified creators worked together
#         (for example in which BOTH Stan Lee and Jack Kirby did work).
#       name: collaborators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/ComicDataWrapper"
# "/v1/public/creators/{creatorId}/events":
#   get:
#     tags:
#     - public
#     operationId: getCreatorEventsCollection
#     summary: Fetches lists of events filtered by a creator id.
#     description: Fetches lists of events featuring the work of a specific creator
#       with optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The creator ID.
#       name: creatorId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Filter the event list by name.
#       name: name
#       required: false
#       type: string
#     - in: query
#       description: Return events with names that begin with the specified string
#         (e.g. Sp).
#       name: nameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only events which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only events which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only events which are part of the specified series (accepts
#         a comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only events which take place in the specified comics (accepts
#         a comma-separated list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only events which contain the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/EventDataWrapper"
# "/v1/public/creators/{creatorId}/series":
#   get:
#     tags:
#     - public
#     operationId: getCreatorSeriesCollection
#     summary: Fetches lists of series filtered by a creator id.
#     description: Fetches lists of comic series in which a specific creator's work
#       appears, with optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The creator ID.
#       name: creatorId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by series title.
#       name: title
#       required: false
#       type: string
#     - in: query
#       description: Return series with titles that begin with the specified string
#         (e.g. Sp).
#       name: titleStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only series matching the specified start year.
#       name: startYear
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Return only series which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only series which contain the specified comics (accepts
#         a comma-separated list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only series which contain the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only series which have comics that take place during the
#         specified events (accepts a comma-separated list of ids).
#       name: events
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only series which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Filter the series by publication frequency type.
#       name: seriesType
#       required: false
#       type: string
#     - in: query
#       description: Return only series containing one or more comics with the specified
#         format.
#       name: contains
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/SeriesDataWrapper"
# "/v1/public/creators/{creatorId}/stories":
#   get:
#     tags:
#     - public
#     operationId: getCreatorStoryCollection
#     summary: Fetches lists of stories filtered by a creator id.
#     description: Fetches lists of comic stories by a specific creator with optional
#       filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The ID of the creator.
#       name: creatorId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Return only stories which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only stories contained in the specified comics (accepts
#         a comma-separated list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only stories contained the specified series (accepts a
#         comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only stories which take place during the specified events
#         (accepts a comma-separated list of ids).
#       name: events
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only stories which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/StoryDataWrapper"
# "/v1/public/events":
#   get:
#     tags:
#     - public
#     operationId: getEventsCollection
#     summary: Fetches lists of events.
#     description: Fetches lists of events with optional filters. See notes on individual
#       parameters below.
#     parameters:
#     - in: query
#       description: Return only events which match the specified name.
#       name: name
#       required: false
#       type: string
#     - in: query
#       description: Return events with names that begin with the specified string
#         (e.g. Sp).
#       name: nameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only events which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only events which feature work by the specified creators
#         (accepts a comma-separated list of ids).
#       name: creators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only events which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only events which are part of the specified series (accepts
#         a comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only events which take place in the specified comics (accepts
#         a comma-separated list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only events which take place in the specified stories
#         (accepts a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/EventDataWrapper"
# "/v1/public/events/{eventId}":
#   get:
#     tags:
#     - public
#     operationId: getEventIndividual
#     summary: Fetches a single event by id.
#     description: This method fetches a single event resource.  It is the canonical
#       URI for any event resource provided by the API.
#     parameters:
#     - in: path
#       description: A single event.
#       name: eventId
#       required: true
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/EventDataWrapper"
# "/v1/public/events/{eventId}/characters":
#   get:
#     tags:
#     - public
#     operationId: getEventCharacterCollection
#     summary: Fetches lists of characters filtered by an event id.
#     description: Fetches lists of characters which appear in a specific event, with
#       optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The event ID
#       name: eventId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Return only characters matching the specified full character
#         name (e.g. Spider-Man).
#       name: name
#       required: false
#       type: string
#     - in: query
#       description: Return characters with names that begin with the specified string
#         (e.g. Sp).
#       name: nameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only characters which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only characters which appear in the specified comics (accepts
#         a comma-separated list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only characters which appear the specified series (accepts
#         a comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only characters which appear the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/CharacterDataWrapper"
# "/v1/public/events/{eventId}/comics":
#   get:
#     tags:
#     - public
#     operationId: getComicsCollection
#     summary: Fetches lists of comics filtered by an event id.
#     description: Fetches lists of comics which take place during a specific event,
#       with optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The event id.
#       name: eventId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by the issue format (e.g. comic, digital comic, hardcover).
#       name: format
#       required: false
#       type: string
#     - in: query
#       description: Filter by the issue format type (comic or collection).
#       name: formatType
#       required: false
#       type: string
#     - in: query
#       description: Exclude variant comics from the result set.
#       name: noVariants
#       required: false
#       type: array
#       items:
#         type: boolean
#     - in: query
#       description: Return comics within a predefined date range.
#       name: dateDescriptor
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Return comics within a predefined date range.  Dates must be
#         specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably
#         formatted as YYYY-MM-DD but may be sent as any common date format.
#       name: dateRange
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only issues in series whose title matches the input.
#       name: title
#       required: false
#       type: string
#     - in: query
#       description: Return only issues in series whose title starts with the input.
#       name: titleStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only issues in series whose start year matches the input.
#       name: startYear
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Return only issues in series whose issue number matches the input.
#       name: issueNumber
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by diamond code.
#       name: diamondCode
#       required: false
#       type: string
#     - in: query
#       description: Filter by digital comic id.
#       name: digitalId
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by UPC.
#       name: upc
#       required: false
#       type: string
#     - in: query
#       description: Filter by ISBN.
#       name: isbn
#       required: false
#       type: string
#     - in: query
#       description: Filter by EAN.
#       name: ean
#       required: false
#       type: string
#     - in: query
#       description: Filter by ISSN.
#       name: issn
#       required: false
#       type: string
#     - in: query
#       description: Include only results which are available digitally.
#       name: hasDigitalIssue
#       required: false
#       type: array
#       items:
#         type: boolean
#     - in: query
#       description: Return only comics which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only comics which feature work by the specified creators
#         (accepts a comma-separated list of ids).
#       name: creators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which are part of the specified series (accepts
#         a comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which take place in the specified events (accepts
#         a comma-separated list of ids).
#       name: events
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which contain the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics in which the specified characters appear together
#         (for example in which BOTH Spider-Man and Wolverine appear).
#       name: sharedAppearances
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics in which the specified creators worked together
#         (for example in which BOTH Stan Lee and Jack Kirby did work).
#       name: collaborators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/ComicDataWrapper"
# "/v1/public/events/{eventId}/creators":
#   get:
#     tags:
#     - public
#     operationId: getCreatorCollection
#     summary: Fetches lists of creators filtered by an event id.
#     description: Fetches lists of comic creators whose work appears in a specific
#       event, with optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The event ID.
#       name: eventId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by creator first name (e.g. brian).
#       name: firstName
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator middle name (e.g. Michael).
#       name: middleName
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator last name (e.g. Bendis).
#       name: lastName
#       required: false
#       type: string
#     - in: query
#       description: Filter by suffix or honorific (e.g. Jr., Sr.).
#       name: suffix
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator names that match critera (e.g. B, St L).
#       name: nameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator first names that match critera (e.g. B, St
#         L).
#       name: firstNameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator middle names that match critera (e.g. Mi).
#       name: middleNameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator last names that match critera (e.g. Ben).
#       name: lastNameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only creators which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only creators who worked on in the specified comics (accepts
#         a comma-separated list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only creators who worked on the specified series (accepts
#         a comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only creators who worked on the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/CreatorDataWrapper"
# "/v1/public/events/{eventId}/series":
#   get:
#     tags:
#     - public
#     operationId: getEventSeriesCollection
#     summary: Fetches lists of series filtered by an event id.
#     description: Fetches lists of comic series in which a specific event takes place,
#       with optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The event ID.
#       name: eventId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by series title.
#       name: title
#       required: false
#       type: string
#     - in: query
#       description: Return series with titles that begin with the specified string
#         (e.g. Sp).
#       name: titleStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only series matching the specified start year.
#       name: startYear
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Return only series which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only series which contain the specified comics (accepts
#         a comma-separated list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only series which contain the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only series which feature work by the specified creators
#         (accepts a comma-separated list of ids).
#       name: creators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only series which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Filter the series by publication frequency type.
#       name: seriesType
#       required: false
#       type: string
#     - in: query
#       description: Return only series containing one or more comics with the specified
#         format.
#       name: contains
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/SeriesDataWrapper"
# "/v1/public/events/{eventId}/stories":
#   get:
#     tags:
#     - public
#     operationId: getEventStoryCollection
#     summary: Fetches lists of stories filtered by an event id.
#     description: Fetches lists of comic stories from a specific event, with optional
#       filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The ID of the event.
#       name: eventId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Return only stories which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only stories contained in the specified (accepts a comma-separated
#         list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only stories contained the specified series (accepts a
#         comma-separated list of ids).
#       name: series
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only stories which feature work by the specified creators
#         (accepts a comma-separated list of ids).
#       name: creators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only stories which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/StoryDataWrapper"
# "/v1/public/series":
#   get:
#     tags:
#     - public
#     operationId: getSeriesCollection
#     summary: Fetches lists of series.
#     description: Fetches lists of comic series with optional filters. See notes
#       on individual parameters below.
#     parameters:
#     - in: query
#       description: Return only series matching the specified title.
#       name: title
#       required: false
#       type: string
#     - in: query
#       description: Return series with titles that begin with the specified string
#         (e.g. Sp).
#       name: titleStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only series matching the specified start year.
#       name: startYear
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Return only series which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only series which contain the specified comics (accepts
#         a comma-separated list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only series which contain the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only series which have comics that take place during the
#         specified events (accepts a comma-separated list of ids).
#       name: events
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only series which feature work by the specified creators
#         (accepts a comma-separated list of ids).
#       name: creators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only series which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Filter the series by publication frequency type.
#       name: seriesType
#       required: false
#       type: string
#     - in: query
#       description: Return only series containing one or more comics with the specified
#         format.
#       name: contains
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/SeriesDataWrapper"
# "/v1/public/series/{seriesId}":
#   get:
#     tags:
#     - public
#     operationId: getSeriesIndividual
#     summary: Fetches a single comic series by id.
#     description: This method fetches a single comic series resource.  It is the
#       canonical URI for any comic series resource provided by the API.
#     parameters:
#     - in: path
#       description: Filter by series title.
#       name: seriesId
#       required: true
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/SeriesDataWrapper"
# "/v1/public/series/{seriesId}/characters":
#   get:
#     tags:
#     - public
#     operationId: getSeriesCharacterWrapper
#     summary: Fetches lists of characters filtered by a series id.
#     description: Fetches lists of characters which appear in specific series, with
#       optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The series id.
#       name: seriesId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Return only characters matching the specified full character
#         name (e.g. Spider-Man).
#       name: name
#       required: false
#       type: string
#     - in: query
#       description: Return characters with names that begin with the specified string
#         (e.g. Sp).
#       name: nameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only characters which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only characters which appear in the specified comics (accepts
#         a comma-separated list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only characters which appear comics that took place in
#         the specified events (accepts a comma-separated list of ids).
#       name: events
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only characters which appear the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/CharacterDataWrapper"
# "/v1/public/series/{seriesId}/comics":
#   get:
#     tags:
#     - public
#     operationId: getComicsCollection
#     summary: Fetches lists of comics filtered by a series id.
#     description: Fetches lists of comics which are published as part of a specific
#       series, with optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The series ID.
#       name: seriesId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by the issue format (e.g. comic, digital comic, hardcover).
#       name: format
#       required: false
#       type: string
#     - in: query
#       description: Filter by the issue format type (comic or collection).
#       name: formatType
#       required: false
#       type: string
#     - in: query
#       description: Exclude variant comics from the result set.
#       name: noVariants
#       required: false
#       type: array
#       items:
#         type: boolean
#     - in: query
#       description: Return comics within a predefined date range.
#       name: dateDescriptor
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Return comics within a predefined date range.  Dates must be
#         specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably
#         formatted as YYYY-MM-DD but may be sent as any common date format.
#       name: dateRange
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only issues in series whose title matches the input.
#       name: title
#       required: false
#       type: string
#     - in: query
#       description: Return only issues in series whose title starts with the input.
#       name: titleStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only issues in series whose start year matches the input.
#       name: startYear
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Return only issues in series whose issue number matches the input.
#       name: issueNumber
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by diamond code.
#       name: diamondCode
#       required: false
#       type: string
#     - in: query
#       description: Filter by digital comic id.
#       name: digitalId
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by UPC.
#       name: upc
#       required: false
#       type: string
#     - in: query
#       description: Filter by ISBN.
#       name: isbn
#       required: false
#       type: string
#     - in: query
#       description: Filter by EAN.
#       name: ean
#       required: false
#       type: string
#     - in: query
#       description: Filter by ISSN.
#       name: issn
#       required: false
#       type: string
#     - in: query
#       description: Include only results which are available digitally.
#       name: hasDigitalIssue
#       required: false
#       type: array
#       items:
#         type: boolean
#     - in: query
#       description: Return only comics which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only comics which feature work by the specified creators
#         (accepts a comma-separated list of ids).
#       name: creators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which feature the specified characters (accepts
#         a comma-separated list of ids).
#       name: characters
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which take place in the specified events (accepts
#         a comma-separated list of ids).
#       name: events
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics which contain the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics in which the specified characters appear together
#         (for example in which BOTH Spider-Man and Wolverine appear).
#       name: sharedAppearances
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only comics in which the specified creators worked together
#         (for example in which BOTH Stan Lee and Jack Kirby did work).
#       name: collaborators
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
#       description: Skip the specified number of resources in the result set.
#       name: offset
#       required: false
#       type: integer
#       format: int32
#     responses:
#       '200':
#         description: No response was specified
#         schema:
#           "$ref": "#/definitions/ComicDataWrapper"
# "/v1/public/series/{seriesId}/creators":
#   get:
#     tags:
#     - public
#     operationId: getCreatorCollection
#     summary: Fetches lists of creators filtered by a series id.
#     description: Fetches lists of comic creators whose work appears in a specific
#       series, with optional filters. See notes on individual parameters below.
#     parameters:
#     - in: path
#       description: The series ID.
#       name: seriesId
#       required: true
#       type: integer
#       format: int32
#     - in: query
#       description: Filter by creator first name (e.g. brian).
#       name: firstName
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator middle name (e.g. Michael).
#       name: middleName
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator last name (e.g. Bendis).
#       name: lastName
#       required: false
#       type: string
#     - in: query
#       description: Filter by suffix or honorific (e.g. Jr., Sr.).
#       name: suffix
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator names that match critera (e.g. B, St L).
#       name: nameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator first names that match critera (e.g. B, St
#         L).
#       name: firstNameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator middle names that match critera (e.g. Mi).
#       name: middleNameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Filter by creator last names that match critera (e.g. Ben).
#       name: lastNameStartsWith
#       required: false
#       type: string
#     - in: query
#       description: Return only creators which have been modified since the specified
#         date.
#       name: modifiedSince
#       required: false
#       type: string
#       format: date
#     - in: query
#       description: Return only creators who worked on in the specified comics (accepts
#         a comma-separated list of ids).
#       name: comics
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only creators who worked on comics that took place in
#         the specified events (accepts a comma-separated list of ids).
#       name: events
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Return only creators who worked on the specified stories (accepts
#         a comma-separated list of ids).
#       name: stories
#       required: false
#       type: array
#       items:
#         type: integer
#         format: int32
#     - in: query
#       description: Order the result set by a field or fields. Add a "-" to the value
#         sort in descending order. Multiple values are given priority in the order
#         in which they are passed.
#       name: orderBy
#       required: false
#       type: array
#       items:
#         type: string
#     - in: query
#       description: Limit the result set to the specified number of resources.
#       name: limit
#       required: false
#       type: integer
#       format: int32
#     - in: query
[...]
