openapi: 3.0.0
servers:
  - description: API to serve banking industry data to the public.
    url: 'https://banks.data.fdic.gov/api'
info:
  description: API to serve banking industry data to the public.
  version: 0.1.0
  title: FDIC Bank Data API (Beta)
  contact:
    email: PublicDataFeedback@fdic.gov
tags:
  - name: Structure
    description: Financial institution demographic and location information
  - name: History
    description: List of structure change events
  - name: Financials
    description: Financial Information
  - name: Historical
    description: Historical data from 1934 onward regarding financial institutions.
  - name: Failures
    description: List of bank failures to date
paths:
  /institutions:
    get:
      tags:
        - Structure
      summary: Get Financial Institutions
      operationId: searchInstitutions
      description: Returns a list of financial institutions.
      parameters:
        - in: query
          name: filters
          description: |
            The filter for the bank search.
            Examples:
            * Filter by State name  
            `STNAME:"West Virginia"`    
            * Filter for any one of multiple State names  
            `STNAME:("West Virginia","Delaware")`
            * Filter all but a specified value  
            `!(STNAME:"Virginia")`  
            * Filter by last updated within an inclusive date range  
            `DATEUPDT:["2010-01-01" TO "2010-12-31"]`
            * Filter for deposits over 50,000,000 (50000 thousands of dollars)  
            `DEP:[50000 TO *]`
          required: false
          example: >-
            STALP:IA AND ACTIVE:1
          schema:
            type: string
        - in: query
          name: search
          description: |
            Flexible text search against institution records - currently only supporting name search. 
            Search supports text search and fuzzy matching, as opposed to filters that are exact matches.
            Examples:
            * Search by name
            `NAME: Island`
            * Search by name (fuzzy match)
            `NAME: Iland`
          required: false
          schema:
            type: string
        - in: query
          name: fields
          description: Comma delimited list of fields to search.
          required: false
          example: >-
            ZIP,OFFDOM,CITY,COUNTY,STNAME,STALP,NAME,ACTIVE,CERT,CBSA,ASSET,NETINC,DEP,DEPDOM,ROE,ROA,DATEUPDT,OFFICES
          schema:
            type: string
        - in: query
          name: sort_by
          description: Field name by which to sort returned data
          required: false
          example: OFFICES
          schema:
            type: string
            default: NAME
        - in: query
          name: sort_order
          description: Indicator if ascending (ASC) or descending (DESC)
          required: false
          example: DESC
          schema:
            type: string
            default: ASC
        - in: query
          name: limit
          description: >-
            The number of records to return. Default is 10 and maximum is 10,000.
          required: false
          example: 10
          schema:
            type: integer
            minimum: 0
            maximum: 10000
            default: 10
        - in: query
          name: offset
          description: The offset of page to return.
          required: false
          example: 0
          schema:
            type: integer
            minimum: 0
            default: 0
        - $ref: '#/components/parameters/fileFormat'
        - $ref: '#/components/parameters/fileDownload'
        - $ref: '#/components/parameters/fileName'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/metadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/institution'
            text/csv:
              schema:
                type: string
                format: csv
        '400':
          description: bad input parameter
  /locations:
    get:
      tags:
        - Structure
      summary: Get Institution Locations
      operationId: searchLocations
      description: Returns locations/branches of financial institutions.
      parameters:
        - in: query
          name: filters
          description: The filter for the location search.
          example: >-
            STNAME:Oregon AND SERVTYPE:11
          examples:
            statename:
              value: STNAME:"West Virginia"
              summary: Filter by state name
            statenames:
              value: STNAME:("West Virginia","Delaware")
              summary: Filter by multiple State names
            twofields:
              value: STNAME:Oregon AND SERVTYPE:11
              summary: Filter by two fields
            daterange:
              value: RUNDATE:["2015-01-01" TO "2015-01-06"]
              summary: Filter by last updated within an inclusive date range
            numberrange:
              value: OFFNUM:[0 TO 10]
              summary: Filter by Locations where the office number is between 0 and 10
          required: false
          schema:
            type: string
        - in: query
          name: fields
          description: Comma delimited list of fields to return.
          required: false
          example: 'NAME,UNINUM,SERVTYPE,RUNDATE,CITY,STNAME,ZIP,COUNTY'
          schema:
            type: string
        - in: query
          name: sort_by
          description: Field name by which to sort returned data
          required: false
          example: NAME
          schema:
            type: string
            default: NAME
        - in: query
          name: sort_order
          description: Indicator if ascending (ASC) or descending (DESC)
          required: false
          example: DESC
          schema:
            type: string
            default: ASC
        - in: query
          name: limit
          description: The number of records to return. Default is 10 and maximum is 10,000.
          required: false
          example: 10
          schema:
            type: integer
            minimum: 0
            maximum: 10000
            default: 10
        - in: query
          name: offset
          description: The offset of page to return.
          required: false
          example: 0
          schema:
            type: integer
            minimum: 0
            default: 0
        - $ref: '#/components/parameters/fileFormat'
        - $ref: '#/components/parameters/fileDownload'
        - $ref: '#/components/parameters/fileName'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/metadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/location'
            text/csv:
              schema:
                type: string
                format: csv
        '400':
          description: bad input parameter
  /summary:
    get:
      tags:
        - Historical
      summary: Get Historical Aggregate Data by Year
      operationId: getHistorical
      description: Returns aggregate financial and structure data, subtotaled by year, regarding finanical institutions.
      parameters:
        - in: query
          name: filters
          description: |
            The filter criteria that refines the records included in the calculated result.
            example: >-
            STNAME:"Alabama" AND YEAR:2005
            Examples:
            * Filter by Community Banks (CB) vs. Savings Institutions (SI)  
            `CB_SI:CB`  
            * Filter by State name  
            `STNAME:"Virginia"`    
            * Filter all but a specified value  
            `!(STNAME:"Virginia")`  
            * Filter for any one of multiple State names  
            `STNAME:("West Virginia","Delaware")`    
            * Filter data by the year range  
            `YEAR:["2015" TO "2017"]`
          required: false
          example: STNAME:"Alabama"
          schema:
            type: string
        - in: query
          name: fields
          description: Comma delimited list of fields with aggregated annual financial data to return.
          required: false
          example: STNAME,YEAR,INTINC,EINTEXP,NIM,NONII,NONIX,ELNATR,ITAXR,IGLSEC,ITAX,EXTRA,NETINC
          schema:
            type: string
        - in: query
          name: sort_by
          description: Field name by which to sort returned data
          required: false
          example: YEAR
          schema:
            type: string
            default: YEAR
        - in: query
          name: sort_order
          description: Indicator if ascending (ASC) or descending (DESC)
          required: false
          example: DESC
          schema:
            type: string
            default: ASC
        - in: query
          name: limit
          description: The number of records to return. Default is 10 and maximum is 10,000.
          required: false
          example: 10
          schema:
            type: integer
            minimum: 0
            maximum: 10000
            default: 10
        - in: query
          name: offset
          description: The offset of page to return.
          required: false
          example: 0
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: agg_by
          description: The field(s) by which data will be aggregated. Valid values are 'YEAR' or 'YEAR,STNAME'.
          required: false
          schema:
            type: string
        - in: query
          name: agg_term_fields
          description: The field(s) for which aggregations will be counted for each unique term.
          required: false
          schema:
            type: string
        - in: query
          name: agg_sum_fields
          description: The field(s) for which aggregations will be summed or aggregated.
          required: false
          schema:
            type: string
        - in: query
          name: agg_limit
          description: The limit on how many aggregated results will be displayed
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 10000
        - $ref: '#/components/parameters/fileFormat'
        - $ref: '#/components/parameters/fileDownload'
        - $ref: '#/components/parameters/fileName'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/metadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/summary'
            text/csv:
              schema:
                type: string
                format: csv
        '400':
          description: bad input parameter
  /failures:
    get:
      tags:
        - Failures
      summary: Get detail on historical bank failures from 1934 to present.
      operationId: getFailures
      description: Returns details on failed financial institutions.
      parameters:
        - in: query
          name: filters
          description: |
            The filter criteria that refines the records returned. 
            Examples:
            * Filter by Location              
            `CITYST:"MEMPHIS, TN"`  
            * Filter all but a specified value  
            `!(CITY:"PITTSBURGH")`  
            * Filter by institution fail year range  
            `FAILYR:["2015" TO "2016"]`
          required: false
          example: FAILYR:["2014" TO "2015"]
          schema:
            type: string
        - in: query
          name: fields
          description: Comma delimited list of fields of failed financial institutions to return.
          required: false
          example: NAME,CERT,FIN,CITYST,FAILDATE,SAVR,RESTYPE,RESTYPE1,QBFDEP,QBFASSET,COST
          schema:
            type: string
        - in: query
          name: sort_by
          description: Field name by which to sort returned data
          required: false
          example: FAILDATE
          schema:
            type: string
            default: FAILDATE
        - in: query
          name: sort_order
          description: Indicator if ascending (ASC) or descending (DESC)
          required: false
          example: DESC
          schema:
            type: string
            default: ASC
        - in: query
          name: limit
          description: The number of records to return. Default is 10 and maximum is 10,000.
          required: false
          example: 10
          schema:
            type: integer
            minimum: 0
            maximum: 10000
            default: 100
        - in: query
          name: offset
          description: The offset of page to return.
          required: false
          example: 0
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: total_fields
          description: Fields to sum up (in a totals response object). Only numeric columns are valid.
          required: false
          example: QBFDEP,QBFASSET,COST
          schema:
            type: string
        - in: query
          name: subtotal_by
          description: The field by which data will be subtotaled (in totals response object). Only categorical values should be used.
          required: false
          example: RESTYPE
          schema:
            type: string
        - in: query
          name: agg_by
          description: The field(s) by which data will be aggregated. Valid values are 'FAILYR' or 'FAILYR,PSTALP'.
          required: false
          example: FAILYR
          schema:
            type: string
        - in: query
          name: agg_term_fields
          description: The field(s) for which aggregations will be counted for each unique term.
          required: false
          example: RESTYPE
          schema:
            type: string
        - in: query
          name: agg_sum_fields
          description: The field(s) for which aggregations will be summed or aggregated.
          required: false
          example: QBFASSET,QBFDEP,COST
          schema:
            type: string
        - in: query
          name: agg_limit
          description: The limit on how many aggregated results will be displayed
          required: false
          example: 10
          schema:
            type: integer
            minimum: 0
            maximum: 10000
            default: 10
        - $ref: '#/components/parameters/fileFormat'
        - $ref: '#/components/parameters/fileDownload'
        - $ref: '#/components/parameters/fileName'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/metadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/failure'
                  totals:
                    $ref: '#/components/schemas/totals'
            text/csv:
              schema:
                type: string
                format: csv
        '400':
          description: bad input parameter
  /history:
    get:
      tags:
        - History
      summary: Get Detail on Structure Change Events
      operationId: getHistory
      description: Returns details on structure change events
      parameters:
        - in: query
          name: filters
          description: |
            The filter criteria that refines the records returned. 
            Examples:
            * Filter by State
            `STATE:"VIRGINIA"`  
            * Filter all but a specified value  
            `!(STATE:"VIRGINIA")`  
            * Filter by Date Range
            `PROCDATE:[2020-01-01 TO 2020-02-01]`
          required: false
          example: STATE:"VIRGINIA"
          schema:
            type: string
        - in: query
          name: search
          description: |
            Flexible text search against institution records
            Search supports text search and fuzzy matching, as opposed to filters that are exact matches.
            Examples:
            * Search by Name
            `NAME: Island`
            * Search by Name (fuzzy match)
            `NAME: Iland`
            * Search by State
            `STATE: VA`
          required: false
          schema:
            type: string
        - in: query
          name: fields
          description: Comma delimited list of fields of failed financial institutions to return.
          required: false
          example: INSTNAME,CERT,PCITY,PSTALP,PZIP5
          schema:
            type: string
        - in: query
          name: sort_by
          description: Field name by which to sort returned data
          required: false
          example: PROCDATE
          schema:
            type: string
            default: PROCDATE
        - in: query
          name: sort_order
          description: Indicator if ascending (ASC) or descending (DESC)
          required: false
          example: DESC
          schema:
            type: string
            default: ASC
        - in: query
          name: limit
          description: The number of records to return. Default is 10 and maximum is 10,000.
          required: false
          example: 10
          schema:
            type: integer
            minimum: 0
            maximum: 10000
            default: 100
        - in: query
          name: offset
          description: The offset of page to return.
          required: false
          example: 0
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: agg_by
          description: The field(s) by which data will be aggregated
          required: false
          schema:
            type: string
        - in: query
          name: agg_term_fields
          description: The field(s) for which aggregations will be counted for each unique term.
          required: false
          schema:
            type: string
        - in: query
          name: agg_limit
          description: The limit on how many aggregated results will be displayed
          required: false
          example: 10
          schema:
            type: integer
            minimum: 0
            maximum: 10000
            default: 10
        - $ref: '#/components/parameters/fileFormat'
        - $ref: '#/components/parameters/fileDownload'
        - $ref: '#/components/parameters/fileName'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/metadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/history'
                  totals:
                    $ref: '#/components/schemas/totals'
            text/csv:
              schema:
                type: string
                format: csv
        '400':
          description: bad input parameter
  /financials:
    get:
      tags:
        - Financials
      summary: Get Financial Information for FDIC Insured Institutions
      operationId: getFinancials
      description: Returns financial information for financial institutions
      parameters:
        - in: query
          name: filters
          description: |
            The filter criteria that refines the records included in the result.
            Examples:  
            * Filter data by the numeric range  
            `ASSET:[1000 TO 9999]`
          required: false
          example: CERT:14
          schema:
            type: string
        - in: query
          name: fields
          description: Comma delimited list of fields with quarterly financial data to return.
          required: false
          example: CERT,REPDTE,ASSET,DEP
          schema:
            type: string
        - in: query
          name: sort_by
          description: Field name by which to sort returned data
          required: false
          example: REPDTE
          schema:
            type: string
            default: REPDTE
        - in: query
          name: sort_order
          description: Indicator if ascending (ASC) or descending (DESC)
          required: false
          example: DESC
          schema:
            type: string
            default: ASC
        - in: query
          name: limit
          description: The number of records to return. Default is 10 and maximum is 10,000. However, if the request is for more than 1,000 variables, consider making the requests in batches of no more than 500 records at a time to ensure the request is successful. 
          required: false
          example: 10
          schema:
            type: integer
            minimum: 0
            maximum: 10000
            default: 10
        - in: query
          name: offset
          description: The offset of page to return.
          required: false
          example: 0
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: agg_by
          description: The field(s) by which data will be aggregated.
          required: false
          example: CERT
          schema:
            type: string
        - in: query
          name: agg_term_fields
          description: The field(s) for which aggregations will be counted for each unique term.
          required: false
          example: REPDTE
          schema:
            type: string
        - in: query
          name: agg_sum_fields
          description: The field(s) for which aggregations will be summed or aggregated.
          required: false
          example: ASSET
          schema:
            type: string
        - in: query
          name: agg_limit
          description: The limit on how many aggregated results will be displayed
          required: false
          example: 1
          schema:
            type: integer
            minimum: 0
            maximum: 10000
        - $ref: '#/components/parameters/fileFormat'
        - $ref: '#/components/parameters/fileDownload'
        - $ref: '#/components/parameters/fileName'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/metadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/financial'
                  totals:
                    $ref: '#/components/schemas/totals'
            text/csv:
              schema:
                type: string
                format: csv
        '400':
          description: bad input parameter
components:
  parameters:
    fileFormat:
      in: query
      name: format
      description: The format of the data to return.
      required: false
      example: json
      schema:
        type: string
        enum:
          - json
          - csv
    fileDownload:
      in: query
      name: download
      description: Whether the data should be downloaded as a file.
      required: false
      example: false
      schema:
        type: string
        enum:
          - false
          - true
    fileName:
      in: query
      name: filename
      description: The filename to use when downloading data.
      required: false
      example: data_file
      schema:
        type: string
  schemas:
    institution:
      type: object
      properties:
        data:
          type: object
          properties:
            # LOCN_PHY_CNTY_NUM:
            #   type: number
            #   title: TBD
            #   description: TBD
            #   x-source-mapping:
            #     - file: VINST_FIN_CUR_SDC
            #       field: LOCN_PHY_CNTY_NUM
            # LOCN_PHY_ST_NUM:
            #   type: number
            #   title: TBD
            #   description: TBD
            #   x-source-mapping:
            #     - file: VINST_FIN_CUR_SDC
            #       field: LOCN_PHY_ST_NUM
            # ORG_ACQ_CERT_NUM:
            #   type: number
            #   title: TBD
            #   description: TBD
            #   x-source-mapping:
            #     - file:  VINST_FIN_CUR_SDC
            #       field: ORG_ACQ_CERT_NUM
            # INST_FIN_ACTV_FLG:
            #   type: string
            #   title: TBD
            #   description: TBD
            #   x-source-mapping:
            #     - file:  VINST_FIN_CUR_SDC
            #       field: INST_FIN_ACTV_FLG
            # ORG_TYP_NUM:
            #   type: string
            #   title: TBD
            #   description: TBD
            #   x-source-mapping:
            #     - file: VINST_FIN_CUR_SDC
            #       field: ORG_TYP_NUM
            # AGY_CFPB_REGL_EFF_DTE:
            #   type: string
            #   title: TBD
            #   description: TBD
            #   x-source-mapping:
            #     - file: VINST_FIN_CUR_SDC
            #       field: AGY_CFPB_REGL_EFF_DTE
            # AGY_CFPB_REGL_END_DTE:
            #   type: string
            #   title: TBD
            #   description: TBD
            #   x-source-mapping:
            #     - file: VINST_FIN_CUR_SDC
            #       field: AGY_CFPB_REGL_END_DTE
            # ORG_EFF_NUM_DTE:
            #   type: string
            #   title: TBD
            #   description: TBD
            #   x-source-mapping:
            #     - file: VINST_FIN_CUR_SDC
            #       field: ORG_EFF_NUM_DTE
            # ORG_END_NUM_DTE:
            #   type: string
            #   title: TBD
            #   description: TBD
            #   x-source-mapping:
            #     - file: VINST_FIN_CUR_SDC
            #       field: ORG_END_NUM_DTE
            # INST_FIN_ESTB_DTE:
            #   type: string
            #   title: TBD
            #   description: TBD
            #   x-source-mapping:
            #     - file: VINST_FIN_CUR_SDC
            #       field: INST_FIN_ESTB_DTE
            # POL_1_INS_BEG_DTE:
            #   type: string
            #   title: TBD
            #   description: TBD
            #   x-source-mapping:
            #     - file: VINST_FIN_CUR_SDC
            #       field: POL_1_INS_BEG_DTE
            # REPDTE_RAW:
            #   title: Report Date
            #   description: The last day of the financial reporting period selected.
            #   type: string
            #   x-source-mapping:
            #     - file:  RISVIEW
            #       field: REPDTE
            # ZIP_RAW:
            #   title: Zip Code
            #   description: >-
            #     The first three, four, or five digits of the full postal zip code
            #     representing physical location of the institution or its branch
            #     office.
            #   type: string
            #   x-source-mapping:
            #     - file:  VINST_FIN_CUR_SDC
            #       field: LOCN_PHY_POST_CDE
            ACTIVE:
              type: string
              title: Institution Status
              description: >-
                A number indicating the status of an institution. 1='Institutions that are currently open and insured by the FDIC'; 0='Institution closed or not insured by FDIC'
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if(ctx.INST_FIN_ACTV_FLG?.toLowerCase() == "y") {
                          ctx.ACTIVE = 1;
                        } else {
                          ctx.ACTIVE = 0;
                        }
            ADDRESS:
              type: string
              title: Street Address
              description: >-
                The street address in which an institution or branch office is physically located.
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_PHY_LNE1_TXT
            ASSET:
              type: number
              title: Total assets
              description: >-
                The sum of all assets owned by the institution including cash,
                loans, securities, bank premises and other assets. This total does
                not include off-balance-sheet accounts.
              x-source-mapping:
                - file: RISVIEW
                  field: ASSET
            BKCLASS:
              title: Institution Class
              enum:
                - 'N'
                - SM
                - NM
                - SB
                - SA
                - OI
              description: >-
                A classification code assigned by the FDIC based on the institution's charter type (commercial bank or savings institution), charter agent (state or federal), Federal Reserve membership status (Fed member, Fed non-member) and its primary federal regulator (state chartered institutions are subject to both federal and state supervision). N - Commercial bank, national (federal) charter, Fed member, and supervised by the Office of the Comptroller of the Currency (OCC); NM - Commercial bank, state charter, Fed non-member, and supervised by the Federal Deposit Insurance Corporation (FDIC); OI - Insured U.S. branch of a foreign chartered institution (IBA) and supervised by the OCC or FDIC; SB – Federal savings banks, federal charter, supervised by the OCC or before July 21,2011 the Office of Thrift Supervision (OTS); SI - State chartered stock savings banks, supervised by the FDIC; SL - State chartered stock savings and loan associations, supervised by the FDIC or before July 21,2011 the OTS; SM - Commercial bank, state charter, Fed member, and supervised by the Federal Reserve Bank (FRB); NC – Noninsured non-deposit commercial banks and/or trust companies regulated by the OCC, a state, or a territory; NS - Noninsured stock savings bank supervised by a state or territory; CU - state or federally chartered credit unions supervised by the National Credit Union Association (NCUA).
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: INST_CLASS_CDE
            CB:
              title: Community Bank
              description: >-
                FDIC community banks are identified based on criteria defined in the FDIC Community Banking Study. Using detailed balance sheet and geographic data, the study defines community banks in terms of their traditional relationship banking and limited geographic scope of operations
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: CB
            CBSA:
              title: Core Based Statistical Area Name
              description: >-
                Name of the Core Based Statistical Area (CBSA) as defined by the US Census Bureau Office of Management and Budget.
              type: string
              x-source-mapping:
                - file: RELATION
                  field: CBSANAME
            CBSA_DIV:
              title: Metropolitan Divisions Name
              description: >-
                Name of the Core Based Statistical Division as defined by the US Census Bureau Office of Management and Budget.
              type: string
              x-source-mapping:
                - file: RELATION
                  field: CBSA_DIV_NAME
            CBSA_DIV_FLG:
              title: Metropolitan Divisions Flag
              description: >-
                A flag (1=Yes) indicating member of a Core Based Statistical Division as defined by the US Census Bureau Office of Management and Budget.
              type: string
              x-source-mapping:
                - file: RELATION
                  field: DIVISION_FLAG
            CBSA_DIV_NO:
              title: Metropolitan Divisions Number
              description: >-
                Numeric code of the Core Based Statistical Division as defined by the US Census Bureau Office of Management and Budget.s
              type: string
              x-source-mapping:
                - file: RELATION
                  field: CBSA_DIVISION
            CBSA_METRO:
              title: Metropolitan Division Number
              description: >-
                Numeric code of the Metropolitan Statistical Area as defined by the US Census Bureau Office of Management and Budget
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if(ctx.CBSA_METRO_FLG == "1") {
                          ctx.CBSA_METRO = ctx.CBSA_NO;
                        } else {
                          ctx.CBSA_METRO = 0;
                        }
            CBSA_METRO_FLG:
              title: Metropolitan Division Flag
              description: >-
                A flag (1=Yes) used to indicate whether an branch is in a Metropolitan Statistical Area as defined by the US Census Bureau Office of Management and Budget
              type: string
              x-source-mapping:
                - file: RELATION
                  field: METRO_FLAG
            CBSA_METRO_NAME:
              title: Metropolitan Division Name
              description: >-
                Name of the Metropolitan Statistical Area as defined by the US Census Bureau Office of Management and Budget
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if(ctx.CBSA_METRO_FLG == "1") {
                          ctx.CBSA_METRO_NAME = ctx.CBSA;
                        } else {
                          ctx.CBSA_METRO_NAME = 0;
                        }
            CBSA_MICRO_FLG:
              title: Micropolitan Division Flag
              description: >-
                A flag (1=Yes) used to indicate whether an branch is in a Metropolitan Statistical Area as defined by the US Census Bureau Office of Management and Budget
              type: string
              x-source-mapping:
                - file: RELATION
                  field: MICRO_FLAG
            CBSA_NO:
              title: Core Based Statistical Areas
              description: >-
                Numeric code of the Core Based Statistical Area (CBSA) as defined by the US Census Bureau Office of Management and Budget.
              type: string
              x-source-mapping:
                - file: RELATION
                  field: CBSA
            CERT:
              title: 'FDIC Certificate #'
              description: >-
                A unique NUMBER assigned by the FDIC used to identify institutions
                and for the issuance of insurance certificates.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: ORG_CERT_NUM
            CERTCONS:
              title: Directly owned by another bank (CERT)
              description: >-
                FDIC certificate number of the parent bank or savings institution
                with which the reported institution’s financial data has been
                consolidated. Beginning in March 1997, both the Thrift Financial
                Reports and Call Reports are completed on a fully consolidated
                basis.  Previously, the consolidation of subsidiary depository
                institutions was prohibited.  Now, parent institutions are required
                to file consolidated reports, while their subsidiary financial
                institutions are still required to file separate reports.  Click on
                the certificate number to identify the parent bank or thrift.
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: CERTCONS
            CFPBEFFDTE:
              title: CFPB Effective Date
              description: Date the institution began secondary supervision by CFPB
              type: string
              format: date-time
              x-source-mapping:
                - formula:
                    type: date
                    parameters:
                      inputFormat: "yyyy-MM-dd'T'HH:mm:ss"
                      outputFormat: 'yyyy-MM-dd'
                      inputField: AGY_CFPB_REGL_EFF_DTE
                      outputField: CFPBEFFDTE
            CFPBENDDTE:
              title: CFPB End Date
              description: Date the institution ended supervision by CFPB
              type: string
              format: date-time
              x-source-mapping:
                - formula:
                    type: date
                    parameters:
                      inputFormat: "yyyy-MM-dd'T'HH:mm:ss"
                      outputFormat: 'yyyy-MM-dd'
                      inputField: AGY_CFPB_REGL_END_DTE
                      outputField: CFPBENDDTE
            CFPBFLAG:
              title: CFPB Flag
              description: >-
                Indicates secondary supervision by CFPB ('0' - not supervised by
                CFPB, '1'- secondarily supervised by CFPB)
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if(ctx.REGAGENT2?.toLowerCase() == "cfpb" && ctx.CFPBENDDTE?.toString() == "31-Dec-99") {
                          ctx.CFPBFLAG = 1;
                        } else {
                          ctx.CFPBFLAG = 0
                        }
            PRIORNAME1:
              title: Previous Name 1
              description: >-
                Previous Name of Institution 1
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if(ctx.EVENTS !== null ) {
                          List uniqNameList = new ArrayList();
                          for (int i = 0; i < ctx.EVENTS.length; ++i) {
                              if(!uniqNameList.contains(ctx.EVENTS[i].NAME) && ctx.NAME != ctx.EVENTS[i].NAME) {
                                uniqNameList.add(ctx.EVENTS[i].NAME);
                              }
                          }
                          for (int a = 0; a < uniqNameList.length; ++a) {
                            String priorNameProperty = "PRIORNAME" + (a+1);
                            ctx[priorNameProperty] = uniqNameList[a];
                          }
                        }
            PRIORNAME2:
              title: Previous Name 2
              description: >-
                Previous Name of Institution 2
#              notes: See PRIORNAME1 for transformation
            PRIORNAME3:
              title: Previous Name 3
              description: >-
                Previous Name of Institution 3
#              notes: See PRIORNAME1 for transformation
            PRIORNAME4:
              title: Previous Name 4
              description: >-
                Previous Name of Institution 4
#              notes: See PRIORNAME1 for transformation
            PRIORNAME5:
              title: Previous Name 5
              description: >-
                Previous Name of Institution 5
#              notes: See PRIORNAME1 for transformation
            PRIORNAME6:
              title: Previous Name 6
              description: >-
                Previous Name of Institution 6
#              notes: See PRIORNAME1 for transformation
            PRIORNAME7:
              title: Previous Name 7
              description: >-
                Previous Name of Institution 7
#              notes: See PRIORNAME1 for transformation
            PRIORNAME8:
              title: Previous Name 8
              description: >-
                Previous Name of Institution 8
#              notes: See PRIORNAME1 for transformation
            PRIORNAME9:
              title: Previous Name 9
              description: >-
                Previous Name of Institution 9
#              notes: See PRIORNAME1 for transformation
            PRIORNAME10:
              title: Previous Name 10
              description: >-
                Previous Name of Institution 10
#              notes: See PRIORNAME1 for transformation
            CHANGEC1:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if(ctx.EVENTS !== null ) {

                          List changeCodeList = new ArrayList();
                          String[] codeList = new String[] {"1", "110", "150", "211", "212", "213", "215", "216", "217", "221", "222", "223", "225", "230", "231", "235", "240", "350", "360", "410", "411", "430", "440", "470", "510", "520", "610", "810", "811", "812", "820", "830"};
                          List includeCodeList = Arrays.asList(codeList);


                          for (int i = 0; i < ctx.EVENTS.length; ++i) {
                            if (ctx.EVENTS[i].EFFDATE == ctx.ORG_EFF_NUM_DTE &&
                                ctx.EVENTS[i].ENDEFYMD == ctx.ORG_END_NUM_DTE &&
                                includeCodeList.contains(Integer.toString(ctx.EVENTS[i].ACT_EVT_NUM))) {

                              ctx.EVENTS[i].CHANGE_ORDER = 3;
                              if (ctx.EVENTS[i].ACT_EVT_NUM !== null) {
                                if(ctx.EVENTS[i]?.ACT_EVT_NUM > 200 && ctx.EVENTS[i]?.ACT_EVT_NUM <= 299) {
                                  ctx.EVENTS[i].CHANGE_ORDER = 1;
                                } else if(ctx.EVENTS[i]?.ACT_EVT_NUM > 800 && ctx.EVENTS[i]?.ACT_EVT_NUM <= 899) {
                                  ctx.EVENTS[i].CHANGE_ORDER = 2;
                                }
                              }

                              changeCodeList.add(ctx.EVENTS[i])
                            }
                          }

                          changeCodeList.sort((x,y) -> {
                            int change = x.CHANGE_ORDER.compareTo(y.CHANGE_ORDER);
                            if (change === 0) { change = y.PROCDATE.compareTo(x.PROCDATE); }
                            if (change === 0) { change = y.ACT_EVT_NUM.compareTo(x.ACT_EVT_NUM); }
                            return change;
                          });

                          ctx.PARSED_EVENTS = changeCodeList;

                          for (int a = 0; a < ctx.PARSED_EVENTS.length; ++a) {
                            String changeCodeProperty = "CHANGEC" + (a+1);
                            ctx[changeCodeProperty] = ctx.PARSED_EVENTS[a].ACT_EVT_NUM
                          }
                        }
            CHANGEC2:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT2_NUM
            CHANGEC3:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT3_NUM
            CHANGEC4:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT4_NUM
            CHANGEC5:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT5_NUM
            CHANGEC6:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT5_NUM
            CHANGEC7:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT5_NUM
            CHANGEC8:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT5_NUM
            CHANGEC9:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT5_NUM
            CHANGEC10:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT5_NUM
            CHANGEC11:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT5_NUM
            CHANGEC12:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT5_NUM
            CHANGEC13:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT5_NUM
            CHANGEC14:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT5_NUM
            CHANGEC15:
              title: Change Code
              description: >-
                FDIC code used to signify a structural event relating to an institution.
              type: string
              x-source-mapping:
                - file: VINST_BR_SDC
                  field: ACT_EVT5_NUM
            CHARTER:
              title: OCC Charter Number
              description: >-
                The charter number identifying a financial institution supervised by the Office of Comptroller of Currency.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: INST_OCC_CHTR_NUM
            CHRTAGNT:
              title: Chartering Agency
              description: >-
                All Chartering Agencies - State and Federal  Comptroller of the
                Currency - Chartering authority for nationally chartered commercial
                banks and for federally chartered savings associations (The Office
                of Thrift Supervision (OTS) before 7/21/11)  State (includes U.S.
                Territories) - Chartering authority for institutions that are not
                chartered by the OCC or OTS
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: AGY_CHTR_CDE
            CITY:
              title: City
              description: >-
                The city in which an institution or branch office is physically located.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_PHY_CTY_NME
            CITYHCR:
              title: City of High Holder
              description: >-
                City in which the headquarters of the institution's regulatory high
                holder are physically located.
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: CITYHCR
            CLCODE:
              title: Numeric code
              description: >-
                Numeric code which identifies the major and minor categories of an
                institution.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: INST_CAT_NUM
            CMSA_NO:
              title: Consolidated Metropolitan Statistical Division Number
              description: >-
                The numeric code given by the US Census Bureau office of Management
                and Budget that represents the CMSA prior to the year 2000
                standards. 1=yes
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_CMSA_NUM
            CMSA:
              title: Consolidated Metropolitan Statistical Area
              description: >-
                The Federal Information Processing Standards (FIPS) Consolidated
                Metropolitan Statistical Area (CMSA) code is a number representing
                the institution location. CMSA consists of two or more contiguous
                Metropolitan Statistical Areas (MSA) with a combined population of
                over 1 Million.  Note: If an institution is not located in a CMSA,
                the value of the field will be zeroes.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_CMSA_NME
            CONSERVE:
              title: Conservatorship
              description: >-
                A flag (1=yes;0=no) that indicates if an institution is being
                operated in government conservatorship.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: INST_FIN_CNS_FLG
            COUNTY:
              title: County
              description: >-
                The county name in which an institution or branch office is physically located.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_PHY_CNTY_NME
            CSA:
              title: Combined Statistical Area Name
              description: >-
                Name of the Combined Statistical Area (CSA) as defined by the US Census Bureau.
              type: string
              x-source-mapping:
                - file: RELATION
                  field: CSANAME
            CSA_NO:
              title: Numeric Code for the Combined Statistical Area
              description: >-
                The numeric code that the U.S. Census Bureau Office of Management
                and Budget assigns for the combined statistical area (CSA) per the
                2000 standards. If an institution is not defined as a CSA, the value
                of the field will be zero.  For more information see:
                http://www.census.gov/population/www/estimates/metroarea.html .
              type: string
              x-source-mapping:
                - file: RELATION
                  field: CSA
            CSA_FLG:
              title: CSA Area Flag
              description: >-
                A flag used to indicate whether an institution is in a Combined
                Statistical Area. 1=yes and 0=no.
              type: string
              x-source-mapping:
                - file: RELATION
                  field: CSA_FLAG
            DATEUPDT:
              title: Last update
              description: The date of the last data update.
              type: string
              x-source-mapping:
                - file: see PROCDATE script
                  field: see PROCDATE script
            DENOVO:
              title: Denovo Institution
              description: >-
                A flag used to indicate whether an institution is a new institution
                (not a recharter). This flag is set quarterly. For instance, if
                REPDTE is 3/31/98 and DENOVO equals 1, the institution was a denovo
                during the first quarter of 1998.
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: DENOVO
            DEP:
              title: Total deposits
              description: >-
                The sum of all deposits including demand deposits, money market
                deposits, other savings deposits, time deposits and deposits in
                foreign offices.
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: DEP
            DEPDOM:
              title: Deposits held in domestic offices
              description: >-
                The sum of all domestic office deposits, including demand deposits,
                money market deposits, other savings deposits and time deposits.
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: DEPDOM
            DOCKET:
              title: OTS Docket Number
              description: >-
                An identification number assigned to institutions chartered by the Office of Thrift Supervision (OTS) or members of the Federal Housing  Finance Board (FHFB) and formerly by the Federal Home Loan Bank (FHLB) Board. The value is '00000' for institutions not members of the  FHFB.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: ORG_DKT_NUM
            EFFDATE:
              title: Last Structure Change Effective Date
              description: A date indicating when an institution's change/event is effective.
              type: string
              format: date-time
              x-source-mapping:
                - formula:
                    type: date
                    parameters:
                      inputFormat: 'yyyyMMdd'
                      outputFormat: 'MM/dd/yyyy'
                      inputField: ORG_EFF_NUM_DTE
                      outputField: EFFDATE
            ENDEFYMD:
              title: End date
              description: >-
                The date that ends or closes out the last structural event relating
                to an institution. For closed institutions, this date represents the
                day that the institution became inactive.
              type: string
              format: date-time
              x-source-mapping:
                - formula:
                    type: date
                    parameters:
                      inputFormat: 'yyyyMMdd'
                      outputFormat: 'MM/dd/yyyy'
                      inputField: ORG_END_NUM_DTE
                      outputField: ENDEFYMD
            EQ:
              title: Equity capital
              description: >-
                Total equity capital (includes preferred and common stock, surplus
                and undivided profits).
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: EQ
            ESTYMD:
              title: Established Date
              description: The date on which the institution began operations.
              type: string
              format: date-time
              x-source-mapping:
                - formula:
                    type: date
                    parameters:
                      inputFormat: "yyyy-MM-dd'T'HH:mm:ss"
                      outputFormat: 'MM/dd/yyyy'
                      inputField: INST_FIN_ESTB_DTE
                      outputField: ESTYMD
            FDICDBS:
              title: FDIC Geographic Region
              description: >-
                The FDIC Office assigned to the geographic area.  The eight FDIC
                Regions and their respective states are:    Boston - Connecticut,
                Maine, Massachusetts, New Hampshire, Rhode Island, Vermont  New York
                - Delaware, District of Columbia, Maryland, New Jersey, New York,
                Pennsylvania, Puerto Rico, U.S. Virgin Islands  Atlanta - Alabama,
                Florida, Georgia, North Carolina, South Carolina, Virginia, West
                Virginia  Memphis - Arkansas, Kentucky, Louisiana, Mississippi,
                Tennessee  Chicago - Illinois, Indiana, Michigan, Ohio, Wisconsin
                Kansas City - Iowa, Kansas, Minnesota, Missouri, Nebraska, North
                Dakota, South Dakota  Dallas - Colorado, New Mexico, Oklahoma,
                Texas  San Francisco - Alaska, American Samoa, Arizona, California,
                Guam, Hawaii, Idaho, Montana, Nevada, Oregon, States of Micronesia,
                Utah, Washington, Wyoming
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_REGN_OFC_CDE
            FDICREGN:
              title: FDIC Supervisory Region
              description: >-
                The supervisory FDIC office assigned to the institution.  The eight
                FDIC Supervisory Regions and their respective states are:    Boston
                - Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island,
                Vermont  New York - Delaware, District of Columbia, Maryland, New
                Jersey, New York, Pennsylvania, Puerto Rico, U.S. Virgin Islands
                Atlanta - Alabama, Florida, Georgia, North Carolina, South Carolina,
                Virginia, West Virginia  Memphis - Arkansas, Kentucky, Louisiana,
                Mississippi, Tennessee  Chicago - Illinois, Indiana, Michigan, Ohio,
                Wisconsin   Kansas City - Iowa, Kansas, Minnesota, Missouri,
                Nebraska, North Dakota, South Dakota  Dallas - Colorado, New Mexico,
                Oklahoma, Texas  San Francisco - Alaska, American Samoa, Arizona,
                California, Guam, Hawaii, Idaho, Montana, Nevada, Oregon, States of
                Micronesia, Utah, Washington, Wyoming
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_REGN_OFC_DESC
            FDICSUPV:
              title: Federal Reserve District
              description: >-
                The supervisory FDIC office assigned to the institution. There are twelve Federal Reserve Districts, with two Districts serving one state in some instances. The list of Federal Reserve Districts and their respective states are as follows: Boston - Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont New York - Connecticut, New Jersey, New York, Puerto Rico U.S. Virgin Islands Philadelphia - Delaware, New Jersey, Pennsylvania Cleveland - Kentucky, Ohio, Pennsylvania, West Virginia Richmond - Maryland, North Carolina, South Carolina, Virginia, West Virginia Atlanta - Alabama, Florida, Georgia, Louisiana, Mississippi, Tennessee Chicago - Illinois, Indiana, Iowa, Michigan, Wisconsin St. Louis - Arkansas, Illinois, Indiana, Kentucky, Mississippi, Missouri, Tennessee Minneapolis - Michigan, Minnesota, Montana, North Dakota, South Dakota, Wisconsin Kansas City - Colorado, Kansas, Missouri, Nebraska, New Mexico, Oklahoma, Wyoming Dallas - Louisiana, New Mexico, Texas San Francisco> - Alaska, American Samoa, Arizona, California, Guam, Hawaii, Idaho, Nevada, Oregon, States of Micronesia, Utah, Washington
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: ORG_SPVR_REGN_DESC
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if (ctx.SUPRV_FD == '16') {
                          ctx.FDICSUPV = 'WASHINGTON';
                        }
            FED:
              title: Federal Reserve ID Number
              description: >-
                A number used to identify the Federal Reserve district in which the
                institution is located. 01 – Boston, 02 - New York,03 –
                Philadelphia, 04 – Cleveland,05 – Richmond,06 – Atlanta,07 –
                Chicago,08 - St. Louis,09 – Minneapolis,10 - Kansas city,11 –
                Dallas,12 - San Francisco
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_FRB_DIST_CDE
            FED_RSSD:
              title: Federal Reserve ID Number
              description: >-
                A unique number assigned by the Federal Reserve board as the
                entity's unique identifier
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: ID_RSSD
            FEDCHRTR:
              title: Federal charter flag
              description: >-
                A flag used to indicate whether the institution is chartered by an
                agent of the federal government.
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if (ctx.CHRTAGNT?.toLowerCase() == 'occ' || ctx.CHRTAGNT?.toLowerCase() == 'ots') {
                          ctx.FEDCHRTR = 1;
                        } else {
                          ctx.FEDCHRTR = 0;
                        }
            FLDOFF:
              title: FDIC Field Office
              description: The FDIC Field Office where an institution is physically located.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_DOS_FLD_NME
            FORM31:
              title: FFIEC Call Report 31 Filer
              description: >-
                A flag (1=yes,0=no) that indicates whether and institution filed an
                FFIEC 031 Call Report. Commercial banks with domestic and foreign
                offices are required to file such a report.
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: FORM31
            HCTMULT:
              title: Bank Holding Company Type
              description: >-
                A flag used to indicate whether an institution is a member of a
                multibank holding company 1=yes, 0=no
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: HCTMULT
            IBA:
              title: Insured offices of foreign banks
              description: >-
                Includes Bank Insurance Fund insured branches in the U.S.
                established by banks chartered and headquartered in foreign
                countries.  These institutions are regulated by one of the three
                Federal commercial bank regulators and submit financial data to the
                Federal Reserve.
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if (ctx.INST_IBA_FLG?.toLowerCase() == "y" || ctx.INST_IBA_FLG?.toLowerCase() == "l") {
                          ctx.IBA = 1;
                        } else {
                          ctx.IBA = 0;
                        }
            INACTIVE:
              title: Inactive
              description: >-
                Institutions that are currently closed but were once insured by the
                FDIC.
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if (ctx.INST_FIN_ACTV_FLG?.toLowerCase() == "y") {
                          ctx.INACTIVE = 0;
                        } else {
                          ctx.INACTIVE = 1;
                        }
            INSAGNT1:
              title: Primary Insurance Agency
              description: >-
                Abbreviated primary insurance agency.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: AGY_1_INS_ABBV_NME
            INSAGNT2:
              title: Secondary Insurance Fund
              description: >-
                As a result of the establishment of a single Deposit Insurance Fund
                (DIF) effective April 1, 2006, the Secondary Insurance fund is no
                longer applicable. previously both bif and saif bank insurance fund
                - institutions that are members of the bank insurance fund savings
                association insurance fund - Institutions that are members of the
                Savings Association Insurance Fund
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: AGY_2_INS_ABBV_NME
            INSBIF:
              title: Bank Insurance Fund
              description: >-
                Institutions who are members of the Bank Insurance Fund. As of April
                1, 2006 BIF was merged together with the Savings Institution
                Insurance Fund (SAIF) to create a single Deposit Insurance Fund
                (DIF).  All FDIC insured BIF member institutions, that are still
                active or open, are now insured members of DIF.
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if (ctx.INSAGNT1?.toLowerCase() == "bif") {
                          ctx.INSBIF = 1;
                        } else {
                          ctx.INSBIF = 0;
                        }
            INSCOML:
              title: Insured commercial banks
              description: >-
                Includes commercial banks insured by the FDIC.  These institutions
                are regulated by one of the three Federal commercial bank regulators
                (FDIC, Federal Reserve Board, or Office of the Comptroller of the
                Currency).  They submit financial reports to the Federal Reserve
                (state member banks) or the FDIC (state non-member banks and
                national banks).
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if (
                          (ctx.INSAGNT1?.toLowerCase() == 'bif' || ctx.INSAGNT1?.toLowerCase() == 'saif' || ctx.INSAGNT1?.toLowerCase() == 'dif' ) &&
                          (ctx.BKCLASS?.toLowerCase() == 'n' || ctx.BKCLASS?.toLowerCase() == 'nc' || ctx.BKCLASS?.toLowerCase() == 'nm')
                          )
                        {
                          ctx.INSCOML = 1;
                        } else if (
                          (ctx.INSAGNT1?.toLowerCase() == 'bif' || ctx.INSAGNT1?.toLowerCase() == 'saif' || ctx.INSAGNT1?.toLowerCase() == 'dif' ) &&
                          (ctx.BKCLASS?.toLowerCase() == 'sm') && (ctx.ORG_TYP_NUM != 110) && (ctx.ORG_TYP_NUM != 115) && (ctx.ORG_TYP_NUM != 130) && (ctx.ORG_TYP_NUM != 135)
                        ) {
                          ctx.INSCOML = 1;
                        }
                        else {
                          ctx.INSCOML = 0;
                        }
            INSDATE:
              title: Date of Deposit Insurance
              description: The date that an institution obtained federal deposit insurance.
              type: string
              format: date-time
              x-source-mapping:
                - formula:
                    type: date
                    parameters:
                      inputFormat: "yyyy-MM-dd'T'HH:mm:ss"
                      outputFormat: 'MM/dd/yyyy'
                      inputField: POL_1_INS_BEG_DTE
                      outputField: INSDATE
            INSDROPDATE_RAW:
              title: Date of Dropped Deposit Insurance
              description: >-
                The date that an institution relinquished federal deposit insurance.
              type: string
              format: date-time
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if(ctx.EVENTS !== null && ctx.INSAGNT1?.toLowerCase() == 'none') {
                          for (int i = 0; i < ctx.EVENTS.length; ++i) {
                            if (ctx.EVENTS[i].ACT_EVT_NUM == 410 && ctx.EVENTS[i].INSAGNT1?.toLowerCase() == 'none') {
                              ctx.INSDROPDATE_RAW = ctx.EVENTS[i].EFFDATE;
                            }
                          }
                        }
            INSDROPDATE:
              title: Date of Dropped Deposit Insurance
              description: >-
                The date that an institution relinquished federal deposit insurance.
              type: string
              format: date-time
              x-source-mapping:
                - formula:
                    type: date
                    parameters:
                      inputFormat: 'yyyyMMdd'
                      outputFormat: 'MM/dd/yyyy'
                      inputField: INSDROPDATE_RAW
                      outputField: INSDROPDATE
            INSDIF:
              title: Deposit Insurance Fund member
              description: >-
                A flag used to indicate whether an institution is insured under the
                Deposit Insurance Fund (DIF).  As of April 1, 2006 the Bank
                Insurance Fund (BIF) was merged together with the Savings
                Institution Insurance Fund (SAIF) to create a single Deposit
                Insurance Fund (DIF).  All FDIC insured BIF and SAIF member
                institutions that are still active or open are now insured members
                of DIF.    0 = No, not DIF insured and 1 = Yes, DIF insured.  Note
                that institutions that became inactive prior to April 1006 will also
                have zero value.
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: INSDIF
            INSFDIC:
              title: FDIC Insured
              description: Includes institutions insured by the FDIC.
              type: number
              x-source-mapping:
                - formula:
                    type: simpleSet
                    parameters:
                      setField: 'INSFDIC'
                      setValue: 1
            INSSAIF:
              title: SAIF Insured
              description: >-
                Institutions who are members of the Savings Association Insurance
                Fund. As of April 1, 2006 SAIF was merged together with the Bank
                Insurance Fund (BIF) to create a single Deposit Insurance Fund
                (DIF).  All FDIC insured SAIF member institutions, that are still
                active or open, are now insured members of DIF.
              type: string
              x-source-mapping:
                - formula:
                    type: simpleSet
                    parameters:
                      setField: 'INSSAIF'
                      setValue: 0
            INSSAVE:
              title: Insured Savings Institution
              description: >-
                Includes savings institutions insured by the FDIC that operate under
                state or federal banking codes applicable to thrift institutions.
                These institutions are regulated by and submit financial reports to
                one of two Federal regulators (FDIC or Office of Thrift
                Supervision).
              type: string
              x-source-mapping:
                - formula:
                    type: simpleSet
                    parameters:
                      setField: 'INSSAVE'
                      setValue: 0
            INSTAG:
              title: Agricultural lending institution indicator
              description: >-
                An indicator specifying whether an institution is primarily an
                agricultural lending institution.
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: INSTAG
            INSTCRCD:
              title: Credit Card Institutions
              description: >-
                Institutions with total loans greater than 50% of total assets and
                credit card loans greater than 50% of total loans, including loans
                that have been securitized and sold.
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: ctx.INSTCRCD = 0;
            LATITUDE:
              type: number
              title: Location Address Latitude
              description: The latitude of the physical address.
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_PHY_LATD_TXT
            LAW_SASSER_FLG:
              title: Law Sasser Flag
              description: >-
                A flag, yes=1 and no=0 associated with OTS supervised savings
                associations that converted their charter to that of a commercial or
                savings bank.  Converted associations remain members of the SAIF,
                but they become subject to supervision by one of the three federal
                banking agencies. Not Applicable as of March 31, 2006.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LAW_SASSER_FLG
            LONGITUDE:
              type: number
              title: Location Address Longitude
              description: The longitude of the physical address.
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_PHY_LNGT_TXT
            MDI_STATUS_CODE:
              title: Minority Status Code
              description: >-
                A numeric flag used to indicate whether an institution is primarily a minority owned institution.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: DMG_MNRTY_STAT_CDE
            MDI_STATUS_DESC:
              title: Minority Status Description
              description: >-
                A descriptive flag used to indicate type of minority owned institution.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: DMG_MNRTY_STAT_DSC
            MSA:
              title: Metropolitan Statistical Area (MSA)
              description: >-
                The Metropolitan Statistical Areas based on Census Bureau data, as
                defined by the US Office of Management (OMB) prior to the year 2000.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_MSA_NME
            MSA_NO:
              title: Metropolitan Statistical Area Number
              description: >-
                The Metropolitan Statistical Area Number (MSA_NO) in which the institution is physically located. The Office of Management and Budget defines MSAs in terms of entire counties surrounding central cities, except in the six New England states where they are defined in terms of cities and towns within counties. Before 200 standards
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_MSA_NUM
            MUTUAL:
              title: Ownership Type
              description: >-
                Banking institutions fall into one of two ownership types, stock or
                non-stock. An institution which sells stock to raise capital is
                called a stock institution. It is owned by the shareholders who
                benefit from profits earned by the institution. A non-stock
                institution, or mutual institution, is owned and controlled solely
                by its depositors. A mutual does not issue capital stock.
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: MUTUAL
            NAME:
              type: string
              x-elastic-type: keyword
              title: Institution name
              description: The legal title or name of the institution.
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: INST_FIN_LGL_NME
            NAMEHCR:
              title: Bank Holding Company (Regulatory Top Holder)
              description: >-
                Regulatory top holder is assigned by the Federal Reserve Board based
                on ownership and control percentages. Note: Information on bank
                holding companies is only as of quarter-end. Regulatory top holder
                is any company that directly or indirectly owns, controls or has
                power to vote 25 percent or more of a bank's or direct holding
                company's shares or  controls in any manner the election of a
                majority of the directors or trustees of a bank or direct holding
                company or  exercises a controlling influence over the management or
                policies of a bank or direct holding company.   Information on
                Thrift Holding Companies that own Savings Associations but do not
                own banks is not currently available in the ID System.  Source:
                Federal Reserve Board National Information Center data base.
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: NAMEHCR
            NETINC:
              title: Net income
              description: >-
                Net interest income plus total noninterest income plus realized
                gains (losses) on securities and extraordinary items, less total
                noninterest expense, loan loss provisions and income taxes.
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: NETINC
            NETINCQ:
              title: Net income - quarterly
              description: >-
                Quarterly net interest income plus total noninterest income plus
                realized gains (losses) on securities and extraordinary items, less
                total noninterest expense, loan loss provisions and income taxes.
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: NETINCQ
            NEWCERT:
              title: New certificate number
              description: >-
                A new certificate number of an already existing FDIC-insured
                institution resulting from either a merger or an acquisition.
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        ctx.NEWCERT = 0;
                        if(ctx.PARSED_EVENTS !== null && ctx.PARSED_EVENTS.length > 0) {
                          for (int i = 0; i < ctx.PARSED_EVENTS.length; ++i) {
                            ctx.NEWCERT = ctx.PARSED_EVENTS[i].ORG_ACQ_CERT_NUM;
                            if (ctx.PARSED_EVENTS[i].ORG_ACQ_CERT_NUM < 0 ) {
                              ctx.NEWCERT = 0;
                            }
                          }

                          if (ctx.CHANGEC1 == 150)  {
                            ctx.NEWCERT = 0;
                          }
                          if ((ctx.CHANGEC1 < 200) && (ctx.CHANGEC1 > 300)) {
                            if (((ctx.CHANGEC1 < 831) && (ctx.CHANGEC1 > 700)) ||
                            ((ctx.CHANGEC2 < 831) && (ctx.CHANGEC1 > 700)) ||
                            ((ctx.CHANGEC3 < 831) && (ctx.CHANGEC1 > 700)) ||
                            ((ctx.CHANGEC4 < 831) && (ctx.CHANGEC1 > 700)) ||
                            ((ctx.CHANGEC5 < 831) && (ctx.CHANGEC1 > 700))) {
                              ctx.NEWCERT = 0;
                            }
                          }
                        }
            OAKAR:
              title: Oakar Institutions
              description: >-
                A member of one insurance fund that acquired deposits insured by the
                other fund, where that portion of the buyer's deposits remained
                insured by, and assessable by, the other fund.
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if (ctx.INSAGNT1?.toLowerCase() == "bif" && ctx.INSAGNT2?.toLowerCase() == "saif") {
                          ctx.OAKAR = 1;
                        } else {
                          ctx.OAKAR = 0;
                        }
            OCCDIST:
              title: Office of the Comptroller
              description: >-
                The Office of the Comptroller of the Currency (OCC) District in  which the institution is physically located. The six OCC Districts  and their respective states are: Northeast - Connecticut, Delaware,  District of Columbia, Maine, Maryland, Massachusetts, New Hampshire,  New Jersey, New York, Pennsylvania, Puerto Rico, Rhode Island,  Vermont, U.S. Virgin Islands Southeast - Alabama, Florida, Georgia,  Mississippi, North Carolina, South Carolina, Tennessee, Virginia,  West Virginia Central - Illinois, Indiana, Kentucky, Michigan,  Ohio, Wisconsin Midwest - Iowa, Kansas, Minnesota, Missouri,  Nebraska, North Dakota, South Dakota Southwest - Arkansas,  Louisiana, New Mexico, Oklahoma, Texas West - Alaska, American  Samoa, Arizona, California, Colorado, Guam, Hawaii, Idaho, Montana,  Nevada, Oregon, States of Micronesia, Utah, Washington, Wyoming
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_OCC_DIST_CDE
            OFFDOM:
              title: Number of Domestic Offices
              description: >-
                The number of domestic offices (including headquarters) operated by
                active institutions in the 50 states of the U.S.A.
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: OFFDOM
            OFFFOR:
              title: Number of Foreign Offices
              description: >-
                The number of foreign offices (outside the U.S.) operated by the
                institution.
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: OFFFOR
            OFFICES:
              title: Office
              description: >-
                A branch/office is any location, or facility, of a financial
                institution, including its main office, where deposit accounts are
                opened, deposits are accepted, checks paid, and loans granted. Some
                branches include, but are not limited to, brick and mortar
                locations, detached or attached drive-in facilities, seasonal
                offices, offices on military bases or government installations,
                paying/receiving stations or units, nondeposit offices, Internet and
                PhoneBanking locations where a customer can open accounts, make
                deposits and borrow money. A branch does not include Automated
                Teller Machines (ATM), Consumer Credit Offices, Contractual Offices,
                Customer Bank Communication Terminals (CBCT), Electronic Fund
                Transfer Units (EFTU), and Loan Production Offices Summary of
                Deposits information is required for each insured office located in
                any State, the District of Columbia, the Commonwealth of Puerto Rico
                or any U.S. territory or possession such as Guam or the U.S. Virgin
                Islands, without regard to the location of the main office.
              type: number
              x-source-mapping:
                - file: test
            OFFOA:
              title: Number of US Offices
              description: >-
                The number of offices operated by an FDIC-insured institution in all commonwealths and territories of the US, along with those in freely associated states under the Compact of Free Association
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: OFFOA
            OTSDIST:
              title: OTS District
              description: >-
                Office of Thrift Supervision (OTS) District - No longer used as of 7/21/11
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_OTS_DIST_CDE
            OTSREGNM:
              title: Office of Thrift Supervision Region
              description: >-
                Prior to 7/21/11, the Office of Thrift Supervision (OTS) Region in  which the institution is physically located. The five OTS Regions  and their respective states are: Northeast - Connecticut, Delaware,  Maine, Massachusetts, New Hampshire, New Jersey, New York,  Pennsylvania, Rhode Island, Vermont, West Virginia Southeast -  Alabama, District of Columbia, Florida, Georgia, Maryland, North  Carolina, Puerto Rico, South Carolina, U.S. Virgin Islands, Virginia  Central - Illinois, Indiana, Kentucky, Michigan, Ohio, Tennessee,  Wisconsin Midwest - Arkansas, Colorado, Iowa, Kansas, Louisiana,  Minnesota, Mississippi, Missouri, Nebraska, New Mexico, North  Dakota, Oklahoma, South Dakota, Texas West - Alaska, American Samoa,  Arizona, California, Guam, Hawaii, Idaho, Montana, Nevada, States of  Micronesia, Oregon, Utah, Washington, Wyoming
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: LOCN_OTS_DIST_DESC
            PARCERT:
              title: Directly owned by another bank (CERT)
              description: >-
                The PARCERT number identifies the subsidiary institutions parent
                certificate number. Beginning in March 1997, both the Thrift
                Financial Reports and Call Reports are completed on a fully
                consolidated basis.  Previously, the consolidation of subsidiary
                depository institutions was prohibited.  Now, parent institutions
                are required to file consolidated reports, while their subsidiary
                financial institutions are still required to file separate
                reports.
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: PARCERT
            PROCDATE:
              title: Last Structure Change Process Date
              description: >-
                A date indicating when an institution's change/event is processed.
              type: string
              format: date-time
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if(ctx.EVENTS !== null ) {
                          Date procDate = null;
                          for (int i = 0; i < ctx.EVENTS.length; ++i) {
                            if (ctx.EVENTS[i]?.EFFDATE == ctx.ORG_EFF_NUM_DTE && ctx.EVENTS[i]?.ENDEFYMD == ctx.ORG_END_NUM_DTE) {
                                SimpleDateFormat dateFormatIn = new SimpleDateFormat("yyyy-MM-dd'T'HH:mm:ss");
                                SimpleDateFormat dateFormatOut = new SimpleDateFormat("MM/dd/yyyy");
                                if(ctx.EVENTS[i].PROCDATE !== null) {
                                  Date formattedProcDate = dateFormatIn.parse(ctx.EVENTS[i].PROCDATE);

                                  if (procDate == null || formattedProcDate.after(procDate)) {
                                    String currentProcDate = dateFormatOut.format(formattedProcDate);
                                    ctx.PROCDATE = currentProcDate;
                                    ctx.DATEUPDT = currentProcDate;
                                  }
                                }

                            }
                          }
                        }
            QBPRCOML:
              title: Quarterly Banking Profile Commercial Bank Region
              description: >-
                The Quarterly Banking Profile (QBP) Commercial Bank Region in which
                the institution is physically located. Select from a drop down box.
                regional breakdown. group data by qbp region is only available for
                insured commercial banks and insured savings institutions and NOT
                All Insured Institutions, Insured Commercial Banks by asset size and
                Insured Savings Institutions by asset size.
              type: string
              x-source-mapping:
                - file: QBPRCOML
                  field: QBPRCOML
            REGAGNT:
              title: Primary Regulator
              description: >-
                A code indicating the federal regulatory agency that provides primary supervision over an institution. OCC=Office of the Comptroller of Currency; FDIC=Federal Deposit Insurance Corporation; FRB=Federal Reserve Board; NCUA=National Credit Union Association; OTS=Office of Thrift Supervision.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: AGY1_GOV_SPVRABNME
            REGAGENT2:
              title: Secondary Regulator
              description: >-
                A code indicating the federal regulatory agency that provides secondary supervision over an institution. CFPB = Consumer Financial Protection Bureau; OTS=Office of Thrift Supervision.
              type: string
              x-source-mapping:
                - file: VINST_FIN_CUR_SDC
                  field: AGY2_GOV_SPVRABNME
            REPDTE:
              title: Report Date
              description: The last day of the financial reporting period selected.
              type: string
              x-source-mapping:
                - formula:
                    type: date
                    parameters:
                      inputFormat: "yyyy-MM-dd'T'HH:mm:ss"
                      outputFormat: 'MM/dd/yyyy'
                      inputField: REPDTE_RAW
                      outputField: REPDTE
            RISDATE:
              title: Report Date
              description: The financial reporting period selected in CCYYMM format.
              type: string
              format: date-time
              x-source-mapping:
                - formula:
                    type: date
                    parameters:
                      inputFormat: "yyyy-MM-dd'T'HH:mm:ss"
                      outputFormat: 'MM/dd/yyyy'
                      inputField: REPDTE_RAW
                      outputField: RISDATE
            ROA:
              title: Return on assets (ROA)
              description: >-
                Net income after taxes and extraordinary items (annualized) as a
                percent of average total assets.
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: ROA
            ROAPTX:
              title: Pretax return on assets
              description: >-
                Annualized pre-tax net income as a percent of average assets. Note:
                Includes extraordinary items and other adjustments, net of taxes.
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: ROAPTX
            ROAPTXQ:
              title: Quarterly Pretax return on assets
              description: >-
                Quarterly pre-tax net income as a percent of average assets. Note:
                Includes extraordinary items and other adjustments, net of taxes.
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: ROAPTXQ
            ROAQ:
              title: Quarterly return on assets
              description: >-
                Quarterly net income after taxes and extraordinary items as a
                percent of average total assets.
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: ROAQ
            ROE:
              title: Return on Equity (ROE)
              description: >-
                Annualized net income as a percent of average equity on a
                consolidated basis.     Note: If retained earnings are  negative,
                the ratio is shown as NA.
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: ROE
            ROEQ:
              title: Quarterly return on equity
              description: >-
                Quarterly net income (including gains or losses on securities and
                extraordinary items) as a percentage of average total equity
                capital.
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: ROEQ
            RSSDHCR:
              title: RSSDID - High Regulatory Holder
              description: >-
                The unique number assigned by the Federal Reserve Board to the
                regulatory high holding company of the institution.
              type: string
              x-source-mapping:
                - file: RISVIEW
                  field: RSSDHCR
            RUNDATE:
              title: Run Date
              description: The day the institution information was updated.
              type: string
              format: date-time
              x-source-mapping:
                - formula:
                    type: simpleSetScript
                    parameters:
                      setField: 'RUNDATE'
                      script: 'new SimpleDateFormat("MM/dd/yyyy").format(new Date())'
            SASSER:
              title: Sasser Institutions
              description: >-
                OTS supervised savings associations that converted their charter to
                that of a commercial or savings bank.  Converted associations remain
                members of the SAIF, but they become subject to supervision by one
                of the three federal banking agencies. Not Applicable as of March
                31, 2006.
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if (ctx.LAW_SASSER_FLG?.toLowerCase() == 'y' ) {
                          ctx.SASSER = 1;
                        } else {
                          ctx.SASSER  = 0;
                        }
            SPECGRP:
              title: Asset Concentration Hierarchy
              description: >-
                An indicator of an institution's primary specialization in terms of
                asset concentration
              type: number
              x-source-mapping:
                - file: RISVIEW
                  field: SPECGRP
            SPECGRPN:
              title: Specialization Group
              description: >-
                Name associated with the numeric indicator (SPECGRP) of an
                institution's primary specialization in terms of asset concentration
              type: string
              x-source-mapping:
                - formula:
                    type: raw
                    parameters:
                      script: |
                        if (ctx.SPECGRP == 0) {
                          ctx.SPECGRPN = 'No Specialization Group';
                        }
                        else if (ctx.SPECGRP == 1) {
                          ctx.SPECGRPN = 'International Specialization';
                        }
                        else if (ctx.SPECGRP == 2) {
                          ctx.SPECGRPN = 'Agricultural Specialization';
                        }
                        else if (ctx.SPECGRP == 3) {
                          ctx.SPECGRPN = 'Credit-card Specialization';
                        }
                        else if (ctx.SPECGRP == 4) {
                          ctx.SPECGRPN = 'Commercial Lending Specialization';
                        }
                        else if (ctx.SPECGRP == 5) {
                          ctx.SPECGRPN = 'Mortgage Lending Specialization';
                        }
                        else if (ctx.SPECGRP == 6) {
                          ctx.SPECGRPN = 'Consumer Lending Specialization';
                        }
                        else if (ctx.SPECGRP == 7) {
                          ctx.SPECGRPN = 'Other Specialized Under 1 Billion';
                        }
                        else if (ctx.SPECGRP == 8) {
                          ctx.SPECGRPN = 'All Other Under 1 Billion';
                        }
                        else if (ctx.SPECGRP == 9) {
                          ctx.SPECGRPN = 'All Other Over 1 Billion';
                        }
                        else  {
[...]
