---
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
schemes:
  - https
swagger: '2.0'
host: api.stripe.com
info:
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  description: The Stripe REST API. Please see https://stripe.com/docs/api for more
    details.
  termsOfService: https://stripe.com/us/terms/
  title: Stripe API
  version: '2020-03-02'
  x-stripeSpecFilename: spec2
paths:
  "/v1/products":
    post:
      description: <p>Creates a new product object. To create a product for use with
        orders, see <a href="#create_product">Products</a>.</p>
      operationId: PostProducts
      parameters:
        - name: active
          in: formData
          required: false
          description: Whether the product is currently available for purchase.
            Defaults to `true`.
          type: boolean
        - name: attributes[]
          in: formData
          required: false
          description: A list of up to 5 alphanumeric attributes.
          type: string
        - name: caption
          in: formData
          required: false
          description: A short one-line description of the product, meant to be
            displayable to the customer. May only be set if type=`good`.
          type: string
        - name: deactivate_on[]
          in: formData
          required: false
          description: An array of Connect application names or identifiers that
            should not be able to order the SKUs for this product. May only be
            set if type=`good`.
          type: string
        - name: description
          in: formData
          required: false
          description: The product's description, meant to be displayable to the
            customer. Use this field to optionally store a long form explanation
            of the product being sold for your own rendering purposes.
          type: string
        - name: expand[]
          in: formData
          required: false
          description: Specifies which fields in the response should be expanded.
          type: string
          enum:
            - package_dimensions
        - name: id
          in: formData
          required: false
          description: An identifier will be randomly generated by Stripe. You
            can optionally override this ID, but the ID must be unique across
            all products in your Stripe account.
          type: string
        - name: images[]
          in: formData
          required: false
          description: A list of up to 8 URLs of images for this product, meant
            to be displayable to the customer.
          type: string
#        - name: metadata
#          in: formData
#          required: false
#          description: Set of key-value pairs that you can attach to an object.
#            This can be useful for storing additional information about the object
#            in a structured format. Individual keys can be unset by posting an
#            empty value to them. All keys can be unset by posting an empty value
#            to `metadata`.
#          type: object
        - name: name
          in: formData
          required: true
          description: The product's name, meant to be displayable to the customer.
            Whenever this product is sold via a subscription, name will show up
            on associated invoice line item descriptions.
          type: string
        - name: package_dimensions[height]
          in: formData
          required: false
          description: The dimensions of this product for shipping purposes.
          type: number
        - name: package_dimensions[length]
          in: formData
          required: false
          description: The dimensions of this product for shipping purposes.
          type: number
        - name: package_dimensions[weight]
          in: formData
          required: false
          description: The dimensions of this product for shipping purposes.
          type: number
        - name: package_dimensions[width]
          in: formData
          required: false
          description: The dimensions of this product for shipping purposes.
          type: number
        - name: shippable
          in: formData
          required: false
          description: Whether this product is shipped (i.e., physical goods).
            Defaults to `true`. May only be set if type=`good`.
          type: boolean
        - name: type
          in: formData
          required: false
          description: The type of the product. Defaults to `service` if not explicitly
            specified, enabling use of this product with Subscriptions and Plans.
            Set this parameter to `good` to use this product with Orders and SKUs.
            On API versions before `2018-02-05`, this field defaults to `good`
            for compatibility reasons.
          enum:
            - good
            - service
          type: string
        - name: unit_label
          in: formData
          required: false
          description: A label that represents units of this product in Stripe
            and on customers’ receipts and invoices. When set, this will be included
            in associated invoice line item descriptions.
          type: string
        - name: url
          in: formData
          required: false
          description: A URL of a publicly-accessible webpage for this product.
            May only be set if type=`good`.
          type: string
      x-dependencies:
        - IF caption THEN type=='good';
        - IF deactivate_on THEN type=='good';
        - IF package_dimensions[height] OR package_dimensions[length] OR package_dimensions[weight] OR package_dimensions[width] THEN type=='good';
        - AllOrNone(package_dimensions[height], package_dimensions[length], package_dimensions[weight], package_dimensions[width]);
        - IF shippable THEN type=='good';
        - IF url THEN type=='good';
#        - ZeroOrOne(statement_descriptor, type=='good'); # Unspecified dependency
#        - ZeroOrOne(unit_label, type=='good'); # Unspecified dependency
      responses:
        '200':
          description: Successful response.
          schema:
            "$ref": "#/definitions/product"
        default:
          description: Error response.
          schema:
            "$ref": "#/definitions/error"
definitions:
  account:
    description: |-
      This is an object representing a Stripe account. You can retrieve it to see
      properties on the account like its current e-mail address or if the account is
      enabled yet to make live charges.

      Some properties, marked below, are available only to platforms that want to
      [create and manage Express or Custom accounts](https://stripe.com/docs/connect/accounts).
    properties:
      business_profile:
        "$ref": "#/definitions/account_business_profile"
      business_type:
        description: The business type.
        enum:
          - company
          - government_entity
          - individual
          - non_profit
        type: string
      capabilities:
        "$ref": "#/definitions/account_capabilities"
      charges_enabled:
        description: Whether the account can create live charges.
        type: boolean
      company:
        "$ref": "#/definitions/legal_entity_company"
      country:
        description: The account's country.
        type: string
      created:
        description: Time at which the object was created. Measured in seconds since
          the Unix epoch.
        type: integer
      default_currency:
        description: Three-letter ISO currency code representing the default currency
          for the account. This must be a currency that [Stripe supports in the account's
          country](https://stripe.com/docs/payouts).
        type: string
      details_submitted:
        description: Whether account details have been submitted. Standard accounts
          cannot receive payouts before this is true.
        type: boolean
      email:
        description: The primary user's email address.
        type: string
      external_accounts:
        description: External accounts (bank accounts and debit cards) currently attached
          to this account
        properties:
          data:
            description: The list contains all external accounts that have been attached
              to the Stripe account. These may be bank accounts or cards.
            items:
              "$ref": "#/definitions/bank_account"
            type: array
          has_more:
            description: True if this list has another page of items after this one
              that can be fetched.
            type: boolean
          object:
            description: String representing the object's type. Objects of the same
              type share the same value. Always has the value `list`.
            enum:
              - list
            type: string
          url:
            description: The URL where this list can be accessed.
            type: string
        required:
          - data
          - has_more
          - object
          - url
        title: ExternalAccountList
        type: object
        x-expandableFields:
          - data
      id:
        description: Unique identifier for the object.
        type: string
      individual:
        "$ref": "#/definitions/person"
      metadata:
        description: Set of key-value pairs that you can attach to an object. This
          can be useful for storing additional information about the object in a structured
          format.
        type: object
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - account
        type: string
      payouts_enabled:
        description: Whether Stripe can send payouts to this account.
        type: boolean
      requirements:
        "$ref": "#/definitions/account_requirements"
      settings:
        "$ref": "#/definitions/account_settings"
      tos_acceptance:
        "$ref": "#/definitions/account_tos_acceptance"
      type:
        description: The Stripe account type. Can be `standard`, `express`, or `custom`.
        enum:
          - custom
          - express
          - standard
        type: string
    required:
      - id
      - object
    title: Account
    type: object
    x-expandableFields:
      - business_profile
      - capabilities
      - company
      - external_accounts
      - individual
      - requirements
      - settings
      - tos_acceptance
    x-resourceId: account
  account_branding_settings:
    description: ''
    properties:
      icon:
        description: "(ID of a [file upload](https://stripe.com/docs/guides/file-upload))
          An icon for the account. Must be square and at least 128px x 128px."
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/file"
      logo:
        description: "(ID of a [file upload](https://stripe.com/docs/guides/file-upload))
          A logo for the account that will be used in Checkout instead of the icon
          and without the account's name next to it if provided. Must be at least
          128px x 128px."
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/file"
      primary_color:
        description: A CSS hex color value representing the primary branding color
          for this account
        type: string
    title: AccountBrandingSettings
    type: object
    x-expandableFields:
      - icon
      - logo
  account_business_profile:
    description: ''
    properties:
      mcc:
        description: "[The merchant category code for the account](https://stripe.com/docs/connect/setting-mcc).
          MCCs are used to classify businesses based on the goods or services they
          provide."
        type: string
      name:
        description: The customer-facing business name.
        type: string
      product_description:
        description: Internal-only description of the product sold or service provided
          by the business. It's used by Stripe for risk and underwriting purposes.
        type: string
      support_address:
        "$ref": "#/definitions/address"
      support_email:
        description: A publicly available email address for sending support issues
          to.
        type: string
      support_phone:
        description: A publicly available phone number to call with support issues.
        type: string
      support_url:
        description: A publicly available website for handling support issues.
        type: string
      url:
        description: The business's publicly available website.
        type: string
    title: AccountBusinessProfile
    type: object
    x-expandableFields:
      - support_address
  account_capabilities:
    description: ''
    properties:
      card_issuing:
        description: The status of the card issuing capability of the account, or
          whether you can use Issuing to distribute funds on cards
        enum:
          - active
          - inactive
          - pending
        type: string
      card_payments:
        description: The status of the card payments capability of the account, or
          whether the account can directly process credit and debit card charges.
        enum:
          - active
          - inactive
          - pending
        type: string
      legacy_payments:
        description: The status of the legacy payments capability of the account.
        enum:
          - active
          - inactive
          - pending
        type: string
      transfers:
        description: The status of the transfers capability of the account, or whether
          your platform can transfer funds to the account.
        enum:
          - active
          - inactive
          - pending
        type: string
    title: AccountCapabilities
    type: object
    x-expandableFields: []
  account_capability_requirements:
    description: ''
    properties:
      current_deadline:
        description: The date the fields in `currently_due` must be collected by to
          keep the capability enabled for the account.
        type: integer
      currently_due:
        description: The fields that need to be collected to keep the capability enabled.
          If not collected by the `current_deadline`, these fields appear in `past_due`
          as well, and the capability is disabled.
        items:
          type: string
        type: array
      disabled_reason:
        description: If the capability is disabled, this string describes why. Possible
          values are `requirement.fields_needed`, `pending.onboarding`, `pending.review`,
          `rejected_fraud`, or `rejected.other`.
        type: string
      errors:
        description: The fields that need to be collected again because validation
          or verification failed for some reason.
        items:
          "$ref": "#/definitions/account_requirements_error"
        type: array
      eventually_due:
        description: The fields that need to be collected assuming all volume thresholds
          are reached. As they become required, these fields appear in `currently_due`
          as well, and the `current_deadline` is set.
        items:
          type: string
        type: array
      past_due:
        description: The fields that weren't collected by the `current_deadline`.
          These fields need to be collected to enable the capability for the account.
        items:
          type: string
        type: array
      pending_verification:
        description: Fields that may become required depending on the results of verification
          or review. An empty array unless an asynchronous verification is pending.
          If verification fails, the fields in this array become required and move
          to `currently_due` or `past_due`.
        items:
          type: string
        type: array
    required:
      - currently_due
      - eventually_due
      - past_due
      - pending_verification
    title: AccountCapabilityRequirements
    type: object
    x-expandableFields:
      - errors
  account_card_payments_settings:
    description: ''
    properties:
      decline_on:
        "$ref": "#/definitions/account_decline_charge_on"
      statement_descriptor_prefix:
        description: The default text that appears on credit card statements when
          a charge is made. This field prefixes any dynamic `statement_descriptor`
          specified on the charge. `statement_descriptor_prefix` is useful for maximizing
          descriptor space for the dynamic portion.
        type: string
    title: AccountCardPaymentsSettings
    type: object
    x-expandableFields:
      - decline_on
  account_dashboard_settings:
    description: ''
    properties:
      display_name:
        description: The display name for this account. This is used on the Stripe
          Dashboard to differentiate between accounts.
        type: string
      timezone:
        description: The timezone used in the Stripe Dashboard for this account. A
          list of possible time zone values is maintained at the [IANA Time Zone Database](http://www.iana.org/time-zones).
        type: string
    title: AccountDashboardSettings
    type: object
    x-expandableFields: []
  account_decline_charge_on:
    description: ''
    properties:
      avs_failure:
        description: Whether Stripe automatically declines charges with an incorrect
          ZIP or postal code. This setting only applies when a ZIP or postal code
          is provided and they fail bank verification.
        type: boolean
      cvc_failure:
        description: Whether Stripe automatically declines charges with an incorrect
          CVC. This setting only applies when a CVC is provided and it fails bank
          verification.
        type: boolean
    required:
      - avs_failure
      - cvc_failure
    title: AccountDeclineChargeOn
    type: object
    x-expandableFields: []
  account_link:
    description: |-
      Account Links are the means by which a Connect platform grants a connected account permission to access
      Stripe-hosted applications, such as Connect Onboarding.

      Related guide: [Connect Onboarding](https://stripe.com/docs/connect/connect-onboarding).
    properties:
      created:
        description: Time at which the object was created. Measured in seconds since
          the Unix epoch.
        type: integer
      expires_at:
        description: The timestamp at which this account link will expire.
        type: integer
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - account_link
        type: string
      url:
        description: The URL for the account link.
        type: string
    required:
      - created
      - expires_at
      - object
      - url
    title: AccountLink
    type: object
    x-expandableFields: []
    x-resourceId: account_link
  account_payments_settings:
    description: ''
    properties:
      statement_descriptor:
        description: The default text that appears on credit card statements when
          a charge is made. This field prefixes any dynamic `statement_descriptor`
          specified on the charge.
        type: string
      statement_descriptor_kana:
        description: The Kana variation of the default text that appears on credit
          card statements when a charge is made (Japan only)
        type: string
      statement_descriptor_kanji:
        description: The Kanji variation of the default text that appears on credit
          card statements when a charge is made (Japan only)
        type: string
    title: AccountPaymentsSettings
    type: object
    x-expandableFields: []
  account_payout_settings:
    description: ''
    properties:
      debit_negative_balances:
        description: A Boolean indicating if Stripe should try to reclaim negative
          balances from an attached bank account. See our [Understanding Connect Account
          Balances](https://stripe.com/docs/connect/account-balances) documentation
          for details. Default value is `true` for Express accounts and `false` for
          Custom accounts.
        type: boolean
      schedule:
        "$ref": "#/definitions/transfer_schedule"
      statement_descriptor:
        description: The text that appears on the bank account statement for payouts.
          If not set, this defaults to the platform's bank descriptor as set in the
          Dashboard.
        type: string
    required:
      - debit_negative_balances
      - schedule
    title: AccountPayoutSettings
    type: object
    x-expandableFields:
      - schedule
  account_requirements:
    description: ''
    properties:
      current_deadline:
        description: The date the fields in `currently_due` must be collected by to
          keep payouts enabled for the account. These fields might block payouts sooner
          if the next threshold is reached before these fields are collected.
        type: integer
      currently_due:
        description: The fields that need to be collected to keep the account enabled.
          If not collected by the `current_deadline`, these fields appear in `past_due`
          as well, and the account is disabled.
        items:
          type: string
        type: array
      disabled_reason:
        description: If the account is disabled, this string describes why the account
          can’t create charges or receive payouts. Can be `requirements.past_due`,
          `requirements.pending_verification`, `rejected.fraud`, `rejected.terms_of_service`,
          `rejected.listed`, `rejected.other`, `listed`, `under_review`, or `other`.
        type: string
      errors:
        description: The fields that need to be collected again because validation
          or verification failed for some reason.
        items:
          "$ref": "#/definitions/account_requirements_error"
        type: array
      eventually_due:
        description: The fields that need to be collected assuming all volume thresholds
          are reached. As they become required, these fields appear in `currently_due`
          as well, and the `current_deadline` is set.
        items:
          type: string
        type: array
      past_due:
        description: The fields that weren't collected by the `current_deadline`.
          These fields need to be collected to re-enable the account.
        items:
          type: string
        type: array
      pending_verification:
        description: Fields that may become required depending on the results of verification
          or review. An empty array unless an asynchronous verification is pending.
          If verification fails, the fields in this array become required and move
          to `currently_due` or `past_due`.
        items:
          type: string
        type: array
    title: AccountRequirements
    type: object
    x-expandableFields:
      - errors
  account_requirements_error:
    description: ''
    properties:
      code:
        description: The code for the type of error.
        enum:
          - invalid_address_city_state_postal_code
          - invalid_street_address
          - invalid_value_other
          - verification_document_address_mismatch
          - verification_document_address_missing
          - verification_document_corrupt
          - verification_document_country_not_supported
          - verification_document_dob_mismatch
          - verification_document_duplicate_type
          - verification_document_expired
          - verification_document_failed_copy
          - verification_document_failed_greyscale
          - verification_document_failed_other
          - verification_document_failed_test_mode
          - verification_document_fraudulent
          - verification_document_id_number_mismatch
          - verification_document_id_number_missing
          - verification_document_incomplete
          - verification_document_invalid
          - verification_document_manipulated
          - verification_document_missing_back
          - verification_document_missing_front
          - verification_document_name_mismatch
          - verification_document_name_missing
          - verification_document_nationality_mismatch
          - verification_document_not_readable
          - verification_document_not_uploaded
          - verification_document_photo_mismatch
          - verification_document_too_large
          - verification_document_type_not_supported
          - verification_failed_address_match
          - verification_failed_business_iec_number
          - verification_failed_document_match
          - verification_failed_id_number_match
          - verification_failed_keyed_identity
          - verification_failed_keyed_match
          - verification_failed_name_match
          - verification_failed_other
        type: string
      reason:
        description: An informative message that indicates the error type and provides
          additional details about the error.
        type: string
      requirement:
        description: The specific user onboarding requirement field (in the requirements
          hash) that needs to be resolved.
        type: string
    required:
      - code
      - reason
      - requirement
    title: AccountRequirementsError
    type: object
    x-expandableFields: []
  account_settings:
    description: ''
    properties:
      branding:
        "$ref": "#/definitions/account_branding_settings"
      card_payments:
        "$ref": "#/definitions/account_card_payments_settings"
      dashboard:
        "$ref": "#/definitions/account_dashboard_settings"
      payments:
        "$ref": "#/definitions/account_payments_settings"
      payouts:
        "$ref": "#/definitions/account_payout_settings"
    required:
      - branding
      - card_payments
      - dashboard
      - payments
    title: AccountSettings
    type: object
    x-expandableFields:
      - branding
      - card_payments
      - dashboard
      - payments
      - payouts
  account_tos_acceptance:
    description: ''
    properties:
      date:
        description: The Unix timestamp marking when the Stripe Services Agreement
          was accepted by the account representative
        type: integer
      ip:
        description: The IP address from which the Stripe Services Agreement was accepted
          by the account representative
        type: string
      user_agent:
        description: The user agent of the browser from which the Stripe Services
          Agreement was accepted by the account representative
        type: string
    title: AccountTOSAcceptance
    type: object
    x-expandableFields: []
  address:
    description: ''
    properties:
      city:
        description: City, district, suburb, town, or village.
        type: string
      country:
        description: Two-letter country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)).
        type: string
      line1:
        description: Address line 1 (e.g., street, PO Box, or company name).
        type: string
      line2:
        description: Address line 2 (e.g., apartment, suite, unit, or building).
        type: string
      postal_code:
        description: ZIP or postal code.
        type: string
      state:
        description: State, county, province, or region.
        type: string
    title: Address
    type: object
    x-expandableFields: []
  alipay_account:
    description: ''
    properties:
      created:
        description: Time at which the object was created. Measured in seconds since
          the Unix epoch.
        type: integer
      customer:
        description: The ID of the customer associated with this Alipay Account.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/customer"
            - "$ref": "#/definitions/deleted_customer"
      fingerprint:
        description: Uniquely identifies the account and will be the same across all
          Alipay account objects that are linked to the same Alipay account.
        type: string
      id:
        description: Unique identifier for the object.
        type: string
      livemode:
        description: Has the value `true` if the object exists in live mode or the
          value `false` if the object exists in test mode.
        type: boolean
      metadata:
        description: Set of key-value pairs that you can attach to an object. This
          can be useful for storing additional information about the object in a structured
          format.
        type: object
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - alipay_account
        type: string
      payment_amount:
        description: If the Alipay account object is not reusable, the exact amount
          that you can create a charge for.
        type: integer
      payment_currency:
        description: If the Alipay account object is not reusable, the exact currency
          that you can create a charge for.
        type: string
      reusable:
        description: True if you can create multiple payments using this account.
          If the account is reusable, then you can freely choose the amount of each
          payment.
        type: boolean
      used:
        description: Whether this Alipay account object has ever been used for a payment.
        type: boolean
      username:
        description: The username for the Alipay account.
        type: string
    required:
      - created
      - fingerprint
      - id
      - livemode
      - object
      - reusable
      - used
      - username
    title: AlipayAccount
    type: object
    x-expandableFields:
      - customer
    x-resourceId: alipay_account
  api_errors:
    description: ''
    properties:
      charge:
        description: For card errors, the ID of the failed charge.
        type: string
      code:
        description: For some errors that could be handled programmatically, a short
          string indicating the [error code](https://stripe.com/docs/error-codes)
          reported.
        type: string
      decline_code:
        description: For card errors resulting from a card issuer decline, a short
          string indicating the [card issuer's reason for the decline](https://stripe.com/docs/declines#issuer-declines)
          if they provide one.
        type: string
      doc_url:
        description: A URL to more information about the [error code](https://stripe.com/docs/error-codes)
          reported.
        type: string
      message:
        description: A human-readable message providing more details about the error.
          For card errors, these messages can be shown to your users.
        type: string
      param:
        description: If the error is parameter-specific, the parameter related to
          the error. For example, you can use this to display a message near the correct
          form field.
        type: string
      payment_intent:
        "$ref": "#/definitions/payment_intent"
      payment_method:
        "$ref": "#/definitions/payment_method"
      setup_intent:
        "$ref": "#/definitions/setup_intent"
      source:
        "$ref": "#/definitions/bank_account"
      type:
        description: The type of error returned. One of `api_connection_error`, `api_error`,
          `authentication_error`, `card_error`, `idempotency_error`, `invalid_request_error`,
          or `rate_limit_error`
        enum:
          - api_connection_error
          - api_error
          - authentication_error
          - card_error
          - idempotency_error
          - invalid_request_error
          - rate_limit_error
        type: string
    required:
      - type
    title: APIErrors
    type: object
    x-expandableFields:
      - payment_intent
      - payment_method
      - setup_intent
      - source
  apple_pay_domain:
    description: ''
    properties:
      created:
        description: Time at which the object was created. Measured in seconds since
          the Unix epoch.
        type: integer
      domain_name:
        type: string
      id:
        description: Unique identifier for the object.
        type: string
      livemode:
        description: Has the value `true` if the object exists in live mode or the
          value `false` if the object exists in test mode.
        type: boolean
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - apple_pay_domain
        type: string
    required:
      - created
      - domain_name
      - id
      - livemode
      - object
    title: ApplePayDomain
    type: object
    x-expandableFields: []
    x-resourceId: apple_pay_domain
  application:
    description: ''
    properties:
      id:
        description: Unique identifier for the object.
        type: string
      name:
        description: The name of the application.
        type: string
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - application
        type: string
    required:
      - id
      - object
    title: Application
    type: object
    x-expandableFields: []
  application_fee:
    description: ''
    properties:
      account:
        description: ID of the Stripe account this fee was taken from.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/account"
      amount:
        description: Amount earned, in %s.
        type: integer
      amount_refunded:
        description: Amount in %s refunded (can be less than the amount attribute
          on the fee if a partial refund was issued)
        type: integer
      application:
        description: ID of the Connect application that earned the fee.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/application"
      balance_transaction:
        description: Balance transaction that describes the impact of this collected
          application fee on your account balance (not including refunds).
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/balance_transaction"
      charge:
        description: ID of the charge that the application fee was taken from.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/charge"
      created:
        description: Time at which the object was created. Measured in seconds since
          the Unix epoch.
        type: integer
      currency:
        description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html),
          in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
        type: string
      id:
        description: Unique identifier for the object.
        type: string
      livemode:
        description: Has the value `true` if the object exists in live mode or the
          value `false` if the object exists in test mode.
        type: boolean
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - application_fee
        type: string
      originating_transaction:
        description: ID of the corresponding charge on the platform account, if this
          fee was the result of a charge using the `destination` parameter.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/charge"
      refunded:
        description: Whether the fee has been fully refunded. If the fee is only partially
          refunded, this attribute will still be false.
        type: boolean
      refunds:
        description: A list of refunds that have been applied to the fee.
        properties:
          data:
            description: Details about each object.
            items:
              "$ref": "#/definitions/fee_refund"
            type: array
          has_more:
            description: True if this list has another page of items after this one
              that can be fetched.
            type: boolean
          object:
            description: String representing the object's type. Objects of the same
              type share the same value. Always has the value `list`.
            enum:
              - list
            type: string
          url:
            description: The URL where this list can be accessed.
            type: string
        required:
          - data
          - has_more
          - object
          - url
        title: FeeRefundList
        type: object
        x-expandableFields:
          - data
    required:
      - account
      - amount
      - amount_refunded
      - application
      - charge
      - created
      - currency
      - id
      - livemode
      - object
      - refunded
      - refunds
    title: PlatformFee
    type: object
    x-expandableFields:
      - account
      - application
      - balance_transaction
      - charge
      - originating_transaction
      - refunds
    x-resourceId: application_fee
  balance:
    description: |-
      This is an object representing your Stripe balance. You can retrieve it to see
      the balance currently on your Stripe account.

      You can also retrieve the balance history, which contains a list of
      [transactions](https://stripe.com/docs/reporting/balance-transaction-types) that contributed to the balance
      (charges, payouts, and so forth).

      The available and pending amounts for each currency are broken down further by
      payment source types.

      Related guide: [Understanding Connect Account Balances](https://stripe.com/docs/connect/account-balances).
    properties:
      available:
        description: Funds that are available to be transferred or paid out, whether
          automatically by Stripe or explicitly via the [Transfers API](https://stripe.com/docs/api#transfers)
          or [Payouts API](https://stripe.com/docs/api#payouts). The available balance
          for each currency and payment type can be found in the `source_types` property.
        items:
          "$ref": "#/definitions/balance_amount"
        type: array
      connect_reserved:
        description: Funds held due to negative balances on connected Custom accounts.
          The connect reserve balance for each currency and payment type can be found
          in the `source_types` property.
        items:
          "$ref": "#/definitions/balance_amount"
        type: array
      livemode:
        description: Has the value `true` if the object exists in live mode or the
          value `false` if the object exists in test mode.
        type: boolean
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - balance
        type: string
      pending:
        description: Funds that are not yet available in the balance, due to the 7-day
          rolling pay cycle. The pending balance for each currency, and for each payment
          type, can be found in the `source_types` property.
        items:
          "$ref": "#/definitions/balance_amount"
        type: array
    required:
      - available
      - livemode
      - object
      - pending
    title: Balance
    type: object
    x-expandableFields:
      - available
      - connect_reserved
      - pending
    x-resourceId: balance
  balance_amount:
    description: ''
    properties:
      amount:
        description: Balance amount.
        type: integer
      currency:
        description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html),
          in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
        type: string
      source_types:
        "$ref": "#/definitions/balance_amount_by_source_type"
    required:
      - amount
      - currency
    title: BalanceAmount
    type: object
    x-expandableFields:
      - source_types
  balance_amount_by_source_type:
    description: ''
    properties:
      bank_account:
        description: Amount for bank account.
        type: integer
      card:
        description: Amount for card.
        type: integer
      fpx:
        description: Amount for FPX.
        type: integer
    title: BalanceAmountBySourceType
    type: object
    x-expandableFields: []
  balance_transaction:
    description: |-
      Balance transactions represent funds moving through your Stripe account.
      They're created for every type of transaction that comes into or flows out of your Stripe account balance.

      Related guide: [Balance Transaction Types](https://stripe.com/docs/reports/balance-transaction-types).
    properties:
      amount:
        description: Gross amount of the transaction, in %s.
        type: integer
      available_on:
        description: The date the transaction's net funds will become available in
          the Stripe balance.
        type: integer
      created:
        description: Time at which the object was created. Measured in seconds since
          the Unix epoch.
        type: integer
      currency:
        description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html),
          in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
        type: string
      description:
        description: An arbitrary string attached to the object. Often useful for
          displaying to users.
        type: string
      exchange_rate:
        description: The exchange rate used, if applicable, for this transaction.
          Specifically, if money was converted from currency A to currency B, then
          the `amount` in currency A, times `exchange_rate`, would be the `amount`
          in currency B. For example, suppose you charged a customer 10.00 EUR. Then
          the PaymentIntent's `amount` would be `1000` and `currency` would be `eur`.
          Suppose this was converted into 12.34 USD in your Stripe account. Then the
          BalanceTransaction's `amount` would be `1234`, `currency` would be `usd`,
          and `exchange_rate` would be `1.234`.
        type: number
      fee:
        description: Fees (in %s) paid for this transaction.
        type: integer
      fee_details:
        description: Detailed breakdown of fees (in %s) paid for this transaction.
        items:
          "$ref": "#/definitions/fee"
        type: array
      id:
        description: Unique identifier for the object.
        type: string
      net:
        description: Net amount of the transaction, in %s.
        type: integer
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - balance_transaction
        type: string
      reporting_category:
        description: "[Learn more](https://stripe.com/docs/reports/reporting-categories)
          about how reporting categories can help you understand balance transactions
          from an accounting perspective."
        type: string
      source:
        description: The Stripe object to which this transaction is related.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/application_fee"
            - "$ref": "#/definitions/charge"
            - "$ref": "#/definitions/connect_collection_transfer"
            - "$ref": "#/definitions/dispute"
            - "$ref": "#/definitions/fee_refund"
            - "$ref": "#/definitions/issuing.authorization"
            - "$ref": "#/definitions/issuing.transaction"
            - "$ref": "#/definitions/payout"
            - "$ref": "#/definitions/platform_tax_fee"
            - "$ref": "#/definitions/refund"
            - "$ref": "#/definitions/reserve_transaction"
            - "$ref": "#/definitions/tax_deducted_at_source"
            - "$ref": "#/definitions/topup"
            - "$ref": "#/definitions/transfer"
            - "$ref": "#/definitions/transfer_reversal"
      status:
        description: If the transaction's net funds are available in the Stripe balance
          yet. Either `available` or `pending`.
        type: string
      type:
        description: 'Transaction type: `adjustment`, `advance`, `advance_funding`,
          `application_fee`, `application_fee_refund`, `charge`, `connect_collection_transfer`,
          `issuing_authorization_hold`, `issuing_authorization_release`, `issuing_transaction`,
          `payment`, `payment_failure_refund`, `payment_refund`, `payout`, `payout_cancel`,
          `payout_failure`, `refund`, `refund_failure`, `reserve_transaction`, `reserved_funds`,
          `stripe_fee`, `stripe_fx_fee`, `tax_fee`, `topup`, `topup_reversal`, `transfer`,
          `transfer_cancel`, `transfer_failure`, or `transfer_refund`. [Learn more](https://stripe.com/docs/reports/balance-transaction-types)
          about balance transaction types and what they represent. If you are looking
          to classify transactions for accounting purposes, you might want to consider
          `reporting_category` instead.'
        enum:
          - adjustment
          - advance
          - advance_funding
          - application_fee
          - application_fee_refund
          - charge
          - connect_collection_transfer
          - issuing_authorization_hold
          - issuing_authorization_release
          - issuing_transaction
          - payment
          - payment_failure_refund
          - payment_refund
          - payout
          - payout_cancel
          - payout_failure
          - refund
          - refund_failure
          - reserve_transaction
          - reserved_funds
          - stripe_fee
          - stripe_fx_fee
          - tax_fee
          - topup
          - topup_reversal
          - transfer
          - transfer_cancel
          - transfer_failure
          - transfer_refund
        type: string
    required:
      - amount
      - available_on
      - created
      - currency
      - fee
      - fee_details
      - id
      - net
      - object
      - reporting_category
      - status
      - type
    title: BalanceTransaction
    type: object
    x-expandableFields:
      - fee_details
      - source
    x-resourceId: balance_transaction
  bank_account:
    description: |-
      These bank accounts are payment methods on `Customer` objects.

      On the other hand [External Accounts](https://stripe.com/docs/api#external_accounts) are transfer
      destinations on `Account` objects for [Custom accounts](https://stripe.com/docs/connect/custom-accounts).
      They can be bank accounts or debit cards as well, and are documented in the links above.

      Related guide: [Processing ACH & Bank Transfers](https://stripe.com/docs/payments/ach-bank-transfers).
    properties:
      account:
        description: The ID of the account that the bank account is associated with.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/account"
      account_holder_name:
        description: The name of the person or business that owns the bank account.
        type: string
      account_holder_type:
        description: The type of entity that holds the account. This can be either
          `individual` or `company`.
        type: string
      bank_name:
        description: Name of the bank associated with the routing number (e.g., `WELLS
          FARGO`).
        type: string
      country:
        description: Two-letter ISO code representing the country the bank account
          is located in.
        type: string
      currency:
        description: Three-letter [ISO code for the currency](https://stripe.com/docs/payouts)
          paid out to the bank account.
        type: string
      customer:
        description: The ID of the customer that the bank account is associated with.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/customer"
            - "$ref": "#/definitions/deleted_customer"
      default_for_currency:
        description: Whether this bank account is the default external account for
          its currency.
        type: boolean
      fingerprint:
        description: Uniquely identifies this particular bank account. You can use
          this attribute to check whether two bank accounts are the same.
        type: string
      id:
        description: Unique identifier for the object.
        type: string
      last4:
        description: The last four digits of the bank account number.
        type: string
      metadata:
        description: Set of key-value pairs that you can attach to an object. This
          can be useful for storing additional information about the object in a structured
          format.
        type: object
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - bank_account
        type: string
      routing_number:
        description: The routing transit number for the bank account.
        type: string
      status:
        description: |-
          For bank accounts, possible values are `new`, `validated`, `verified`, `verification_failed`, or `errored`. A bank account that hasn't had any activity or validation performed is `new`. If Stripe can determine that the bank account exists, its status will be `validated`. Note that there often isn’t enough information to know (e.g., for smaller credit unions), and the validation is not always run. If customer bank account verification has succeeded, the bank account status will be `verified`. If the verification failed for any reason, such as microdeposit failure, the status will be `verification_failed`. If a transfer sent to this bank account fails, we'll set the status to `errored` and will not continue to send transfers until the bank details are updated.

          For external accounts, possible values are `new` and `errored`. Validations aren't run against external accounts because they're only used for payouts. This means the other statuses don't apply. If a transfer fails, the status is set to `errored` and transfers are stopped until account details are updated.
        type: string
    required:
      - country
      - currency
      - id
      - last4
      - object
      - status
    title: BankAccount
    type: object
    x-expandableFields:
      - account
      - customer
    x-resourceId: bank_account
  billing_details:
    description: ''
    properties:
      address:
        "$ref": "#/definitions/address"
      email:
        description: Email address.
        type: string
      name:
        description: Full name.
        type: string
      phone:
        description: Billing phone number (including extension).
        type: string
    title: billing_details
    type: object
    x-expandableFields:
      - address
  bitcoin_receiver:
    description: ''
    properties:
      active:
        description: True when this bitcoin receiver has received a non-zero amount
          of bitcoin.
        type: boolean
      amount:
        description: The amount of `currency` that you are collecting as payment.
        type: integer
      amount_received:
        description: The amount of `currency` to which `bitcoin_amount_received` has
          been converted.
        type: integer
      bitcoin_amount:
        description: 'The amount of bitcoin that the customer should send to fill
          the receiver. The `bitcoin_amount` is denominated in Satoshi: there are
          10^8 Satoshi in one bitcoin.'
        type: integer
      bitcoin_amount_received:
        description: The amount of bitcoin that has been sent by the customer to this
          receiver.
        type: integer
      bitcoin_uri:
        description: This URI can be displayed to the customer as a clickable link
          (to activate their bitcoin client) or as a QR code (for mobile wallets).
        type: string
      created:
        description: Time at which the object was created. Measured in seconds since
          the Unix epoch.
        type: integer
      currency:
        description: Three-letter [ISO code for the currency](https://stripe.com/docs/currencies)
          to which the bitcoin will be converted.
        type: string
      customer:
        description: The customer ID of the bitcoin receiver.
        type: string
      description:
        description: An arbitrary string attached to the object. Often useful for
          displaying to users.
        type: string
      email:
        description: The customer's email address, set by the API call that creates
          the receiver.
        type: string
      filled:
        description: This flag is initially false and updates to true when the customer
          sends the `bitcoin_amount` to this receiver.
        type: boolean
      id:
        description: Unique identifier for the object.
        type: string
      inbound_address:
        description: A bitcoin address that is specific to this receiver. The customer
          can send bitcoin to this address to fill the receiver.
        type: string
      livemode:
        description: Has the value `true` if the object exists in live mode or the
          value `false` if the object exists in test mode.
        type: boolean
      metadata:
        description: Set of key-value pairs that you can attach to an object. This
          can be useful for storing additional information about the object in a structured
          format.
        type: object
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - bitcoin_receiver
        type: string
      payment:
        description: The ID of the payment created from the receiver, if any. Hidden
          when viewing the receiver with a publishable key.
        type: string
      refund_address:
        description: The refund address of this bitcoin receiver.
        type: string
      transactions:
        description: A list with one entry for each time that the customer sent bitcoin
          to the receiver. Hidden when viewing the receiver with a publishable key.
        properties:
          data:
            description: Details about each object.
            items:
              "$ref": "#/definitions/bitcoin_transaction"
            type: array
          has_more:
            description: True if this list has another page of items after this one
              that can be fetched.
            type: boolean
          object:
            description: String representing the object's type. Objects of the same
              type share the same value. Always has the value `list`.
            enum:
              - list
            type: string
          url:
            description: The URL where this list can be accessed.
            type: string
        required:
          - data
          - has_more
          - object
          - url
        title: BitcoinTransactionList
        type: object
        x-expandableFields:
          - data
      uncaptured_funds:
        description: This receiver contains uncaptured funds that can be used for
          a payment or refunded.
        type: boolean
      used_for_payment:
        description: Indicate if this source is used for payment.
        type: boolean
    required:
      - active
      - amount
      - amount_received
      - bitcoin_amount
      - bitcoin_amount_received
      - bitcoin_uri
      - created
      - currency
      - filled
      - id
      - inbound_address
      - livemode
      - metadata
      - object
      - uncaptured_funds
    title: BitcoinReceiver
    type: object
    x-expandableFields:
      - transactions
    x-resourceId: bitcoin_receiver
  bitcoin_transaction:
    description: ''
    properties:
      amount:
        description: The amount of `currency` that the transaction was converted to
          in real-time.
        type: integer
      bitcoin_amount:
        description: The amount of bitcoin contained in the transaction.
        type: integer
      created:
        description: Time at which the object was created. Measured in seconds since
          the Unix epoch.
        type: integer
      currency:
        description: Three-letter [ISO code for the currency](https://stripe.com/docs/currencies)
          to which this transaction was converted.
        type: string
      id:
        description: Unique identifier for the object.
        type: string
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - bitcoin_transaction
        type: string
      receiver:
        description: The receiver to which this transaction was sent.
        type: string
    required:
      - amount
      - bitcoin_amount
      - created
      - currency
      - id
      - object
      - receiver
    title: BitcoinTransaction
    type: object
    x-expandableFields: []
    x-resourceId: bitcoin_transaction
  capability:
    description: |-
      This is an object representing a capability for a Stripe account.

      Related guide: [Capabilities Overview](https://stripe.com/docs/connect/capabilities-overview).
    properties:
      account:
        description: The account for which the capability enables functionality.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/account"
      id:
        description: The identifier for the capability.
        type: string
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - capability
        type: string
      requested:
        description: Whether the capability has been requested.
        type: boolean
      requested_at:
        description: Time at which the capability was requested. Measured in seconds
          since the Unix epoch.
        type: integer
      requirements:
        "$ref": "#/definitions/account_capability_requirements"
      status:
        description: The status of the capability. Can be `active`, `inactive`, `pending`,
          or `unrequested`.
        enum:
          - active
          - disabled
          - inactive
          - pending
          - unrequested
        type: string
    required:
      - account
      - id
      - object
      - requested
      - status
    title: AccountCapability
    type: object
    x-expandableFields:
      - account
      - requirements
    x-resourceId: capability
  card:
    description: |-
      You can store multiple cards on a customer in order to charge the customer
      later. You can also store multiple debit cards on a recipient in order to
      transfer to those cards later.

      Related guide: [Card Payments with Sources](https://stripe.com/docs/sources/cards).
    properties:
      account:
        description: The account this card belongs to. This attribute will not be
          in the card object if the card belongs to a customer or recipient instead.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/account"
      address_city:
        description: City/District/Suburb/Town/Village.
        type: string
      address_country:
        description: Billing address country, if provided when creating card.
        type: string
      address_line1:
        description: Address line 1 (Street address/PO Box/Company name).
        type: string
      address_line1_check:
        description: 'If `address_line1` was provided, results of the check: `pass`,
          `fail`, `unavailable`, or `unchecked`.'
        type: string
      address_line2:
        description: Address line 2 (Apartment/Suite/Unit/Building).
        type: string
      address_state:
        description: State/County/Province/Region.
        type: string
      address_zip:
        description: ZIP or postal code.
        type: string
      address_zip_check:
        description: 'If `address_zip` was provided, results of the check: `pass`,
          `fail`, `unavailable`, or `unchecked`.'
        type: string
      available_payout_methods:
        description: A set of available payout methods for this card. Will be either
          `["standard"]` or `["standard", "instant"]`. Only values from this set should
          be passed as the `method` when creating a transfer.
        items:
          enum:
            - instant
            - standard
          type: string
        type: array
      brand:
        description: Card brand. Can be `American Express`, `Diners Club`, `Discover`,
          `JCB`, `MasterCard`, `UnionPay`, `Visa`, or `Unknown`.
        type: string
      country:
        description: Two-letter ISO code representing the country of the card. You
          could use this attribute to get a sense of the international breakdown of
          cards you've collected.
        type: string
      currency:
        type: string
      customer:
        description: The customer that this card belongs to. This attribute will not
          be in the card object if the card belongs to an account or recipient instead.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/customer"
            - "$ref": "#/definitions/deleted_customer"
      cvc_check:
        description: 'If a CVC was provided, results of the check: `pass`, `fail`,
          `unavailable`, or `unchecked`.'
        type: string
      default_for_currency:
        description: Whether this card is the default external account for its currency.
        type: boolean
      dynamic_last4:
        description: "(For tokenized numbers only.) The last four digits of the device
          account number."
        type: string
      exp_month:
        description: Two-digit number representing the card's expiration month.
        type: integer
      exp_year:
        description: Four-digit number representing the card's expiration year.
        type: integer
      fingerprint:
        description: Uniquely identifies this particular card number. You can use
          this attribute to check whether two customers who've signed up with you
          are using the same card number, for example.
        type: string
      funding:
        description: Card funding type. Can be `credit`, `debit`, `prepaid`, or `unknown`.
        type: string
      id:
        description: Unique identifier for the object.
        type: string
      last4:
        description: The last four digits of the card.
        type: string
      metadata:
        description: Set of key-value pairs that you can attach to an object. This
          can be useful for storing additional information about the object in a structured
          format.
        type: object
      name:
        description: Cardholder name.
        type: string
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - card
        type: string
      recipient:
        description: The recipient that this card belongs to. This attribute will
          not be in the card object if the card belongs to a customer or account instead.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/recipient"
      tokenization_method:
        description: If the card number is tokenized, this is the method that was
          used. Can be `amex_express_checkout`, `android_pay` (includes Google Pay),
          `apple_pay`, `masterpass`, `visa_checkout`, or null.
        type: string
    required:
      - brand
      - exp_month
      - exp_year
      - funding
      - id
      - last4
      - metadata
      - object
    title: Card
    type: object
    x-expandableFields:
      - account
      - customer
      - recipient
    x-resourceId: card
  card_mandate_payment_method_details:
    description: ''
    properties: {}
    title: card_mandate_payment_method_details
    type: object
    x-expandableFields: []
  charge:
    description: |-
      To charge a credit or a debit card, you create a `Charge` object. You can
      retrieve and refund individual charges as well as list all charges. Charges
      are identified by a unique, random ID.

      Related guide: [Accept a payment with the Charges API](https://stripe.com/docs/payments/accept-a-payment-charges).
    properties:
      amount:
        description: Amount intended to be collected by this PaymentIntent. A positive
          integer representing how much to charge in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal)
          (e.g., 100 cents to charge $1.00 or 100 to charge ¥100, a zero-decimal currency).
          The minimum amount is $0.50 US or [equivalent in charge currency](https://stripe.com/docs/currencies#minimum-and-maximum-charge-amounts).
          The amount value supports up to eight digits (e.g., a value of 99999999
          for a USD charge of $999,999.99).
        type: integer
      amount_refunded:
        description: Amount in %s refunded (can be less than the amount attribute
          on the charge if a partial refund was issued).
        type: integer
      application:
        description: ID of the Connect application that created the charge.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/application"
      application_fee:
        description: The application fee (if any) for the charge. [See the Connect
          documentation](https://stripe.com/docs/connect/direct-charges#collecting-fees)
          for details.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/application_fee"
      application_fee_amount:
        description: The amount of the application fee (if any) for the charge. [See
          the Connect documentation](https://stripe.com/docs/connect/direct-charges#collecting-fees)
          for details.
        type: integer
      balance_transaction:
        description: ID of the balance transaction that describes the impact of this
          charge on your account balance (not including refunds or disputes).
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/balance_transaction"
      billing_details:
        "$ref": "#/definitions/billing_details"
      captured:
        description: If the charge was created without capturing, this Boolean represents
          whether it is still uncaptured or has since been captured.
        type: boolean
      created:
        description: Time at which the object was created. Measured in seconds since
          the Unix epoch.
        type: integer
      currency:
        description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html),
          in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
        type: string
      customer:
        description: ID of the customer this charge is for if one exists.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/customer"
            - "$ref": "#/definitions/deleted_customer"
      description:
        description: An arbitrary string attached to the object. Often useful for
          displaying to users.
        type: string
      disputed:
        description: Whether the charge has been disputed.
        type: boolean
      failure_code:
        description: Error code explaining reason for charge failure if available
          (see [the errors section](https://stripe.com/docs/api#errors) for a list
          of codes).
        type: string
      failure_message:
        description: Message to user further explaining reason for charge failure
          if available.
        type: string
      fraud_details:
        "$ref": "#/definitions/charge_fraud_details"
      id:
        description: Unique identifier for the object.
        type: string
      invoice:
        description: ID of the invoice this charge is for if one exists.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/invoice"
      livemode:
        description: Has the value `true` if the object exists in live mode or the
          value `false` if the object exists in test mode.
        type: boolean
      metadata:
        description: Set of key-value pairs that you can attach to an object. This
          can be useful for storing additional information about the object in a structured
          format.
        type: object
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - charge
        type: string
      on_behalf_of:
        description: The account (if any) the charge was made on behalf of without
          triggering an automatic transfer. See the [Connect documentation](https://stripe.com/docs/connect/charges-transfers)
          for details.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/account"
      order:
        description: ID of the order this charge is for if one exists.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/order"
      outcome:
        "$ref": "#/definitions/charge_outcome"
      paid:
        description: "`true` if the charge succeeded, or was successfully authorized
          for later capture."
        type: boolean
      payment_intent:
        description: ID of the PaymentIntent associated with this charge, if one exists.
        type: string
      payment_method:
        description: ID of the payment method used in this charge.
        type: string
      payment_method_details:
        "$ref": "#/definitions/payment_method_details"
      receipt_email:
        description: This is the email address that the receipt for this charge was
          sent to.
        type: string
      receipt_number:
        description: This is the transaction number that appears on email receipts
          sent for this charge. This attribute will be `null` until a receipt has
          been sent.
        type: string
      receipt_url:
        description: This is the URL to view the receipt for this charge. The receipt
          is kept up-to-date to the latest state of the charge, including any refunds.
          If the charge is for an Invoice, the receipt will be stylized as an Invoice
          receipt.
        type: string
      refunded:
        description: Whether the charge has been fully refunded. If the charge is
          only partially refunded, this attribute will still be false.
        type: boolean
      refunds:
        description: A list of refunds that have been applied to the charge.
        properties:
          data:
            description: Details about each object.
            items:
              "$ref": "#/definitions/refund"
            type: array
          has_more:
            description: True if this list has another page of items after this one
              that can be fetched.
            type: boolean
          object:
            description: String representing the object's type. Objects of the same
              type share the same value. Always has the value `list`.
            enum:
              - list
            type: string
          url:
            description: The URL where this list can be accessed.
            type: string
        required:
          - data
          - has_more
          - object
          - url
        title: RefundList
        type: object
        x-expandableFields:
          - data
      review:
        description: ID of the review associated with this charge if one exists.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/review"
      shipping:
        "$ref": "#/definitions/shipping"
      source_transfer:
        description: The transfer ID which created this charge. Only present if the
          charge came from another Stripe account. [See the Connect documentation](https://stripe.com/docs/connect/destination-charges)
          for details.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/transfer"
      statement_descriptor:
        description: For card charges, use `statement_descriptor_suffix` instead.
          Otherwise, you can use this value as the complete description of a charge
          on your customers’ statements. Must contain at least one letter, maximum
          22 characters.
        type: string
      statement_descriptor_suffix:
        description: Provides information about the charge that customers see on their
          statements. Concatenated with the prefix (shortened descriptor) or statement
          descriptor that’s set on the account to form the complete statement descriptor.
          Maximum 22 characters for the concatenated descriptor.
        type: string
      status:
        description: The status of the payment is either `succeeded`, `pending`, or
          `failed`.
        type: string
      transfer:
        description: ID of the transfer to the `destination` account (only applicable
          if the charge was created using the `destination` parameter).
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/transfer"
      transfer_data:
        "$ref": "#/definitions/charge_transfer_data"
      transfer_group:
        description: A string that identifies this transaction as part of a group.
          See the [Connect documentation](https://stripe.com/docs/connect/charges-transfers#transfer-options)
          for details.
        type: string
    required:
      - amount
      - amount_refunded
      - billing_details
      - captured
      - created
      - currency
      - disputed
      - id
      - livemode
      - metadata
      - object
      - paid
      - receipt_url
      - refunded
      - refunds
      - status
    title: Charge
    type: object
    x-expandableFields:
      - application
      - application_fee
      - balance_transaction
      - billing_details
      - customer
      - fraud_details
      - invoice
      - on_behalf_of
      - order
      - outcome
      - payment_method_details
      - refunds
      - review
      - shipping
      - source_transfer
      - transfer
      - transfer_data
    x-resourceId: charge
  charge_fraud_details:
    description: ''
    properties:
      stripe_report:
        description: Assessments from Stripe. If set, the value is `fraudulent`.
        type: string
      user_report:
        description: Assessments reported by you. If set, possible values of are `safe`
          and `fraudulent`.
        type: string
    title: ChargeFraudDetails
    type: object
    x-expandableFields: []
  charge_outcome:
    description: ''
    properties:
      network_status:
        description: Possible values are `approved_by_network`, `declined_by_network`,
          `not_sent_to_network`, and `reversed_after_approval`. The value `reversed_after_approval`
          indicates the payment was [blocked by Stripe](https://stripe.com/docs/declines#blocked-payments)
          after bank authorization, and may temporarily appear as "pending" on a cardholder's
          statement.
        type: string
      reason:
        description: An enumerated value providing a more detailed explanation of
          the outcome's `type`. Charges blocked by Radar's default block rule have
          the value `highest_risk_level`. Charges placed in review by Radar's default
          review rule have the value `elevated_risk_level`. Charges authorized, blocked,
          or placed in review by custom rules have the value `rule`. See [understanding
          declines](https://stripe.com/docs/declines) for more details.
        type: string
      risk_level:
        description: Stripe's evaluation of the riskiness of the payment. Possible
          values for evaluated payments are `normal`, `elevated`, `highest`. For non-card
          payments, and card-based payments predating the public assignment of risk
          levels, this field will have the value `not_assessed`. In the event of an
          error in the evaluation, this field will have the value `unknown`.
        type: string
      risk_score:
        description: Stripe's evaluation of the riskiness of the payment. Possible
          values for evaluated payments are between 0 and 100. For non-card payments,
          card-based payments predating the public assignment of risk scores, or in
          the event of an error during evaluation, this field will not be present.
          This field is only available with Radar for Fraud Teams.
        type: integer
      rule:
        description: The ID of the Radar rule that matched the payment, if applicable.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/rule"
      seller_message:
        description: A human-readable description of the outcome type and reason,
          designed for you (the recipient of the payment), not your customer.
        type: string
      type:
        description: Possible values are `authorized`, `manual_review`, `issuer_declined`,
          `blocked`, and `invalid`. See [understanding declines](https://stripe.com/docs/declines)
          and [Radar reviews](https://stripe.com/docs/radar/reviews) for details.
        type: string
    required:
      - type
    title: ChargeOutcome
    type: object
    x-expandableFields:
      - rule
  charge_transfer_data:
    description: ''
    properties:
      amount:
        description: The amount transferred to the destination account, if specified.
          By default, the entire charge amount is transferred to the destination account.
        type: integer
      destination:
        description: ID of an existing, connected Stripe account to transfer funds
          to if `transfer_data` was specified in the charge request.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/account"
    required:
      - destination
    title: ChargeTransferData
    type: object
    x-expandableFields:
      - destination
  checkout.session:
    description: |-
      A Checkout Session represents your customer's session as they pay for
      one-time purchases or subscriptions through [Checkout](https://stripe.com/docs/payments/checkout).
      We recommend creating a new Session each time your customer attempts to pay.

      Once payment is successful, the Checkout Session will contain a reference
      to the [Customer](https://stripe.com/docs/api/customers), and either the successful
      [PaymentIntent](https://stripe.com/docs/api/payment_intents) or an active
      [Subscription](https://stripe.com/docs/api/subscriptions).

      You can create a Checkout Session on your server and pass its ID to the
      client to begin Checkout.

      Related guide: [Checkout Server Quickstart](https://stripe.com/docs/payments/checkout/api).
    properties:
      billing_address_collection:
        description: |-
          The value (`auto` or `required`) for whether Checkout collected the
          customer's billing address.
        type: string
      cancel_url:
        description: The URL the customer will be directed to if they decide to cancel
          payment and return to your website.
        type: string
      client_reference_id:
        description: |-
          A unique string to reference the Checkout Session. This can be a
          customer ID, a cart ID, or similar, and can be used to reconcile the
          session with your internal systems.
        type: string
      customer:
        description: |-
          The ID of the customer for this session.
          For Checkout Sessions in `payment` or `subscription` mode, Checkout
          will create a new customer object based on information provided
          during the session unless an existing customer was provided when
          the session was created.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/customer"
      customer_email:
        description: |-
          If provided, this value will be used when the Customer object is created.
          If not provided, customers will be asked to enter their email address.
          Use this parameter to prefill customer data if you already have an email
          on file. To access information about the customer once a session is
          complete, use the `customer` field.
        type: string
      display_items:
        description: The line items, plans, or SKUs purchased by the customer.
        items:
          "$ref": "#/definitions/checkout_session_display_item"
        type: array
      id:
        description: |-
          Unique identifier for the object. Used to pass to `redirectToCheckout`
          in Stripe.js.
        type: string
      livemode:
        description: Has the value `true` if the object exists in live mode or the
          value `false` if the object exists in test mode.
        type: boolean
      locale:
        description: The IETF language tag of the locale Checkout is displayed in.
          If blank or `auto`, the browser's locale is used.
        enum:
          - auto
          - da
          - de
          - en
          - es
          - fi
          - fr
          - it
          - ja
          - ms
          - nb
          - nl
          - pl
          - pt
          - sv
          - zh
        type: string
      metadata:
        description: Set of key-value pairs that you can attach to an object. This
          can be useful for storing additional information about the object in a structured
          format.
        type: object
      mode:
        description: The mode of the Checkout Session, one of `payment`, `setup`,
          or `subscription`.
        enum:
          - payment
          - setup
          - subscription
        type: string
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - checkout.session
        type: string
      payment_intent:
        description: The ID of the PaymentIntent for Checkout Sessions in `payment`
          mode.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/payment_intent"
      payment_method_types:
        description: |-
          A list of the types of payment methods (e.g. card) this Checkout
          Session is allowed to accept.
        items:
          type: string
        type: array
      setup_intent:
        description: The ID of the SetupIntent for Checkout Sessions in `setup` mode.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/setup_intent"
      submit_type:
        description: |-
          Describes the type of transaction being performed by Checkout in order to customize
          relevant text on the page, such as the submit button. `submit_type` can only be
          specified on Checkout Sessions in `payment` mode, but not Checkout Sessions
          in `subscription` or `setup` mode.
        enum:
          - auto
          - book
          - donate
          - pay
        type: string
      subscription:
        description: The ID of the subscription for Checkout Sessions in `subscription`
          mode.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/subscription"
      success_url:
        description: |-
          The URL the customer will be directed to after the payment or
          subscription creation is successful.
        type: string
    required:
      - cancel_url
      - id
      - livemode
      - object
      - payment_method_types
      - success_url
    title: Session
    type: object
    x-expandableFields:
      - customer
      - display_items
      - payment_intent
      - setup_intent
      - subscription
    x-resourceId: checkout.session
  checkout_session_custom_display_item_description:
    description: ''
    properties:
      description:
        description: The description of the line item.
        type: string
      images:
        description: The images of the line item.
        items:
          type: string
        type: array
      name:
        description: The name of the line item.
        type: string
    required:
      - name
    title: checkout_session_custom_display_item_description
    type: object
    x-expandableFields: []
  checkout_session_display_item:
    description: ''
    properties:
      amount:
        description: Amount for the display item.
        type: integer
      currency:
        description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html),
          in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
        type: string
      custom:
        "$ref": "#/definitions/checkout_session_custom_display_item_description"
      plan:
        "$ref": "#/definitions/plan"
      quantity:
        description: Quantity of the display item being purchased.
        type: integer
      sku:
        "$ref": "#/definitions/sku"
      type:
        description: The type of display item. One of `custom`, `plan` or `sku`
        type: string
    title: checkout_session_display_item
    type: object
    x-expandableFields:
      - custom
      - plan
      - sku
  connect_collection_transfer:
    description: ''
    properties:
      amount:
        description: Amount transferred, in %s.
        type: integer
      currency:
        description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html),
          in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
        type: string
      destination:
        description: ID of the account that funds are being collected for.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/account"
      id:
        description: Unique identifier for the object.
        type: string
      livemode:
        description: Has the value `true` if the object exists in live mode or the
          value `false` if the object exists in test mode.
        type: boolean
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - connect_collection_transfer
        type: string
    required:
      - amount
      - currency
      - destination
      - id
      - livemode
      - object
    title: ConnectCollectionTransfer
    type: object
    x-expandableFields:
      - destination
  country_spec:
    description: |-
      Stripe needs to collect certain pieces of information about each account
      created. These requirements can differ depending on the account's country. The
      Country Specs API makes these rules available to your integration.

      You can also view the information from this API call as [an online
      guide](/docs/connect/required-verification-information).
    properties:
      default_currency:
        description: The default currency for this country. This applies to both payment
          methods and bank accounts.
        type: string
      id:
        description: Unique identifier for the object. Represented as the ISO country
          code for this country.
        type: string
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - country_spec
        type: string
      supported_bank_account_currencies:
        description: Currencies that can be accepted in the specific country (for
          transfers).
        type: object
      supported_payment_currencies:
        description: Currencies that can be accepted in the specified country (for
          payments).
        items:
          type: string
        type: array
      supported_payment_methods:
        description: Payment methods available in the specified country. You may need
          to enable some payment methods (e.g., [ACH](https://stripe.com/docs/ach))
          on your account before they appear in this list. The `stripe` payment method
          refers to [charging through your platform](https://stripe.com/docs/connect/destination-charges).
        items:
          type: string
        type: array
      supported_transfer_countries:
        description: Countries that can accept transfers from the specified country.
        items:
          type: string
        type: array
      verification_fields:
        "$ref": "#/definitions/country_spec_verification_fields"
    required:
      - default_currency
      - id
      - object
      - supported_bank_account_currencies
      - supported_payment_currencies
      - supported_payment_methods
      - supported_transfer_countries
      - verification_fields
    title: CountrySpec
    type: object
    x-expandableFields:
      - verification_fields
    x-resourceId: country_spec
  country_spec_verification_field_details:
    description: ''
    properties:
      additional:
        description: Additional fields which are only required for some users.
        items:
          type: string
        type: array
      minimum:
        description: Fields which every account must eventually provide.
        items:
          type: string
        type: array
    required:
      - additional
      - minimum
    title: CountrySpecVerificationFieldDetails
    type: object
    x-expandableFields: []
  country_spec_verification_fields:
    description: ''
    properties:
      company:
        "$ref": "#/definitions/country_spec_verification_field_details"
      individual:
        "$ref": "#/definitions/country_spec_verification_field_details"
    required:
      - company
      - individual
    title: CountrySpecVerificationFields
    type: object
    x-expandableFields:
      - company
      - individual
  coupon:
    description: |-
      A coupon contains information about a percent-off or amount-off discount you
      might want to apply to a customer. Coupons may be applied to [invoices](https://stripe.com/docs/api#invoices) or
      [orders](https://stripe.com/docs/api#create_order-coupon). Coupons do not work with conventional one-off [charges](https://stripe.com/docs/api#create_charge).
    properties:
      amount_off:
        description: Amount (in the `currency` specified) that will be taken off the
          subtotal of any invoices for this customer.
        type: integer
      created:
        description: Time at which the object was created. Measured in seconds since
          the Unix epoch.
        type: integer
      currency:
        description: If `amount_off` has been set, the three-letter [ISO code for
          the currency](https://stripe.com/docs/currencies) of the amount to take
          off.
        type: string
      duration:
        description: One of `forever`, `once`, and `repeating`. Describes how long
          a customer who applies this coupon will get the discount.
        enum:
          - forever
          - once
          - repeating
        type: string
      duration_in_months:
        description: If `duration` is `repeating`, the number of months the coupon
          applies. Null if coupon `duration` is `forever` or `once`.
        type: integer
      id:
        description: Unique identifier for the object.
        type: string
      livemode:
        description: Has the value `true` if the object exists in live mode or the
          value `false` if the object exists in test mode.
        type: boolean
      max_redemptions:
        description: Maximum number of times this coupon can be redeemed, in total,
          across all customers, before it is no longer valid.
        type: integer
      metadata:
        description: Set of key-value pairs that you can attach to an object. This
          can be useful for storing additional information about the object in a structured
          format.
        type: object
      name:
        description: Name of the coupon displayed to customers on for instance invoices
          or receipts.
        type: string
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - coupon
        type: string
      percent_off:
        description: Percent that will be taken off the subtotal of any invoices for
          this customer for the duration of the coupon. For example, a coupon with
          percent_off of 50 will make a %s100 invoice %s50 instead.
        type: number
      redeem_by:
        description: Date after which the coupon can no longer be redeemed.
        type: integer
      times_redeemed:
        description: Number of times this coupon has been applied to a customer.
        type: integer
      valid:
        description: Taking account of the above properties, whether this coupon can
          still be applied to a customer.
        type: boolean
    required:
      - created
      - duration
      - id
      - livemode
      - metadata
      - object
      - times_redeemed
      - valid
    title: Coupon
    type: object
    x-expandableFields: []
    x-resourceId: coupon
  credit_note:
    description: |-
      Issue a credit note to adjust an invoice's amount after the invoice is finalized.

      Related guide: [Credit Notes](https://stripe.com/docs/billing/invoices/credit-notes).
    properties:
      amount:
        description: The integer amount in **%s** representing the total amount of
          the credit note, including tax.
        type: integer
      created:
        description: Time at which the object was created. Measured in seconds since
          the Unix epoch.
        type: integer
      currency:
        description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html),
          in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
        type: string
      customer:
        description: ID of the customer.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/customer"
      customer_balance_transaction:
        description: Customer balance transaction related to this credit note.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/customer_balance_transaction"
      discount_amount:
        description: The integer amount in **%s** representing the amount of the discount
          that was credited.
        type: integer
      id:
        description: Unique identifier for the object.
        type: string
      invoice:
        description: ID of the invoice.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/invoice"
      lines:
        description: Line items that make up the credit note
        properties:
          data:
            description: Details about each object.
            items:
              "$ref": "#/definitions/credit_note_line_item"
            type: array
          has_more:
            description: True if this list has another page of items after this one
              that can be fetched.
            type: boolean
          object:
            description: String representing the object's type. Objects of the same
              type share the same value. Always has the value `list`.
            enum:
              - list
            type: string
          url:
            description: The URL where this list can be accessed.
            type: string
        required:
          - data
          - has_more
          - object
          - url
        title: CreditNoteLinesList
        type: object
        x-expandableFields:
          - data
      livemode:
        description: Has the value `true` if the object exists in live mode or the
          value `false` if the object exists in test mode.
        type: boolean
      memo:
        description: Customer-facing text that appears on the credit note PDF.
        type: string
      metadata:
        description: Set of key-value pairs that you can attach to an object. This
          can be useful for storing additional information about the object in a structured
          format.
        type: object
      number:
        description: A unique number that identifies this particular credit note and
          appears on the PDF of the credit note and its associated invoice.
        type: string
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - credit_note
        type: string
      out_of_band_amount:
        description: Amount that was credited outside of Stripe.
        type: integer
      pdf:
        description: The link to download the PDF of the credit note.
        type: string
      reason:
        description: Reason for issuing this credit note, one of `duplicate`, `fraudulent`,
          `order_change`, or `product_unsatisfactory`
        enum:
          - duplicate
          - fraudulent
          - order_change
          - product_unsatisfactory
        type: string
      refund:
        description: Refund related to this credit note.
        type: string
        x-expansionResources:
          oneOf:
            - "$ref": "#/definitions/refund"
      status:
        description: Status of this credit note, one of `issued` or `void`. Learn
          more about [voiding credit notes](https://stripe.com/docs/billing/invoices/credit-notes#voiding).
        enum:
          - issued
          - void
        type: string
      subtotal:
        description: The integer amount in **%s** representing the amount of the credit
          note, excluding tax and discount.
        type: integer
      tax_amounts:
        description: The aggregate amounts calculated per tax rate for all line items.
        items:
          "$ref": "#/definitions/credit_note_tax_amount"
        type: array
      total:
        description: The integer amount in **%s** representing the total amount of
          the credit note, including tax and discount.
        type: integer
      type:
        description: Type of this credit note, one of `pre_payment` or `post_payment`.
          A `pre_payment` credit note means it was issued when the invoice was open.
[...]
