openapi: 3.0.0
info:
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  description: The Stripe REST API. Please see https://stripe.com/docs/api for more details.
  termsOfService: https://stripe.com/us/terms/
  title: Stripe API
  version: 2020-03-02
  x-stripeSpecFilename: spec2
paths:
  /v1/products:
    post:
      description: <p>Creates a new product object. To create a product for use with orders, see <a href="#create_product">Products</a>.</p>
      operationId: PostProducts
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                active:
                  description: Whether the product is currently available for purchase.
                    Defaults to `true`.
                  type: boolean
                "attributes[]":
                  description: A list of up to 5 alphanumeric attributes.
                  type: string
                caption:
                  description: A short one-line description of the product, meant to be
                    displayable to the customer. May only be set if type=`good`.
                  type: string
                "deactivate_on[]":
                  description: An array of Connect application names or identifiers that
                    should not be able to order the SKUs for this product. May
                    only be set if type=`good`.
                  type: string
                description:
                  description: The product's description, meant to be displayable to the
                    customer. Use this field to optionally store a long form
                    explanation of the product being sold for your own rendering
                    purposes.
                  type: string
                "expand[]":
                  description: Specifies which fields in the response should be expanded.
                  type: string
                  enum:
                    - package_dimensions
                id:
                  description: An identifier will be randomly generated by Stripe. You can
                    optionally override this ID, but the ID must be unique
                    across all products in your Stripe account.
                  type: string
                "images[]":
                  description: A list of up to 8 URLs of images for this product, meant to
                    be displayable to the customer.
                  type: string
                #        - name: metadata
                #          in: formData
                #          required: false
                #          description: Set of key-value pairs that you can attach to an object.
                #            This can be useful for storing additional information about the object
                #            in a structured format. Individual keys can be unset by posting an
                #            empty value to them. All keys can be unset by posting an empty value
                #            to `metadata`.
                #          type: object
                name:
                  description: The product's name, meant to be displayable to the customer.
                    Whenever this product is sold via a subscription, name will
                    show up on associated invoice line item descriptions.
                  type: string
                "package_dimensions[height]":
                  description: The dimensions of this product for shipping purposes.
                  type: number
                "package_dimensions[length]":
                  description: The dimensions of this product for shipping purposes.
                  type: number
                "package_dimensions[weight]":
                  description: The dimensions of this product for shipping purposes.
                  type: number
                "package_dimensions[width]":
                  description: The dimensions of this product for shipping purposes.
                  type: number
                shippable:
                  description: Whether this product is shipped (i.e., physical goods).
                    Defaults to `true`. May only be set if type=`good`.
                  type: boolean
                statement_descriptor:
                  description: >-
                    An arbitrary string to be displayed on your customer's
                    credit card or bank statement. While most banks display this
                    information consistently, some may display it incorrectly or
                    not at all.

                    This may be up to 22 characters. The statement description may not include `<`, `>`, `\`, `"`, `'` characters, and will appear on your customer's statement in capital letters. Non-ASCII characters are automatically stripped. It must contain at least one letter.
                  type: string
                type:
                  description: The type of the product. Defaults to `service` if not
                    explicitly specified, enabling use of this product with
                    Subscriptions and Plans. Set this parameter to `good` to use
                    this product with Orders and SKUs. On API versions before
                    `2018-02-05`, this field defaults to `good` for
                    compatibility reasons.
                  type: string
                  enum:
                    - good
                    - service
                unit_label:
                  description: A label that represents units of this product in Stripe and
                    on customers’ receipts and invoices. When set, this will be
                    included in associated invoice line item descriptions.
                  type: string
                url:
                  description: A URL of a publicly-accessible webpage for this product. May
                    only be set if type=`good`.
                  type: string
              required:
                - name
      x-dependencies:
        - IF caption THEN type=='good';
        - IF [deactivate_on[]] THEN type=='good';
        - IF [package_dimensions[height]] OR [package_dimensions[length]] OR [package_dimensions[weight]] OR [package_dimensions[width]] THEN type=='good';
        - AllOrNone([package_dimensions[height]], [package_dimensions[length]], [package_dimensions[weight]], [package_dimensions[width]]);
        - IF shippable THEN type=='good';
        - IF url THEN type=='good';
#        - ZeroOrOne(statement_descriptor, type=='good'); # Unspecified dependency
#        - ZeroOrOne(unit_label, type=='good'); # Unspecified dependency
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/product"
        default:
          description: Error response.
servers:
  - url: https://api.stripe.com
components:
  schemas:
    product:
      description: |-
        Products describe the specific goods or services you offer to your customers.
        For example, you might offer a Standard and Premium version of your goods or service; each version would be a separate Product.
        They can be used in conjunction with [Prices](https://stripe.com/docs/api#prices) to configure pricing in Checkout and Subscriptions.

        Related guides: [Set up a subscription](https://stripe.com/docs/billing/subscriptions/set-up-subscription) or accept [one-time payments with Checkout](https://stripe.com/docs/payments/checkout/client#create-products) and more about [Products and Prices](https://stripe.com/docs/billing/prices-guide)
      properties:
        active:
          description: Whether the product is currently available for purchase.
          type: boolean
        attributes:
          description: A list of up to 5 attributes that each SKU can provide values
            for (e.g., `["color", "size"]`).
          items:
            maxLength: 5000
            type: string
          nullable: true
          type: array
        caption:
          description: A short one-line description of the product, meant to be displayable
            to the customer. Only applicable to products of `type=good`.
          maxLength: 5000
          nullable: true
          type: string
        created:
          description: Time at which the object was created. Measured in seconds since
            the Unix epoch.
          format: unix-time
          type: integer
        deactivate_on:
          description: An array of connect application identifiers that cannot purchase
            this product. Only applicable to products of `type=good`.
          items:
            maxLength: 5000
            type: string
          type: array
        description:
          description: The product's description, meant to be displayable to the customer.
            Use this field to optionally store a long form explanation of the product
            being sold for your own rendering purposes.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        images:
          description: A list of up to 8 URLs of images for this product, meant to
            be displayable to the customer.
          items:
            maxLength: 5000
            type: string
          type: array
        livemode:
          description: Has the value `true` if the object exists in live mode or the
            value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata)
            that you can attach to an object. This can be useful for storing additional
            information about the object in a structured format.
          type: object
        name:
          description: The product's name, meant to be displayable to the customer.
            Whenever this product is sold via a subscription, name will show up on
            associated invoice line item descriptions.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same
            type share the same value.
          enum:
            - product
          type: string
        package_dimensions:
          properties:
            height:
              description: Height, in inches.
              type: number
            length:
              description: Length, in inches.
              type: number
            weight:
              description: Weight, in ounces.
              type: number
            width:
              description: Width, in inches.
              type: number
          required:
            - height
            - length
            - weight
            - width
          type: object
          description: The dimensions of this product for shipping purposes. A SKU
            associated with this product can override this value by having its own
            `package_dimensions`. Only applicable to products of `type=good`.
          nullable: true
        shippable:
          description: Whether this product is a shipped good. Only applicable to
            products of `type=good`.
          nullable: true
          type: boolean
        statement_descriptor:
          description: Extra information about a product which will appear on your
            customer's credit card statement. In the case that multiple products are
            billed at once, the first statement descriptor will be used.
          maxLength: 5000
          nullable: true
          type: string
        unit_label:
          description: A label that represents units of this product in Stripe and
            on customers’ receipts and invoices. When set, this will be included in
            associated invoice line item descriptions.
          maxLength: 5000
          nullable: true
          type: string
        updated:
          description: Time at which the object was last updated. Measured in seconds
            since the Unix epoch.
          format: unix-time
          type: integer
        url:
          description: A URL of a publicly-accessible webpage for this product. Only
            applicable to products of `type=good`.
          maxLength: 2048
          nullable: true
          type: string
      required:
        - active
        - created
        - id
        - images
        - livemode
        - metadata
        - name
        - object
        - updated
      title: Product
      type: object
      x-expandableFields:
        - package_dimensions
      x-resourceId: product