---
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
schemes:
  - https
swagger: '2.0'
host: api.stripe.com
info:
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  description: The Stripe REST API. Please see https://stripe.com/docs/api for more
    details.
  termsOfService: https://stripe.com/us/terms/
  title: Stripe API
  version: '2020-03-02'
  x-stripeSpecFilename: spec2
paths:
  "/v1/products":
    post:
      description: <p>Creates a new product object. To create a product for use with
        orders, see <a href="#create_product">Products</a>.</p>
      operationId: PostProducts
      parameters:
        - name: active
          in: formData
          required: false
          description: Whether the product is currently available for purchase.
            Defaults to `true`.
          type: boolean
        - name: attributes[]
          in: formData
          required: false
          description: A list of up to 5 alphanumeric attributes.
          type: string
        - name: caption
          in: formData
          required: false
          description: A short one-line description of the product, meant to be
            displayable to the customer. May only be set if type=`good`.
          type: string
        - name: deactivate_on[]
          in: formData
          required: false
          description: An array of Connect application names or identifiers that
            should not be able to order the SKUs for this product. May only be
            set if type=`good`.
          type: string
        - name: description
          in: formData
          required: false
          description: The product's description, meant to be displayable to the
            customer. Use this field to optionally store a long form explanation
            of the product being sold for your own rendering purposes.
          type: string
        - name: expand[]
          in: formData
          required: false
          description: Specifies which fields in the response should be expanded.
          type: string
          enum:
            - package_dimensions
        - name: id
          in: formData
          required: false
          description: An identifier will be randomly generated by Stripe. You
            can optionally override this ID, but the ID must be unique across
            all products in your Stripe account.
          type: string
        - name: images[]
          in: formData
          required: false
          description: A list of up to 8 URLs of images for this product, meant
            to be displayable to the customer.
          type: string
#        - name: metadata
#          in: formData
#          required: false
#          description: Set of key-value pairs that you can attach to an object.
#            This can be useful for storing additional information about the object
#            in a structured format. Individual keys can be unset by posting an
#            empty value to them. All keys can be unset by posting an empty value
#            to `metadata`.
#          type: object
        - name: name
          in: formData
          required: true
          description: The product's name, meant to be displayable to the customer.
            Whenever this product is sold via a subscription, name will show up
            on associated invoice line item descriptions.
          type: string
        - name: package_dimensions[height]
          in: formData
          required: false
          description: The dimensions of this product for shipping purposes.
          type: number
        - name: package_dimensions[length]
          in: formData
          required: false
          description: The dimensions of this product for shipping purposes.
          type: number
        - name: package_dimensions[weight]
          in: formData
          required: false
          description: The dimensions of this product for shipping purposes.
          type: number
        - name: package_dimensions[width]
          in: formData
          required: false
          description: The dimensions of this product for shipping purposes.
          type: number
        - name: shippable
          in: formData
          required: false
          description: Whether this product is shipped (i.e., physical goods).
            Defaults to `true`. May only be set if type=`good`.
          type: boolean
        - name: statement_descriptor
          in: formData
          required: false
          description: An arbitrary string to be displayed on your customer's credit card or bank statement. While most banks display this information consistently, some may display it incorrectly or not at all.

            This may be up to 22 characters. The statement description may not include `<`, `>`, `\`, `"`, `'` characters, and will appear on your customer's statement in capital letters. Non-ASCII characters are automatically stripped.
            It must contain at least one letter.
          type: string
        - name: type
          in: formData
          required: false
          description: The type of the product. Defaults to `service` if not explicitly
            specified, enabling use of this product with Subscriptions and Plans.
            Set this parameter to `good` to use this product with Orders and SKUs.
            On API versions before `2018-02-05`, this field defaults to `good`
            for compatibility reasons.
          enum:
            - good
            - service
          type: string
        - name: unit_label
          in: formData
          required: false
          description: A label that represents units of this product in Stripe
            and on customers’ receipts and invoices. When set, this will be included
            in associated invoice line item descriptions.
          type: string
        - name: url
          in: formData
          required: false
          description: A URL of a publicly-accessible webpage for this product.
            May only be set if type=`good`.
          type: string
      x-dependencies:
        - IF caption THEN type=='good';
        - IF [deactivate_on[]] THEN type=='good';
        - IF [package_dimensions[height]] OR [package_dimensions[length]] OR [package_dimensions[weight]] OR [package_dimensions[width]] THEN type=='good';
        - AllOrNone([package_dimensions[height]], [package_dimensions[length]], [package_dimensions[weight]], [package_dimensions[width]]);
        - IF shippable THEN type=='good';
        - IF url THEN type=='good';
#        - ZeroOrOne(statement_descriptor, type=='good'); # Unspecified dependency
#        - ZeroOrOne(unit_label, type=='good'); # Unspecified dependency
      responses:
        '200':
          description: Successful response.
          schema:
            "$ref": "#/definitions/product"
        default:
          description: Error response.
#          schema:
#            "$ref": "#/definitions/error"
definitions:
  package_dimensions:
    description: ''
    properties:
      height:
        description: Height, in inches.
        type: number
      length:
        description: Length, in inches.
        type: number
      weight:
        description: Weight, in ounces.
        type: number
      width:
        description: Width, in inches.
        type: number
    required:
      - height
      - length
      - weight
      - width
    title: PackageDimensions
    type: object
    x-expandableFields: []
  product:
    description: |-
      Store representations of products you sell in `Product` objects, used in
      conjunction with [SKUs](https://stripe.com/docs/api#skus). Products may be physical goods, to be shipped, or
      digital.

      Documentation on `Product`s for use with `Subscription`s can be found at
      [Subscription Products](https://stripe.com/docs/api#service_products).

      Related guide: [Define products and SKUs](https://stripe.com/docs/orders#define-products-skus)
    properties:
      active:
        description: Whether the product is currently available for purchase.
        type: boolean
      attributes:
        description: A list of up to 5 attributes that each SKU can provide values
          for (e.g., `["color", "size"]`).
        items:
          type: string
        type: array
      caption:
        description: A short one-line description of the product, meant to be displayable
          to the customer. Only applicable to products of `type=good`.
        type: string
      created:
        description: Time at which the object was created. Measured in seconds since
          the Unix epoch.
        type: integer
      deactivate_on:
        description: An array of connect application identifiers that cannot purchase
          this product. Only applicable to products of `type=good`.
        items:
          type: string
        type: array
      description:
        description: The product's description, meant to be displayable to the customer.
          Use this field to optionally store a long form explanation of the product
          being sold for your own rendering purposes.
        type: string
      id:
        description: Unique identifier for the object.
        type: string
      images:
        description: A list of up to 8 URLs of images for this product, meant to be
          displayable to the customer. Only applicable to products of `type=good`.
        items:
          type: string
        type: array
      livemode:
        description: Has the value `true` if the object exists in live mode or the
          value `false` if the object exists in test mode.
        type: boolean
      metadata:
        description: Set of key-value pairs that you can attach to an object. This
          can be useful for storing additional information about the object in a structured
          format.
        type: object
      name:
        description: The product's name, meant to be displayable to the customer.
          Whenever this product is sold via a subscription, name will show up on associated
          invoice line item descriptions.
        type: string
      object:
        description: String representing the object's type. Objects of the same type
          share the same value.
        enum:
          - product
        type: string
      package_dimensions:
        "$ref": "#/definitions/package_dimensions"
      shippable:
        description: Whether this product is a shipped good. Only applicable to products
          of `type=good`.
        type: boolean
      statement_descriptor:
        description: Extra information about a product which will appear on your customer's
          credit card statement. In the case that multiple products are billed at
          once, the first statement descriptor will be used.
        type: string
      type:
        description: The type of the product. The product is either of type `good`,
          which is eligible for use with Orders and SKUs, or `service`, which is eligible
          for use with Subscriptions and Plans.
        enum:
          - good
          - service
        type: string
      unit_label:
        description: A label that represents units of this product in Stripe and on
          customers’ receipts and invoices. When set, this will be included in associated
          invoice line item descriptions.
        type: string
      updated:
        description: Time at which the object was last updated. Measured in seconds
          since the Unix epoch.
        type: integer
      url:
        description: A URL of a publicly-accessible webpage for this product. Only
          applicable to products of `type=good`.
        type: string
    required:
      - active
      - created
      - id
      - images
      - livemode
      - metadata
      - name
      - object
      - type
      - updated
    title: Product
    type: object
    x-expandableFields:
      - package_dimensions
    x-resourceId: product