openapi: 3.0.0
info:
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  description: The Stripe REST API. Please see https://stripe.com/docs/api for more details.
  termsOfService: https://stripe.com/us/terms/
  title: Stripe API
  version: 2020-03-02
  x-stripeSpecFilename: spec2
paths:
  /coupons:
    post:
      description: |-
        <p>You can create coupons easily via the <a href="https://dashboard.stripe.com/coupons">coupon management</a> page of the Stripe dashboard. Coupon creation is also accessible via the API if you need to create coupons on the fly.</p>

        <p>A coupon has either a <code>percent_off</code> or an <code>amount_off</code> and <code>currency</code>. If you set an <code>amount_off</code>, that amount will be subtracted from any invoice’s subtotal. For example, an invoice with a subtotal of <currency>100</currency> will have a final total of <currency>0</currency> if a coupon with an <code>amount_off</code> of <amount>200</amount> is applied to it and an invoice with a subtotal of <currency>300</currency> will have a final total of <currency>100</currency> if a coupon with an <code>amount_off</code> of <amount>200</amount> is applied to it.</p>
      operationId: PostCoupons
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                amount_off:
                  description: A positive integer representing the amount to subtract from
                    an invoice total (required if `percent_off` is not passed).
                  type: integer
                currency:
                  description: Three-letter [ISO code for the
                    currency](https://stripe.com/docs/currencies) of the
                    `amount_off` parameter (required if `amount_off` is passed).
                  type: string
                duration:
                  description: Specifies how long the discount will be in effect. Can be
                    `forever`, `once`, or `repeating`.
                  type: string
                  enum:
                    - forever
                    - once
                    - repeating
                duration_in_months:
                  description: Required only if `duration` is `repeating`, in which case it
                    must be a positive integer that specifies the number of
                    months the discount will be in effect.
                  type: integer
                #        - name: expand[]
                #          required: false
                #          in: formData
                #          description: Specifies which fields in the response should be expanded.
                #          type: string
                #          enum: []
                id:
                  description: Unique string of your choice that will be used to identify
                    this coupon when applying it to a customer. This is often a
                    specific code you'll give to your customer to use when
                    signing up (e.g., `FALL25OFF`). If you don't want to specify
                    a particular code, you can leave the ID blank and we'll
                    generate a random code for you.
                  type: string
                max_redemptions:
                  description: A positive integer specifying the number of times the coupon
                    can be redeemed before it's no longer valid. For example,
                    you might have a 50% off coupon that the first 20 readers of
                    your blog can use.
                  type: integer
                #        - name: metadata
                #          required: false
                #          in: formData
                #          description: Set of key-value pairs that you can attach to an object.
                #            This can be useful for storing additional information about the object
                #            in a structured format. Individual keys can be unset by posting an
                #            empty value to them. All keys can be unset by posting an empty value
                #            to `metadata`.
                #          type: object
                name:
                  description: Name of the coupon displayed to customers on, for instance
                    invoices, or receipts. By default the `id` is shown if
                    `name` is not set.
                  type: string
                percent_off:
                  description: A positive float larger than 0, and smaller or equal to 100,
                    that represents the discount the coupon will apply (required
                    if `amount_off` is not passed).
                  type: number
                redeem_by:
                  description: Unix timestamp specifying the last time at which the coupon
                    can be redeemed. After the redeem_by date, the coupon can no
                    longer be applied to new customers.
                  type: integer
              required:
                - duration
      x-dependencies:
        - Or(amount_off, percent_off);
#        - OnlyOne(amount_off, percent_off); # Unspecified dependency, substitutes previous one
        - IF amount_off THEN currency;
        - AllOrNone(duration=='repeating', duration_in_months);
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/coupon"
        default:
          description: Error response.
#          schema:
#            "$ref": "#/definitions/error"
servers:
  - url: https://api.stripe.com/v1
components:
  schemas:
    coupon:
      description: |-
        A coupon contains information about a percent-off or amount-off discount you
        might want to apply to a customer. Coupons may be applied to [invoices](https://stripe.com/docs/api#invoices) or
        [orders](https://stripe.com/docs/api#create_order-coupon). Coupons do not work with conventional one-off [charges](https://stripe.com/docs/api#create_charge).
      properties:
        amount_off:
          description: Amount (in the `currency` specified) that will be taken off
            the subtotal of any invoices for this customer.
          nullable: true
          type: integer
        applies_to:
          "$ref": "#/components/schemas/coupon_applies_to"
        created:
          description: Time at which the object was created. Measured in seconds since
            the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: If `amount_off` has been set, the three-letter [ISO code for
            the currency](https://stripe.com/docs/currencies) of the amount to take
            off.
          nullable: true
          type: string
        duration:
          description: One of `forever`, `once`, and `repeating`. Describes how long
            a customer who applies this coupon will get the discount.
          enum:
            - forever
            - once
            - repeating
          type: string
        duration_in_months:
          description: If `duration` is `repeating`, the number of months the coupon
            applies. Null if coupon `duration` is `forever` or `once`.
          nullable: true
          type: integer
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the
            value `false` if the object exists in test mode.
          type: boolean
        max_redemptions:
          description: Maximum number of times this coupon can be redeemed, in total,
            across all customers, before it is no longer valid.
          nullable: true
          type: integer
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata)
            that you can attach to an object. This can be useful for storing additional
            information about the object in a structured format.
          nullable: true
          type: object
        name:
          description: Name of the coupon displayed to customers on for instance invoices
            or receipts.
          maxLength: 5000
          nullable: true
          type: string
        object:
          description: String representing the object's type. Objects of the same
            type share the same value.
          enum:
            - coupon
          type: string
        percent_off:
          description: Percent that will be taken off the subtotal of any invoices
            for this customer for the duration of the coupon. For example, a coupon
            with percent_off of 50 will make a %s100 invoice %s50 instead.
          nullable: true
          type: number
        redeem_by:
          description: Date after which the coupon can no longer be redeemed.
          format: unix-time
          nullable: true
          type: integer
        times_redeemed:
          description: Number of times this coupon has been applied to a customer.
          type: integer
        valid:
          description: Taking account of the above properties, whether this coupon
            can still be applied to a customer.
          type: boolean
      required:
        - created
        - duration
        - id
        - livemode
        - object
        - times_redeemed
        - valid
      title: Coupon
      type: object
      x-expandableFields:
        - applies_to
      x-resourceId: coupon
    coupon_applies_to:
      description: ''
      properties:
        products:
          description: A list of product IDs this coupon applies to
          items:
            maxLength: 5000
            type: string
          type: array
      required:
        - products
      title: CouponAppliesTo
      type: object
      x-expandableFields: [ ]